<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">
		<!-- <div class="note note-danger">
			<p>
				NOTE: The below datatable is not connected to a real database so the filter and sorting is just simulated for demo purposes only.
			</p>
		</div> -->
		<!-- Begin: life time stats -->
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-order"></i>{{supplierTitle}}
				</div>

			</div>
			<div class="portlet-body">
                <div class="pull-right" ng-show="status<=1">
                    <button class="btn btn-info" ng-click="save(true)">Stocks Shortfall</button>
                    <button class="btn btn-success" ng-click="save()">Save Changes</button>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th width="15%">Qty Ordered</th>
                            <th width="15%">Qty Accepted</th>
                            <th width="15%" ng-show="status<=1">Quantity Received</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in products" ng-init="p.add = p.order">
                            <td>{{p.name}}</td>
                            <td>{{p.order + (p.received || 0)}}</td>
                            <td>{{p.received || 0}}</td>
                            <td ng-show="status<=1"><input type="number" ng-model="p.add" class="form-control input-sm"></td>
                        </tr>
                    </tbody>
                </table>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>
<!-- END MAIN CONTENT -->
