<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title tabbable-line">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Add Category</span>
				</div>				
			</div>
			<div class="portlet-body">

				<form name='categoryForm' ng-submit="submitCategory()" data-ng-init="categoryFormInit()">

					<div class="form-group">
						<label class="control-label">Parent Category</label>

						<div class="margin-top-10" ng-repeat="subcategory in categories">
							<select
								name="ptitle"
								class="form-control" 
								ng-model="subcategory.selectedPtitle"
								ng-options="option.cat_title for option in subcategory.categoryList"
								ng-change="setParentSubCategory($index)">

								<option value="">---- Select Category ----</option>
							</select>
						</div>


					</div>
					<p ng-show="loading">Please Wait...</p>								

					<div class="form-group" ng-class="{'has-error':categoryForm.title.$touched && categoryForm.title.$invalid}">
						
						<label class="control-label">Title</label>
						<input type="text" name="title" placeholder="Title" class="form-control" required ng-model="category.title"/>
						<span class="help-block" ng-show="categoryForm.title.$touched && categoryForm.title.$invalid">Title is required.</span>
					</div>

					<div class="form-group">
						<slug from="category.title" to="category.slug"></slug>
						<label class="control-label">Slug</label>
						<input type="text" name="slug" placeholder="Slug" class="form-control" required ng-model="category.slug" />
						<span ng-show="categoryForm.slug.$touched && categoryForm.slug.$invalid">Slug is required.</span>						
					</div>					

					<div class="clearfix margin-top-10">
						<span class="label label-danger">NOTE!</span> <span> Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
					</div>
					<br>

					<div class="row">
						<div class="col-sm-6">
							<label class="control-label">Thumbnail</label>
							<div class="form-group">								
								<div class="fileinput fileinput-new" data-provides="fileinput">
									<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
										<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=Thumbnail" alt=""/>
									</div>
									<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
									</div>
									<div>
										<span class="btn default btn-file">
										<span class="fileinput-new">
										Select thumb </span>
										<span class="fileinput-exists">
										Change </span>
										<input type="file" name="thumb" placeholder="thumbnail" class="form-control" required file-model="category.thumb"/>
										</span>
										<a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">
										Remove </a>
									</div>
								</div>
								

							</div>						
						</div>
						<div class="col-sm-6" ng-show="categories.length == 1 && !categories[0].selectedPtitle">
							<label class="control-label">listing Thumbnail</label>
							<div class="form-group">
								
								<div class="fileinput fileinput-new" data-provides="fileinput">
									<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
										<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=listing+thumb" alt=""/>
									</div>
									<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
									</div>
									<div>
										<span class="btn default btn-file">
										<span class="fileinput-new">Select thumb</span>
										<span class="fileinput-exists">Change</span>
										<input type="file" name="lthumb" placeholder="thumbnail" class="form-control" file-model="category.lthumb"/>
										</span>
										<a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">
										Remove </a>
									</div>
								</div>
								

							</div>						
						</div>
					</div>
							
					<div class="margin-top-10">
						<input type="submit" name="save" value="Save" class="btn green-haze">
						
						<a href="#" class="btn default">Cancel </a>
					</div>

				</form>

			</div>
		</div>
	</div>
</div>