a:hover,a:visited{
  text-decoration: none ;
}

a[href^="javascript"]:focus {
	text-decoration: none;
}


.html-preview img{
	max-width: 100%;
}


.animate-enter, 
.animate-leave
{ 
	-webkit-transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 100ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
	opacity: 1;
	top: 0;
	height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
	opacity: 0;
	top: -50px;
	height: 0px;
}

td.details-control {
	background: url('../images/details_open.png') no-repeat center center;
	cursor: pointer;
	width: 15px !important;
	
}
tr.detail td.details-control {
	background: url('../images/details_close.png') no-repeat center center;
}

.selectedsubmenu{
	background: #3e4b5c none repeat scroll 0 0 !important
}
.page-header.navbar .page-logo{
	padding-right: 0px;
}

.mClass div{
	white-space:normal !important;
}

.form-wizard .steps > li.done > a.step .desc i {
	margin-left: -15px;
}

.form-wizard .steps > li > a.step > .desc{
	display: block;
	width: 100%;
	text-align: center;
}

.form-wizard .steps > li > a.step > .number{
	margin-right: 0px;
}


ul.userlist{
	padding: 0;
	list-style-type: none;
	max-height: 200px;
	overflow: auto;
	background: #ccc;
}
ul.userlist li{
	padding: 10px;
}

#searchContainer {
	display: inline-block;
	width: 100%;
	
	overflow: auto;
}

#productModal .input-group-btn{
	vertical-align: top;
}

.img-responsive-h{
	max-height: 100%;
}

#adminorder .input-group{
	position: relative;
}

#adminorder .userlist{
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 6;
	top: 34px;
	display: none;
}

#adminorder .input-group.active .userlist{
	display: inline-block;
}

#adminorder .addresslist{
	position: absolute;
	right: 0;
	width: 100%;
	z-index: 6;
	top: 34px;
	display: none;
}

/* Front product css start*/
.prddetailtitle{
	width:100%;
	float:left;
	font-size:28px;
	color:#666;
	font-weight:500;
}

.prddetailsubexttitle{
	width:100%;
	float:left;
	font-size:14px;
	color:#666;
	font-weight:500;
}
.prddetailnormaltext {
	width: 100%;
	float: left;
	font-size: 13px;
	color: #666;
	font-weight: 500;
	text-align: justify;
	margin-top: 17px;
}
.prddetailchilledcover {
	width: 100%;
	float: left;
	margin-top: 30px;
}
.prd_prodchilledPink {
	float: left;
	padding: 6px 7px;
	border: solid 1px #aa00ff;
	border-radius: 4px;
	margin-right: 5px;
	box-shadow: 0 0 1px #aa00ff;
}
.prd_prodchilledPink span {
	display: inline-block;
	float: right;
	color: #aa00ff;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 2px;
}
.prd_prodchilledgray {
	float: left;
	padding: 6px 7px;
	border: solid 1px #959595;
	border-radius: 4px;
}
.prd_prodchilledgray span {
	display: inline-block;
	float: right;
	color: #959595;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 2px;
}
.prodchilled-btn {
	margin-right: 10px;
}
.prodchilled-btn, .prodnonchilled-btn {
	float: left;
	padding: 6px 7px;
	border: solid 1px #959595;
	border-radius: 4px;
	cursor: pointer;
}
.prodchilled-btn span, .prodnonchilled-btn span {
	display: inline-block;
	float: right;
	color: #959595;
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 2px;
}
.prodchilled-btn .-icon, .prodnonchilled-btn .-icon {
	background: url(../images/sprite.png) no-repeat scroll -410px 0;
	float: right;
	margin-right: 6px;
	margin-top: -2px;
	min-height: 24px;
	min-width: 24px;
}
.prodchilled-btn.active .-icon, .prodnonchilled-btn.active .-icon {
	background: url(../images/sprite.png) no-repeat -444px 0px;
}
.prodchilled-btn.active, .prodnonchilled-btn.active {
	border: solid 1px #aa00ff;
}
.prodchilled-btn.active span, .prodnonchilled-btn.active span {
	color: #aa00ff;
}
.prod_chilled_icongray {
	background: url(../images/sprite.png) no-repeat scroll -410px 0;
	float: right;
	margin-right: 6px;
	margin-top: -2px;
	min-height: 24px;
	min-width: 24px;
}
.prddetailtotalamount {
	width: 100%;
	float: left;
	color: #666;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: -5px;
}
.prddetailpricedicnt {
	width: 100%;
	float: left;
	color: #222122;
	font-size: 30px;
	font-weight: 500;
}
.prddetailpricedicnt span {
	color: #666;
	font-size: 14px;
	font-weight: 400;
	text-decoration: line-through;
}
.prddetailinstock {
	width: 100%;
	float: left;
	color: #00a651;
	font-size: 14px;
	font-weight: 400;
	margin-top: 7px;
}
.prdquantitybulkcover {
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
.pardqantitytexthead {
	width: 100%;
	float: none;
	font-size: 12px;
	font-weight: 500;
	color: #666;
	margin-bottom: 6px;
}
.prdquantitybulkcover .checkoutmiddlevlauediv {
	margin-right: 20px;
}
.prdquantitybulkcoverbulk {
	width: auto;
	float: left;
}
.productdetailcovermainbgimg {
	width: 100%;
	float: left;
	border: 1px solid #dfe2e4;
	border-top: none;
	border-radius: 5px;
	padding: 20px 25px 32px;
	position: relative;
	margin-top: 0;
	margin-bottom: 10px;
}
.productdetailcovermainbgimg .checkoutmiddlevlauediv {
	margin-top: 0px;
	max-width: 130px;
}
.combo_slider .tabsright .item {
	font-size: 0.9em;
	margin: 0 !important;
	padding: 0 !important;
	text-transform: capitalize;
	width: 100%;
}

.prdquantitybulkcoverbulkbox{
	width:100%;
	float:left;
	border:solid 1px #d7d7d7;
	border-radius:4px;
	margin-top:-1px;
}
.prdquanbulkboxone{
	float:left;
	background:#d7d7d7;
	width:65px;
	font-size:10px;
	color:#222122;
	font-weight:400;
	text-align:right;
	text-transform:uppercase;
	padding:2px 6px;
	line-height:17px;
}
.prdquanbulkboxtwo{
	float: left;
	font-size: 14px;
	color: #666;
	font-weight: 400;
	padding: 0 9px;
	line-height: 19px;
}
.prdquanbulkboxone {
	float: left;
	background: #d7d7d7;
	width: auto;
	font-size: 10px;
	color: #222122;
	font-weight: 400;
	text-align: right;
	text-transform: uppercase;
	padding: 2px 6px;
	line-height: 17px;
}
.prdquanbulkboxtwo {
	float: left;
	width: auto;
	font-size: 14px;
	color: #666;
	font-weight: 400;
	padding-left: 9px;
	line-height: 19px;
}
.prdquantitybulkcoverbulkbox > div {
	border-right: 1px solid #d7d7d7;
}
.prdquantitybulkcoverbulkbox > div:first-child, .prdquantitybulkcoverbulkbox > div:last-child {
	border-right: 0px solid #d7d7d7;
}
.prdquanbulkboxthree {
	float: left;
	width: 53px;
	border-right: solid 1px #d7d7d7;
	border-left: solid 1px #d7d7d7;
	font-size: 14px;
	color: #666;
	font-weight: 400;
	padding-left: 9px;
	line-height: 17px;
}
.prdquanbulkboxlast {
	float: left;
	width: 53px;
	font-size: 14px;
	color: #666;
	font-weight: 400;
	padding-left: 9px;
	line-height: 17px;
}
.prdquanbulkActive {
	color: #aa00ff;
	border-bottom: solid 2px #aa00ff;
	margin-bottom: -2px;
}

/* Front product css end*/

/* Front delivery slots css starts*/

.checkoutstepthree_dayfordelivery {
	width: 100%;
	float: left;
	font-size: 14px;
	font-weight: 400;
	color: #666;
	text-align: center
}
.checkoutstepthree_showdate {
	width: 100%;
	float: left;
	font-size: 24px;
	font-weight: 400;
	color: #222;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 51px;
}
.checkoutstepthree_showdate img {
	vertical-align: top;
	margin-top: 8px;
	margin-left: 24px;
}


.slots-bunch {
	display: inline-block;
	width: 14.25%;
	float: left;
}
.single-slot {
border: 1px solid #ccc;
padding: 4px;
text-align: left;
margin: 8px 3%;
background: rgba(204, 204, 204, 0.55);
font-size: 0.9em;
border-radius: 5px;
cursor: pointer;
color: #333;
}

.slots-bunch.active .slots-bunch-title:after {
content: "";
border-bottom: 4px solid #aa00ff;
width: 100%;
position: absolute;
width: 100%;
bottom: -2px;
}.slots-bunch-title .date-stamp {
text-transform: none;
text-align: center;
font-size: 0.9em;
}
.slots-bunch-title {
border-bottom: 2px solid #ccc;
padding-bottom: 10px;
margin-bottom: 10px;
position: relative;
}
.single-slot.inactive {
background: transparent;
opacity: 0.8;
cursor: not-allowed;
}
.slots-bunch-title .week-stamp {
text-transform: uppercase;
text-align: center;
font-size: 1.6em;
}
div#timeslots {
float: left;
width: 100%;
margin-top: 50px;
}

.checkboxtotaldiv-middle-first {
width: 100%;
float: left;
margin: 5px 0px;
}
.checkboxtotaldiv-title {
width: 85%;
text-align: right;
float: left;
font-size: 16px;
font-weight: 500;
color: #222222;
}
.checkboxtotaldiv-text {
text-align: right;
font-size: 16px;
color: #222222;
font-weight: 500;
/* float: right; */
position: relative;
}


.paymenttype{
	padding: 10px;
	text-align: center;
}

.paymenttype.active{
	box-shadow: -1px 1px 7px 6px #eed8f8;
	border: 1px solid #9d9d9d;
	border-radius: 3px;

}

/* Front delivery slots css end*/



#loyaltyValuePriceAdd{
	position: absolute;
	left: -7px;
	top: 0px;
	font-size: 22px;
	font-weight: bold;
}

.img-cover {
    width: 100%;
    text-align: center;
    height: 100px;
    overflow: hidden;
}

.disabled  {
	color: grey;
}

.slots-bunch.active .single-slot.selected {
    border: 1px solid purple;
}

.paymenttype img.hidethumb{
	position: absolute;
	top: 47%;
	left: 40%;
}

.paymenttype.active > div > div > img{
	margin-bottom: 15px;
}

.paymenttype img{
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.pic_divcash {
	width: 100%;
	float: left;
	height: 149px;
	display: table;
	text-align: center;
}
.pic_creadetcard {
	float: right;
	height: 149px;
	text-align: center;
	width: 100%;
	display: table;
}
.verticetnter {
	display: table-cell;
	vertical-align: middle;
}
.verticetnter2 {
	display: table-cell;
	vertical-align: middle;
}

.orhistry2_td2procdtcvr {
	float: left;
	width: 100%;
}
.orhistry2_td2procdtcvr {
	float: left;
	width: 100%;
}
.orhistry2_td2procdtcvr > span {
	float: left;
	margin-right: 15px;
	width: 70px;
	height: 70px;
}
.checkoutmiddletable .orhistry2_td2procdtcvr > span {
	margin-top: 5px;
	display: inline-block;
	width: 70px;
	height: 70px;
}
.addcardform{
	border: 2px solid #CCC;
	border-radius: 10px;	
	padding: 10px;
	float: left;
	width: 50%;
	margin-top: 10px;
	position: relative;	
}
.cardicons{
	width: 100%;
	height: 50px !important;
	margin-top: 0px !important;
	background-image: url('../images/ccard.png');
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

.cardicons.visa{
	background-image: url('../images/visa.png');	
	
}
.cardicons.mastercard{
	background-image: url('../images/master.png');		
}

.addicon{
	background: #aa00ff;
	position: absolute;
	right: 5px;
	bottom: 2px;
	padding: 5px 4px;
	line-height: 0.5;
	color: #fff;
	font-weight: bold;
	border-radius: 100%;
}

.availablecards{
	margin-top: 10px;
}
.checkouter-td-right-text {
	width: 74%;
	float: left;
}
.orhistry2_td2proctext1 {
	float: left;
	font-size: 15px;
	color: #222222;
	font-weight: 500;
	width: 100%;
}
.orhistry2_td2proctext2 {
	float: left;
	font-size: 12px;
	color: #7a7a7a;
	width: 100%;
}
.checkoutmiddletable .orhistry2_td2proctext2 {
	float: none;
}

.paymentselector .md-label{
	width: 100% !important;
}

.newcardicons{
	width: 53px;
	height: 36px !important;
	margin-top: 0px !important;
	background-image: url('../images/credit_64px.jpg');
	background-repeat: no-repeat;
	background-position: 0px 40px;
	position: relative;
	float: left;
	margin-left: 10px;
}

.newcardicons.maestro{
	background-position: -15px -450px;
}
.newcardicons.dinersclub{
	background-position: -537px -192px;
}
.newcardicons.laser{
	background-position: -537px -364px;
}
.newcardicons.jcb{
	background-position: -450px -364px;
}
.newcardicons.unionpay{
	background-position: -189px -192px;
}
.newcardicons.discover{
	background-position: -15px -277px;
}
.newcardicons.mastercard{
	background-position: -102px -450px;
}
.newcardicons.amex{
	background-position: -276px -20px;
}
.newcardicons.visa{
	background-position: -102px -622px;
}

md-radio-button:focus, .paymenttype:focus, .single-slot:focus {
    outline: none;
}

.img-cover img{
	width: auto;
	height: 100px;	
}

.name-sale-tag{
	background: #b119ff;
	padding: 1px 6px;
	color: #fff;
	border-radius: 2px;
	margin: 0;
}

tr.proSelected {
    border-right: 2px solid #26a69a;
    border-left: 2px solid #26a69a;
}

.gift-card-rightcover {
    padding-left: 15px;
}

.split-txt{
	word-break: break-all;
}


/****************************************
* Sale products on cart page css starts *
*****************************************/

.sale-pro-list li{
	width: 60px;
    height: 60px;
    /*border: 1px solid #ccc;*/
    margin: 0 4px;
    padding: 5px;
}

.sale-pro-list li.sale-action-add-icon table {
    height: 100%;
    vertical-align: middle;
    font-size: 1.5em;
}

.sale-pro-list li.sale-action-add-icon table td{
	padding: 0 !important;
}

.sale-pro-list li.sale-action-add-icon {
    display: inline-block;
    vertical-align: top;
    width: auto;
}

.strike-txt,.strike-txt-only{
    text-decoration: line-through;
}

.cart-table .strike-txt{
	padding: 0 10px;
	font-weight: bold;
}

/**************************************
* Sale products on cart page css ends *
***************************************/
.prod_chilled:focus {
    outline: none;
}

.prod_chilled {
	width: 100%;
	min-width: 80px;
	float: left;
	margin-bottom: 15px;
	cursor: pointer;
	overflow: hidden;	
}
.cart-table .prod_chilled {
	margin-bottom: 0px;
}
.prod_chilled_icon {
	float: right !important;
	background: url(../images/sprite.png) no-repeat -444px 0px;
	min-width: 24px;
	min-height: 24px;
	margin-right: 6px;
	margin-top: -2px;
}
.prod_chilled.notchilled .prod_chilled_icon {
	background: url(../images/sprite.png) no-repeat -410px 0px;
	min-width: 24px;
	min-height: 24px;
	margin-right: 0;
}
.prod_chilled span {
	float: right;
	display: inline-block;
	width: 48px;
	-webkit-transition: width 0.3s; /* Safari */
	transition: width 0.3s;
}
.prod_chilled.notchilled span {
	width: 0px;
	overflow: hidden;
	;
}
.prod_chilled span {
	color: #aa00ff;
}

.swal2-modal.swal-wide.show-swal2 {
    width: 50% !important;
    margin-right: auto !important;
    left: 25%;
    margin-left: auto !important;
}

.cart-nonchilled-btn-cover{
	background: #fafafa;
	padding: 0 7px;
	text-align: center;
	display: inline-block;
	float: right;
	position: relative;
}
.emptycart {
	text-align: center;
	padding: 16px;
	float: left;
	width: 100%;
	font-size: 1.5em;
	background: #ccc;
	margin: 25px 0 0px 0;
}

.cart-table{
	margin-top: 25px;
}

.cardpreview{
	padding: 0px 4px 0px 4px;
	background: none !important;
	border:0 none;
}

.is-expanded v-pane-content {
	overflow: visible !important;
	max-height: 100% !important;
}

.detail-productdiv > img {    
    margin: 0;    
    display: inline-block;
    max-width: 100%;
}
.productdetailbrudcumcover img {
    margin-left: 5px;
    margin-right: 5px;
}
.img-responsive-h {
    max-height: 100% !important;
    margin: auto;
}

.detail-productdiv {
    height: 111px;
    margin: 0 auto;
    width: 111px;
    text-align: center;
}

.btm-contetnrecipie span {
    width: 100%;
    display: inline-block;
    line-height: 1.7;
    white-space: pre-line;
}

.cocktaildetail-cover .media-left {
    width: 200px;
    height: 200px;
    float: left;        
}

.thumbnailheightset {
    min-height: 230px;
    padding-bottom: 18px;
    padding-top: 0;
}

.selectedproductcart {
    border: 1px solid #8c00d3;
    box-shadow: 3px 3px 3px 3px #e5c8f6;
}

.cocktail-detail-width{
	outline: none;
}
.div_specil_intertion_title {
    width: 100%;
    float: left;
    font-size: 20px;
    font-family: "Work Sans";
    color: #222;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.alcohlinputextareaa2 {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    float: left;
    font-size: 13px;
    height: 81px;
    padding: 5px 10px;
    resize: none;
    width: 100%;
}
.full-width{
	width: 100%;
}

.help-block {
    color: rgba(245,1,30,1);
}

#delivery-instruction{
	border: 1px solid #d7d7d7;
    border-radius: 5px;
    float: left;
    font-size: 13px;
    height: 81px;
    padding: 5px 10px;
    resize: none;
}
.m-top-15{
	margin-top: 15px;
}

#cart-smokedetail{
	width: 100%;
	height: 120px;
    float: left;
    background: #ffffff;
    border-radius: 5px;
    padding: 5px;
    font-size: 11px;
    color: #7f7f7f;
    font-weight: 500;
    text-align: left;
    margin: 15px 0px 10px;
}
.pos-relative{
	position: relative;
}
#smoke-edit-btn{
	position: absolute;
    top: 41%;
    right: 6px;
    font-size: 1.5em;
    z-index: 1;
}

.btn-purple {
	background-color: #aa00ff !important;
	border-color: #d7d7d7;
	font-size: 15px;
	color: #fff !important;
	border: 1px solid transparent !important;
}
.btn.btn-cls-gift {
	border: 1px solid #d7d7d7;
	margin-right: 5px;
	background: #fff;
	color: #222122;
	font-size: 15px;
}