/*party-package-page*/
.partypackegescover.ng-scope {
     padding-bottom: 10px;
    width: 100%;
}
.title-propertset{
    color: #fcffff;
    font-size: 50px;
	padding-left:30px;
}
.subtitl-propertset{
	 color: #fcffff;
    font-size: 28px;
	padding-left:75px;
}

.btmcontn-set{
	color: #fcffff;
    font-size: 15px;
    height: 118px;
    line-height: 1.3;
    overflow: hidden;
    padding-left: 40px;
    text-align: center;
    width: 30%;
}
.customize-propertyset{
	color:#676767;
	 font-size: 15px;
    font-weight: 500;
	 margin: 0;
	 padding-left: 20px;
	 padding-top:20px;
}

.ttile-divcover.ng-scope > span{
	color:#bbb;
	
display: inline-block;
    width: 67%;
}
.custmize-contntset{
	margin-top:0;
	padding-left:12px;
		color:#676767;
		width:30%;
		 float: left;
}
.margincbtm-packg{
}

.party-alcholcover  .byz::after, .party-alcholcover  .byz::before{
	 background-color: transparent;
    background-image: url("../images/edi-partyt-icon.png");
    background-position: center top;
    background-repeat: no-repeat;
    height: 20px;
    margin-top: -10px;
    width: 30px;
	
}
.party-alcholcover   .byz::before {
	background-image:url(../images/open-rightmark.png) ;
	background-repeat:no-repeat;
	background-position:center;
	transform:none !important; 
	
}

.bg-removepackage::after, .bg-removepackage::before{
	background-color:transparent !important;
	
}

.rgrhtdiv{
	width:80% !important
}

.byz.ng-scope {
    margin-bottom: 10px;
	border-bottom: 2px solid #d8d8d8 !important;
	
}


.bg-removepackage {
	
  border-bottom: medium none !important;
    margin-bottom: 0 !important;
    margin-top: -1px;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.xyz.ng-scope.ng-isolate-scope{
	
	background:#ffffff;
}
.ttile-divcover.ng-scope {
  
    width: 100%;
}
.item-btmtitle.ng-binding {
    margin-top: 0;
    text-align: center;
    width: 100%;
	 height: 40px;
	 color:#676767;
	 font-size:14px;
}

.thumbnailheightset{
	height:230px;
	padding-bottom: 0;
    padding-top: 0;
	
}


.item-btmtitle.ng-binding {
    height: 40px;
    margin-top: 0;
    text-align: center;
    width: 100%;
}
.checkoutmiddlevlauediv{
	margin:0 auto;
	margin-top:10px
}
/*.thumbnailheightset:hover, .thumbnailheightset:active, .thumbnailheightset:focus,*/ .selectedproductcart{
	border:1px solid #8c00d3;
	box-shadow: 3px 3px 3px 3px #e5c8f6;
}
.amntrupee-cls{
	margin-top:0
}

.packtiti-rightset{
	margin-bottom:0
}

.pardqantitytexthead{
	margin-top:20px;
	font-weight:500
}
.party-alcholcover {
    margin-bottom: 70px;
}
.giftcard-rightpanel{
	width:100%;
	 margin-bottom: 12px;
	 float:left
}
.gift-breadcrumbscover{
	width:100%;
	float:left;
	padding:20px 15px;



}
.gift-breadcrumbscover .breadcrumb > li + li::before {
    color: #ccc;
    content: "> ";
    padding: 0 5px;
}
.gift-breadcrumbscover .breadcrumb
{
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
    padding: 0;
	margin-bottom:0

}
.breadcrumb a{
	color:#7a7a7a;
	font-size:13px
	
}
.breadcrumb > .active{
	color:#222122;
	font-size:13px;
	font-weight: 500;
	
}

.giftcard-maincontentcover{
	width:100%;
	float:left;
	padding-left:20px;
	padding-top:20px;
	 
}
.boxshadow-maincontnt-giftcard{
	 -webkit-box-shadow: 0 2px 3px -1px #babdbf;
       -moz-box-shadow: 0 2px 3px -1px #babdbf;
            box-shadow: 0 2px 3px -1px #babdbf;
			  background: #ffffff none repeat scroll 0 0;
    border-radius: 5px;
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.left-giftcardcoverimg {
    float: left;
    height: 418px;
    width: 416px;
	display:table;
	background:#f2f2f2;
	
}

.giftcard-imgcover{
	display:table-cell;
	vertical-align:middle;
	text-align:center
}
.left-gftmaincontncover{
	width:50%;
	float:left;
}
.right-gftmaincontncover{
	width:50%;
	float:left;
	padding-right: 30px;
}
.giftcard-textright{
	width:100%;
	float:left;
	color:#666666;
	font-size:28px;
	font-weight: 500;
	padding-top: 12px;
}

.card-btmtextdiv{
	width:100%;
	float:left;
	color:#666666;
	font-size:13px;
	 padding-bottom: 30px;
    padding-top: 30px;
}
.card-detailtext{
	width:100%;
	float:left;
	color:#666666;
	font-size:15px;
	padding-bottom:20px;
}


.amnt-inputgftcover{
	width:100%;
	float:left;
	padding-bottom:20px
}
.gift-ampunttxtcove{
		width:100%;
	float:left;
	color:#666666;
	font-size:12px;
	margin-bottom:5px
}
.amnt-inputgftcover input{
	width:51px;
	height:33px;
	float:left;
	margin-right:8px;
	font-size:15px;
	color:#222122;
	padding:6px;
}
.to-formdivcover{
	width:100%;
	float:left;
	padding-bottom:14px
}
.to-formdivcover label{
	width:100%;
	float:left;
	color:#666666;
	font-size:12px;
	font-weight: 500;
}
.input-tocover{
	width:242px;
	float:left
}
.input-tocover input{
	width:100%;
	float:left;
	height:33px;
	margin-bottom:8px;
	font-size:12px
}

.input-tocover textarea{
	height:92px;
	width:100%;
	float:left;
	resize:none;
	font-size:12px
}

.quantitycover-gift{
	width:100%;
	float:left;
	padding-bottom:10px;
	padding-top:10px
}
.addcart-giftpage{
	width:100%;
	float:left;
	padding-bottom:20px
}
.btn-text-note{
	width:100%;
	float:left;
	padding-bottom:55px;
	color:#949494;
	font-size:12px;
}
.chckoutstep6main-cover{
	width:740px;
	margin:0 auto;
	background:#fff;
	padding-bottom:10px;
	padding-top:30px;
	 display: inline-block;
    border-radius: 5px;
	 -webkit-box-shadow: 0 2px 3px -1px #babdbf;
       -moz-box-shadow: 0 2px 3px -1px #babdbf;
            box-shadow: 0 2px 3px -1px #babdbf;
}

.smile-signcover{
	width:100%;
	float:left;
	text-align:center
}
.chckoutstep6main-cover1 {
    float: left;
    text-align: center;
    width: 100%;
	margin-bottom: 22px;
}

.uralsetcover{
	width:100%;
	float:left;
	text-align:center;
	
}
.uralset-textdiv{
	width:100%;
	float:left;
	text-align:center;
	font-weight:300;
	font-size:48px;
	color:#666666
}
.uralset-textdiv span{
	color: #222222;
    float: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    padding-top: 7px;
    text-align: center;
    width: 100%;
}
.ordrnumber-cover{
	width:100%;
	float:left;
	text-align:center;
	padding-bottom:40px;
	padding-top:26px
}
.order-numberinnercover{
	width:275px;
	height:53px;
	display:table-cell;
	background:#ebeef0;
	font-size:24px;
	color:#666;
	vertical-align:middle;
}

.ordernno-divcenterset{
	 display: table;
    margin: 0 auto;
	
}
.payment-descriptioncover{
	width:100%;
	float:left;
	text-align:center;
	padding-bottom:40px
}
.paymentdetail-fixwidth{
	width:363px;
	margin:0 auto
}
.paymentamnt-coverdiv{
	width:100%;
	float:left;
	border-bottom:1px solid #dfdfdf;
	padding-bottom:10px;
	font-size:14px;
	color:#222222;
	padding-bottom: 12px;
    padding-top: 10px;
}
.paymentamnt-coverdiv:last-child{
	border-bottom:none
}
.lefttext-paymnt {
    float: left;
    text-align: right;
    width: 48%;
}
.right-resultamounttxt {
    float: left;
    padding-left: 20px;
    text-align: left;
    width: 52%;
}
.sharepurchasecover{
	width:100%;
	float:left;
	text-align:center;
	color:#666666;
	 padding-bottom: 16px;
	font-size: 27px;
    letter-spacing: -1px;
}
.ahare-purchase-btmtxt {
  color: #222222;
    display: inline-block;
    float: none;
    font-size: 15px;
    line-height: 1.7;
    text-align: center;
    width: 411px;
}
.share-divcover{
	width:100%;
	float:left;
	padding-bottom:48px;
	padding-top:30px;
	text-align:center
}
.kepshopingcoverdiv{
	width:100%;
	float:left;
	padding-bottom:50px;
	padding-top:40px;
	 border-top: 1px solid #dfdfdf;
}
.checkout-step6-innercover{
	width:475px;
	margin:0 auto;
	display: inline-block;
}
.keepshoping-textcover {
    color: #666666;
    float: left;
    font-size: 28px;
    padding-bottom: 25px;
    text-align: center;
    width: 100%;
}
.kepshopingcoverdiv .btn.btn-default{
	width:241px;
	height:53px;
	background:none;
	border:2px solid #aa00ff;
	color:#666666;
	font-size:18px;
	border-radius:5px;
	 text-transform: uppercase;
}

.giftcard-imgcover > img {
    border-radius: 10px;
    box-shadow: 0 10px 10px 0 #bbbbbb;
}

/*cocktail-page*/
.cocktail-packagecover{
	margin-bottom:65px
	
	
}
.media-bodyheader{
	background:#fff;
	padding:15px;
	margin-bottom:21px
	
}
.media.media-bodyheader:first-child {
    margin-top: 10px;
}

.cocktail-leftimgdiv{
	width:284px;
	height:286px;
	float:left;
	border-radius:4px;
	overflow:hidden;
	
}
.cockatil-bodycover{
	width:68%;
	float:left;
	padding-left: 20px;
}

.cocktail-heading{
	width:100%;
	float:left;
	color:#666566;
	font-size:24px;
	padding-top: 5px;
	margin-bottom:0
}
.cocktail-subtitlbtm{
	width:100%;
	float:left;
	color:#656565;
	font-size:13px;
	padding:3px 0; 
	margin:0
}
.moredetail-cocktailtext{
	width:100%;
	float:left;
	
	margin:0;
	
	padding:0 0 3px;
	
}
.product-desccocktail{
	max-width:84%;
	float:left;
	text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
	color:#656565;
	font-size:13px;
	font-weight: 500;
}
.moredetail-cocktailtext a{
	 width:16%;
	color:#aa00ff;
	font-size:15px;
	margin:0;
	padding:0;
	text-decoration:none;
	float:left;
	text-align:right;
	margin: -1px 0 0;
}
.sub-headingcocktail{
	width:100%;
	float:left;
	color:#656565;
	font-size:18px;
	font-weight:500
}

.thumbnail.cocktail-products-div {
    float: left;
    height: 116px;
    overflow: hidden;
    text-align: center;
    width: 93px;
	 margin-right: 4px;
	 margin-bottom: 5px;
}
.thumbnail.cocktail-products-div .caption{
	width:100%;
	float:left;
	font-size:11px;
	color:#222122;
	font-weight:600;
	padding:5px 0; height: 20px;
text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}

.cocktail-cartbtn {
    float: left;
    width: 100%;
}
.cocktail-cartbtn .product_addcart, .cocktail-cartbtn .product_addcart:hover{
	float:right;
	margin-top:0;
	margin-left:25px
}
 .cocktail-cartbtn .product_addcart:hover,  .cocktail-cartbtn .product_addcart:active,
 .cocktail-cartbtn .product_addcart:focus{
	 color:#fff
 }
.owl-carousel{
	float:left
}

.cocktail-amntdivcover > span{
	font-size:13px;
	color:#656565;
	float:right; margin-top: 12px;
	
}
.amntrupee{
	font-size:30px;
	color:#222122;
	font-weight:600;
	float:right;
	padding-left:15px
}

.cocktail-amntdivcover{
	width:65%;
	float:right
}
.media-left.cocktail-leftimgdiv img {
    width: 100%;
	height:100%;
	border-radius:4px
}

.navbar-default .navbar-nav li{
	list-style:none
}
.product_addcart, .product_addcart:hover{
	padding-top:9px
}

/*cocktail-detail*/
.cocktaildetail-cover .media-left{
	width:350px;
	height:350px;
	float:left
}
.cocktaildetail-cover .media-left a{
	width:100%;
	float:left;
	height:100%;
}
.cocktaildetail-cover .media-left img{
	width:100%;
	height:100%;
	margin:0
}


.cocktail-detailcontent .media-heading{
	width:100%;
	float:left;
	font-size:28px;
	color:#666566;
	font-weight:500;
}
.media-body.cocktail-detailcontent {
    float: left;
    padding-left: 26px;
    width: 60%;
}
.amntrupee-clsdetail{
	width:100%;
	float:left;
	color: #222122;
    font-size: 28px;
    font-weight: 600;
	 margin-top: 0;
}
.cocktail-detailcontent .cocktaildetail-btmset{
	margin-bottom:15px
}
.btn.product_addcart.addcart-detail {
    color: #fff;
    font-size: 14.4px;
    font-weight: 600;
	 margin-top: 25px;
}
.addcart-btncover{
	width:100%;
	float:left
}
.btn.product_addcart.addcart-detail > img {
    float: left;
    margin-left: 0;
}
.media-body p{
	font-weight:500
}
.amnt-savingclr{
	color:#aa00ff ;
	font-size:22px;
}

.checkoutmiddlevlauediv.quantity-detailmarginrmv .pardqantitytexthead {
    margin-top: 10px;
}


.checkoutmiddlevlauediv.quantity-detailmarginrmv {
    margin-top: 0;
}
.cockdetail-leftposion{
	padding-left:6px
}

.ingredintwidthset{

	max-width:80%;
	color: #676767;
    float: left;
    margin-top: 0;
    padding-left: 12px;
	padding-left:0
}
.ttile-divcover{
	width:100%;
}
.cocktaildetail-coverdiv{
	float: left;
    margin-bottom: 13px;
    margin-top: 30px;
    width: 100%;
}
.cocktaildetail-coverdiv span{
	float: left;
	padding-left: 15px;
}
.cocktail-btmborder .byz.ng-scope{
	border-bottom:none !important;
	
}

.cocktail-btmborder  .byz::after, .cocktail-btmborder .byz::before{
	 background-color: #cccccc;
    background-image: url("../images/cocktail-accordian-close.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 22px;
    margin-top:-2px;
    width: 22px;
	left:0
	
}
.cocktail-btmborder   .byz::before {
	background-image:url("../images/cocktail-accordian-open.png") ;
	background-repeat:no-repeat;
	background-position:center center;
	transform:none !important; 
	 background-color: #8d00d4;
	
}


.marginset-detailpage{
	margin-bottom:32px;
}

.cocktail-btmborder{
	border-bottom:1px solid #e3e5e5

}
.cocktail-btmborder:last-child{
	border-bottom:none
}

	.detail-productdiv {
    height: 111px;
    margin: 0 auto;
    width: 111px;
}
.detail-productdiv > img {
    height: 100%;
    margin: 0;
    width: 100%;
}
.btm-contetnrecipie{
	width:100%;
	border-bottom:1px solid #e3e5e5;
}
.recipie-titlediv{
	width:100%;
	float:left;
	color: #000;
    font-size: 15px;
    font-weight: 500;
	padding-left:40px
}


.cocktail-detailpagecover span{
	color:#363535;
	font-size:12px;
}
.product-cocktailtitle{
	font-size:13px !important
}
.btm-contetnrecipie span{
	font-size:13px;
	color:#69696a;
	width:100%;
	display:inline-block;
	 line-height: 1.7;
	
}

.paddingrmvcls-cocktail{
	padding-left:0
}


.cocktail-btmborder.reipie-marginset-titl .byz{
	margin:12px 0 30px
}

.productdetailbrudcumcover.cocktail-detailpagecover.ng-scope {
    margin-bottom: 55px;
    margin-top: 10px;
    padding:0
   
}

.ingrdients-tabpadingrmv{
	padding-top: 10px;
padding-left: 29px;
padding-right: 29px;
	
}

.cocktail-detailpagecover  md-tabs-wrapper{
padding-left: 25px;
padding-right: 25px;
}
.cocktail-detailpagecover .md-tab{
	padding:17px 24px
}
@media (min-width : 1024px) and (max-width : 1200px){
}

@media  (min-width : 768px) and (max-width : 1023px){
}

@media only screen and (max-width : 767px) {
}

@media only screen and (max-width : 479px) {
}