<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- Begin: life time stats -->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-bell"></i>{{$state.$current.data.pageTitle}}
                </div>
            </div>
            <form ng-submit="submit()">
                <div class="form-horizontal" id="info-message">
                    
                    <div class="form-group" ng:class="{'has-error':errors['status'][0]}">
                        <label class="col-md-2 control-label">Status</label>
                        <div class="col-md-10 radio-list">
                            <label class="radio-inline">
                                <input plugin-uniform type="radio" class="form-control" ng-model="promotionalbanner.status" ng-value="0" name="status">
                                Both User
                            </label>
                            <label class="radio-inline">
                                <input plugin-uniform type="radio" class="form-control" ng-model="promotionalbanner.status" ng-value="1" name="status">
                                LoggedIn User
                            </label>
                            <label class="radio-inline">
                                <input plugin-uniform type="radio" class="form-control" ng-model="promotionalbanner.status" ng-value="2" name="status">
                                Guest User
                            </label>
                            <span class="help-block" ng-bind="errors['status'][0]"></span>
                        </div>
                    </div>

                    <div class="form-group" ng:class="{'has-error':errors['promotionalImage'][0]}">
                        <label class="col-md-2 control-label">Banner Image:<span class="required">
                        * </span>
                        </label>
                        <div class="col-md-10">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="max-width: 150px; max-height: 150px;">
                                    <img src="asset/i/defaultImage.png" ng-src="promotionalbanner/i/{{promotionalbanner.promotionalImage}}" err-src="asset/i/defaultImage.png" alt=""/>
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 100px; max-height: 100px;">
                                </div>
                                <div>
                                    <span class="btn default btn-file">
                                        <span class="fileinput-new">{{ promotionalbanner.promotionalImage?'Change':'Select' }}</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" placeholder="thumbnail" class="form-control" file-model="promotionalbanner.promotionalImage"/>
                                    </span> 
                                </div>
                            </div>
                            <span class="help-block" ng-bind="errors['promotionalImage'][0]"></span>
                        </div>
                    </div>

                    <div class="form-group" ng:class="{'has-error':errors['promotionalImageMobile'][0]}">
                        <label class="col-md-2 control-label">Banner Image (Mobile):<span class="required"> * </span></label>
                        <div class="col-md-10">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="max-width: 150px; max-height: 150px;">
                                    <img src="asset/i/defaultImage.png" ng-src="promotionalbanner/i/{{promotionalbanner.promotionalImageMobile}}" err-src="asset/i/defaultImage.png" alt=""/>
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 100px; max-height: 100px;">
                                </div>
                                <div>
                                    <span class="btn default btn-file">
                                        <span class="fileinput-new">{{promotionalbanner.promotionalImageMobile?'Change':'Select'}}</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" placeholder="thumbnail" class="form-control" file-model="promotionalbanner.promotionalImageMobile"/>
                                    </span>
                                </div>
                            </div>
                            <span class="help-block" ng-bind="errors['promotionalImageMobile'][0]"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="margiv-top-10 pull-right">
                                <button type="submit" ng-disabled="loading" class="btn green-haze" ><i class="fa fa-check"></i>{{promotionalbanner._id?'Update':'Add'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>