<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">		
		<!-- Begin: life time stats -->
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-users"></i>Promotional Banner Listing
				</div>
				<div class="actions">
					<a ui-sref="userLayout.promotionalbanners.add" class="btn default yellow-stripe">
    					<i class="fa fa-plus"></i><span class="hidden-480">Add Promotional Banner</span>
					</a>
					
                    <!-- <a class="btn default" ng-click="globalRemove('category','#categorieslisttab')">
                    <i class="fa fa-trash"></i>
                    <span class="hidden-480">Remove Category</span>
                    </a> -->
				</div>
			</div>

			<div class="portlet-body">
				<div class="table-container">
					
					<table class="table table-striped table-bordered table-hover" id="promotionalbannerslisttab">
						<thead>
							<tr role="row" class="heading">
								
								<th width="5%">									
									Sr.
								</th>
								<!-- <th width="2%">
									<input type="checkbox" class="group-checkable">
								</th> -->
								<th width="30%">
									Status
								</th>
								<th>
									Promotional Image
								</th>
								<th width="10%">
									Promotional Image (Mobile)
								</th>
								<th width="10%">
									Actions
								</th>
							</tr>
						</thead>
						<tbody id="tBody">
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
	
    var grid = new Datatable();

	var promotionalbannersTableAjax = function () {

        var handleRecords = function () {        

            grid.init({
                src: $("#promotionalbannerslisttab"),
                onSuccess: function (grid) {
                    // execute some code after table records loaded
                },
                onError: function (grid) {
                    // execute some code on network or other general error  
                },
                loadingMessage: 'Loading...',
                dataTable: { 
                    "columns": [
                        {                       
                            mRender: function(data, type, full, meta) {
                                return meta.row + meta.settings._iDisplayStart + 1;
                            },
                            orderable:false                     
                        },{  
                            mData: null,
                            mRender: function(data, type, full) {                           
                                var bClass = 'success';
                                var bLabel = (data.status==0)?'Both':((data.status==1)?'Logged-in User':'Guest User');
                                return '<a href="javascript:void(0)"><span class="label label-sm label-'+bClass+'">'+bLabel+'</span></a>';                                                       
                            },
                            orderable:true
                        },{  
                            mData: null,
                            mRender: function(data, type, full){
                                var style = "max-width: 80px; max-height: 80px;";
                                return '<img src="asset/i/defaultImage.png" ng-src="promotionalbanner/i/'+data.promotionalImage+'" err-src="asset/i/defaultImage.png" alt="" style="'+style+'" />';
                            },
                            orderable:true
                        },{  
                            mData: null,
                            mRender: function(data, type, full) {                           
                                var style = "max-width: 80px; max-height: 80px;";
                                return '<img src="asset/i/defaultImage.png" ng-src="promotionalbanner/i/'+data.promotionalImageMobile+'" err-src="asset/i/defaultImage.png" alt="" style="'+style+'" />';
                            },
                            orderable:true
                        },{
                            mData: null,
                            mRender: function(data, type, full) {                           
                                return '<a title="Edit" ui-sref=userLayout.promotionalbanners.edit({promotionalbannerid:"'+data._id.$id+'"}) class="btn btn-xs default"><i class="fa fa-edit"></i></a>';                          
                            },
                            orderable:false
                        }
                    ],
                    "ajax": {
                        "url": "../adminapi/promotionalbanners/list", // ajax source                    
                        "type": "POST"
                    },
                    "order": [], // set first column as a default sort by asc
                    "fnDrawCallback": function (oSettings) {
    				    var content = $('#tBody');
    				    angular.element(document).injector().invoke(function($compile) {
    				        var scope = angular.element(content).scope();
    				        $compile(content)(scope);
    				    });
    					Metronic.initAjax();
    				}
                }
            });

            // handle group actionsubmit button click
            grid.getTableWrapper().on('click', '.table-group-action-submit', function (e) {
                e.preventDefault();
                var action = $(".table-group-action-input", grid.getTableWrapper());
                if (action.val() != "" && grid.getSelectedRowsCount() > 0) {
                    grid.setAjaxParam("customActionType", "group_action");
                    grid.setAjaxParam("customActionName", action.val());
                    grid.setAjaxParam("id", grid.getSelectedRows());
                    grid.getDataTable().ajax.reload();
                    grid.clearAjaxParams();
                } else if (action.val() == "") {
                    Metronic.alert({
                        type: 'danger',
                        icon: 'warning',
                        message: 'Please select an action',
                        container: grid.getTableWrapper(),
                        place: 'prepend'
                    });
                } else if (grid.getSelectedRowsCount() === 0) {
                    Metronic.alert({
                        type: 'danger',
                        icon: 'warning',
                        message: 'No record selected',
                        container: grid.getTableWrapper(),
                        place: 'prepend'
                    });
                }
            });
        }

        return {

            //main function to initiate the module
            init: function () {
                handleRecords();
            }

        };

    }();

	promotionalbannersTableAjax.init();
</script>
<!-- END MAIN JS