<div class="row">
	<div class="col-md-12">
		<!-- Begin: life time stats -->
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-shopping-cart"></i>Order #{{order.reference}} <span class="hidden-480">
					| {{order.dateslug}} </span>
				</div>
				<div class="actions">
					<a class="btn default yellow-stripe" target="_blank" href="/printjob/{{order.reference}}">
						<i class="fa fa-print"></i>
						<span class="hidden-480">Print </span>
					</a>
					
				</div>
				<div class="actions">
					<a ui-sref="userLayout.orders.list" class="btn default yellow-stripe">
					<i class="fa fa-angle-left"></i>
					<span class="hidden-480">
					Back </span>
					</a>
					
				</div>
			</div>
			<div class="portlet-body">
				<div class="tabbable">
					
					<div class="tab-content">
						<div class="tab-pane active" id="tab_1">
							<div class="row">
								<div class="col-md-6 col-sm-12">
									<div class="portlet yellow-crusta box">
										<div class="portlet-title">
											<div class="caption">
												<i class="fa fa-cogs"></i>Order Details
											</div>											
										</div>
										<div class="portlet-body">
											<div class="row static-info">
												<div class="col-md-5 name">
													 Order #:
												</div>
												<div class="col-md-7 value">
													 {{order.reference}} <!-- <span class="label label-info label-sm">
													Email confirmation was sent </span> -->
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													 Order Date & Time:
												</div>
												<div class="col-md-7 value">
													 {{order.dateslug}}
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													 Order Status:
												</div>
												<div class="col-md-7 value">
													
													<span class="label label-success" ng-if="order.status==0">Under Process</span>
													<span class="label label-success" ng-if="order.status==1">Dispatch</span>
													<span class="label label-success" ng-if="order.status==2">Delivered</span>

												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													 Grand Total:
												</div>
												<div class="col-md-7 value">
													 ${{order.payment.total}}
												</div>
											</div>
											<div class="row static-info">
												<div class="col-md-5 name">
													 Payment Information:
												</div>
												<div class="col-md-7 value">
													 <span >
													 	{{(order.payment.method == 'COD')?'Cash on delivery':'Debit/Credit card';}}
													 </span>
												</div>
											</div>

											<div class="row static-info">
												<div class="col-md-5 name">
													 Delivery Type:
												</div>
												<div class="col-md-7 value">
													<div ng-if="order.delivery.type==0">														
														<span ng-if="!order.service.express.status">Standard 1 hour delivery</span>
														<span ng-if="order.service.express.status">Express 30 min delivery</span>
													</div>
													<div ng-if="order.delivery.type==1">Advance Order</div>
												</div>
											</div>

											<div class="row static-info" ng-if="order.delivery.type==1">
												<div class="col-md-5 name">
													 Time Slot:
												</div>
												<div class="col-md-7 value">
													 <span class="label label-danger">{{order.timeslot.dateslug}} / {{order.timeslot.slotslug}}</span>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6 col-sm-12">
									<div class="portlet blue-hoki box">
										<div class="portlet-title">
											<div class="caption">
												<i class="fa fa-cogs"></i>Customer Information
											</div>
											
										</div>
										<div class="portlet-body">
											<div class="row static-info" ng-if="order.user.name">
												<div class="col-md-5 name">
													 Customer Name:
												</div>
												<div class="col-md-7 value">
													 {{order.user.name}}
												</div>
											</div>
											<div class="row static-info" ng-if="order.user.email">
												<div class="col-md-5 name">
													 Email:
												</div>
												<div class="col-md-7 value">
													 {{order.user.email}}
												</div>
											</div>
											
											<div class="row static-info" ng-if="order.user.mobile_number">
												<div class="col-md-5 name">
													 Phone Number:
												</div>
												<div class="col-md-7 value">
													 {{order.user.mobile_number}}
												</div>
											</div>

										</div>
									</div>
								</div>	
							</div>
							<div class="row">								
								<div class="col-md-6 col-sm-12">
									<div class="portlet red-sunglo box">
										<div class="portlet-title">
											<div class="caption">
												<i class="fa fa-cogs"></i>Delivery Address
											</div>
											
										</div>
										<div class="portlet-body">
											<div class="row static-info">
												<div class="col-md-12 value">
													{{shipping.firstname}} {{shipping.lastname}}
												</div>	
												<div class="col-md-12 value" ng-if="shipping.company">
													{{shipping.company}}
												</div>
												<div class="col-md-12 value" ng-if="shipping.BLDG_NAME">
													{{shipping.BLDG_NAME}}
												</div>
												<div class="col-md-12 value" ng-if="shipping.HBRN">
													{{shipping.HBRN}}
												</div>
												<div class="col-md-12 value" ng-if="shipping.FLOOR || shipping.FLOOR">
													<span ng-if="shipping.FLOOR">#{{shipping.FLOOR}} - </span>
													<span ng-if="shipping.UNIT">{{shipping.UNIT}}</span>
												</div>
												<div class="col-md-12 value" ng-if="shipping.PostalCode">
													Singapore - {{shipping.PostalCode}}
												</div>												
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="portlet red-sunglo box">
										<div class="portlet-title">
											<div class="caption">
												<i class="fa fa-cogs"></i>Delivery Instruction
											</div>
											
										</div>
										<div class="portlet-body">
											<div class="row static-info">	
												<div ng-if="shipping.instruction">
													<div class="col-md-6 name">
														 Address Specific Instructions:
													</div>
													<div class="col-md-6 value">
														 {{shipping.instruction}}
													</div>
												</div>
												<div ng-if="order.delivery.contact">
													<div class="col-md-6 name">
														 Delivery Contact #:
													</div>
													<div class="col-md-6 value">
														 {{order.delivery.contact}}
													</div>
												</div>												 
												<div ng-if="order.delivery.instructions">
													<div class="col-md-6 name">
														 Delivery Instructions :
													</div>
													<div class="col-md-6 value">
														 {{order.delivery.instructions}}
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<div class="portlet grey-cascade box">
										<div class="portlet-title">
											<div class="caption">
												<i class="fa fa-cogs"></i>Shopping Cart
											</div>
											
										</div>
										<div class="portlet-body">
											<div class="table-responsive">
												<table class="table table-hover table-bordered">
												<thead>
												<tr>
													<th>
														 Product
													</th>													
													<!-- <th>
														 Original Price
													</th> -->
													<th style="text-align: center;">
														 Quantity
													</th>
													<th style="text-align: right;">
														Loyalty Point
													</th>
													<th style="text-align: right;">
														 Unit Price
													</th>
													<th style="text-align: right;">
														 Total
													</th>
												</tr>
												</thead>
												<tbody>
													<tr ng-repeat-start="(key, orderproduct) in order.particulars">
													</tr>
														<td ng:class="{'bold':orderproduct.products.length}">{{orderproduct.name}} - {{orderproduct.category}}
														<div style="font-weight: normal;" ng-repeat="(pkey, packageProduct) in orderproduct.products">
															{{packageProduct.quantity}}&nbsp;&times;&nbsp;{{packageProduct.name}}
														</div>
														</td>														
														<td align="center">{{orderproduct.quantity}}</td>
														<td align="right">{{orderproduct.totalLoyalty}}</td>
														<td align="right">{{orderproduct.unitPrice | pricingTxt}}</td>
														<td align="right">{{orderproduct.total | pricingTxt}}</td>
															
													<tr ng-repeat-end>													
													<tr>
														<td colspan="4" align="right">Sub Total</td>
														<td align="right">{{order.payment.subtotal | pricingTxt}}</td>
													</tr>
													<tr ng-if="!order.service.delivery.free">
														<td colspan="4" align="right">Delivery Charge</td>
														<td align="right">{{order.service.delivery.charges | pricingTxt}}</td>
													</tr>
													<tr ng-if="order.service.smoke.status || order.service.express.status">
														<td colspan="4" align="right">
															Service Charge
															<div ng-if="order.service.smoke.status">Need Smoke ({{order.service.smoke.charges | pricingTxt}})</div>
															<div ng-if="order.service.express.status">Express Delivery ({{order.service.express.charges | pricingTxt}})</div>
														</td>
														<td align="right">															
															{{ serviceCharge | pricingTxt }}
														</td>
													</tr>
													<tr>
														<td colspan="4" align="right"><h4>Total</h4></td>
														<td align="right"><h4>{{order.payment.total | pricingTxt}}</h4></td>
													</tr>												
												</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>							
						</div>						
					</div>
				</div>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>