<div class="breadcrumdiv">
<ol class="breadcrumb">
<li><a ui-sref="mainLayout.index">Home</a></li>  
<li><a>My Account</a></li>  
<li class="active">Credits</li>
</ol>
</div>
<div class="titlecreidt">Credits</div>
<div class="balancedetailsdiv">
  <div class="balancedetailsdivinner">
    <div class="amountdiv">250</div>
    <div class="elventestgry">Current Balance</div>
  </div>
  <div class="balancedetailsdivinner">
    <div class="amountdiv">20</div>
    <div class="elventestgry">Recently Earned</div>
  </div>
  <div class="balancedetailsdivinner">
    <div class="amountdiv">$250</div>
    <div class="elventestgry">Worth of Credits</div>
  </div>
</div>
<table class="creditable">
  <!--<caption>Table 1</caption>-->
  <thead>
    <tr>
      <th>Reason</th>
      <th>earned</th>
      <th>redeemed</th>
      <th>comment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><div class="mainfirsttddiv">
          <div class="arowpicdiv"><a href="#"><img src="images/upload_picn.png"/></a></div>
          <div class="textfistrdivmain">
            <div class="textboldtit">Redeemed for Order</div>
            <div class="textnormalit">1620834196</div>
            <div class="text_time_no">2016-03-23 03:10:09 PM</div>
          </div>
        </div></td>
      <td><div class="fig_txtup">-</div></td>
      <td><div class="fig_txtup">50</div></td>
      <td><div class="cometdivtextpar">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div></td>
    </tr>
    <tr>
      <td><div class="mainfirsttddiv">
          <div class="arowpicdiv"><a href="#"><img src="images/downloadpicn.png"/></a></div>
          <div class="textfistrdivmain">
            <div class="textboldtit">Redeemed for Order</div>
            <div class="textnormalit">1620834196</div>
            <div class="text_time_no">2016-03-23 03:10:09 PM</div>
          </div>
        </div></td>
      <td><div class="fig_txtup">200</div></td>
      <td><div class="fig_txtup">-</div></td>
      <td><div class="cometdivtextpar">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div></td>
    </tr>
    <tr>
      <td><div class="mainfirsttddiv">
          <div class="arowpicdiv"><a href="#"><img src="images/upload_picn.png"/></a></div>
          <div class="textfistrdivmain">
            <div class="textboldtit">Redeemed for Order</div>
            <div class="textnormalit">1620834196</div>
            <div class="text_time_no">2016-03-23 03:10:09 PM</div>
          </div>
        </div></td>
      <td><div class="fig_txtup">-</div></td>
      <td><div class="fig_txtup">50</div></td>
      <td><div class="cometdivtextpar">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div></td>
    </tr>
    <tr>
      <td><div class="mainfirsttddiv">
          <div class="arowpicdiv"><a href="#"><img src="images/downloadpicn.png"/></a></div>
          <div class="textfistrdivmain">
            <div class="textboldtit">Redeemed for Order</div>
            <div class="textnormalit">1620834196</div>
            <div class="text_time_no">2016-03-23 03:10:09 PM</div>
          </div>
        </div></td>
      <td><div class="fig_txtup">200</div></td>
      <td><div class="fig_txtup">-</div></td>
      <td><div class="cometdivtextpar">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div></td>
    </tr>
  </tbody>
</table>