<div class="breadcrumdiv">
 <ol class="breadcrumb">
  <li><a ui-sref="mainLayout.index">Home</a></li>  
  <li><a>My Account</a></li>  
  <li class="active">Invite</li>
</ol>
</div>
<div class="titlecreidt">Invite your friends</div>
<!-- <div class="balancedetailsdiv2">
  <div class="balancetexxt">
    Invite your friend
  </div>  
</div> -->
<form ng-submit="sendinvitation()" class="profile_form">                  
    <div class="fullwidth" ng:class="{'has-error':errors.emails}">
      <label>To <span class="required-astrik">*</span></label>
      <textarea placeholder="Eg. jack@xyz.com, sarah@xyz.com" ng-model="invite.emails" class="alcohalrestertextbox form-control"></textarea>        
      <span class="help-block">You can add multiple email(s) separated by a comma(,) or a semi colon (;).</span>
      <span class="help-block" ng-bind="errors.emails"></span>        
    </div>
    <div class="fullwidth">
      <button ng-disabled="loading" data-style="expand-right" class="alcohalfootersign" type="submit" >Send Invitation</button>      
    </div>
</form>

