<div class="breadcrumdiv">
	<ol class="breadcrumb">
		<li><a ui-sref="mainLayout.index">Home</a></li>  
		<li><a>My Account</a></li>  
		<li class="active">Loyalty</li>
	</ol>
</div>
<div ng-if="loyalty.length">
	<div class="titlecreidt">Loyalty</div>
	<div class="balancedetailsdiv">
		<div class="balancedetailsdivinner">
			<div class="amountdiv">{{statics.credit - statics.debit | number : 2}}</div>
			<div class="elventestgry">Current Balance</div>
		</div>
		<div class="balancedetailsdivinner">
			<div class="amountdiv">{{statics.credit_last | number : 2}}</div>
			<div class="elventestgry">Recently Earned</div>
		</div>

	</div>
	<div class="credis-table-main">
	<div class="table-responsive">
		<table class="creditable">
			
			<thead>
				<tr>
					<th>Reason</th>
					<th>earned</th>
					<th>redeemed</th>
					<th>comment</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="currLoyal in loyalty">
					<td>
						<div class="mainfirsttddiv">
							<div class="arowpicdiv"><a href="#"><img src="images/upload_picn.png"/></a></div>
							<div class="textfistrdivmain">
								<div class="textboldtit" ng-if="currLoyal.type=='credit'">Earned for Order</div>
								<div class="textboldtit" ng-if="currLoyal.type!='credit'">Redeemed for Order</div>
								<div class="textnormalit">{{currLoyal.reason.key}}</div>
								<div class="text_time_no">{{ (currLoyal.on.sec * 1000) | date:'yyyy-MM-dd h:mm:ss a'}}</div>
							</div>
						</div>
					</td>
					
					<td ng-if="currLoyal.type=='credit'"><div class="fig_txtup">{{currLoyal.points}}</div></td>
					<td ng-if="currLoyal.type=='credit'"><div class="fig_txtup">-</div></td>

					<td ng-if="currLoyal.type!=='credit'"><div class="fig_txtup">-</div></td>
					<td ng-if="currLoyal.type!=='credit'"><div class="fig_txtup">{{currLoyal.points}}</div></td>


					<td><div class="cometdivtextpar">{{currLoyal.reason.comment}}</div></td>
				</tr>
				
			</tbody>
		</table>
	</div>
	</div>

	<div class="wish-nextprvicvr">
		<button type="button" class="wishprev" ng-click="prev()" ng-disabled="pagination.start<1"><span class="glyphicon glyphicon-menu-left"></span> Previous </button>
		<button type="button" class="wishnext" ng-click="next()" ng-disabled="!loyaltyMore">Next <span class="glyphicon glyphicon-menu-right"></span></button>
	</div>

</div>



<div ng-if="!loyalty.length">
	There is no loyalty point
</div>