<div class="breadcrumdiv">
 <ol class="breadcrumb">
	<li><a href="#">Home</a></li>
	<li><a ui-sref="accountLayout.profile">My Account</a></li>
	<li><a ui-sref="accountLayout.orders">Orders </a></li>
	<li class="active">Order History</li>
</ol>
</div>

<div class="titlecreidt history-title-padding">Order History</div>

<div class="col-sm-12 order-history" ng-repeat="(key, order) in orders">
	<div class="row order">
		<div class="col-sm-6">

			<div class="-key cursor-pointer" ui-sref="accountLayout.order({orderid:order._id.$id})">Order: {{order.reference}}</div>
			<div class="-timeslot">Delivered on: {{ order.created_at.sec | deliveryDateSlug}}</div>
			<div class="-items">{{order.quantity}} Items</div>
		</div>
		<div class="col-sm-3">
			<div class="-status">
				STATUS
				<div class="deep-status">Pending</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="-rating">
				<div class="-rating-status" ng-bind="order.rate?'THANKS FOR RATING!':'RATE IT'"></div>
				<div class="-rating-value">
					<span uib-rating ng-model="order.rate" read-only="order.rate" ng-change="setRating(order)" max="5" enable-reset="false" state-on="'glyphicon-heart'" state-off="'glyphicon-heart-empty'"></span>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-if="!orders" class="emptycart">
	<div>There is no order history</div>
	<div><a class="checkouterback" ui-sref="mainLayout.index">back to shopping</a></div>
</div>