<div class="breadcrumdiv">
<ol class="breadcrumb">
<li><a href="#">Home</a></li>
<li><a href="#">My Account</a></li>
<li><a href="#">Account Settings  </a></li>
<li class="active">Change Password</li>
</ol>
</div>
<div class="titlecreidt">Change Password</div>
<div class="balancedetailsdiv2">
  <div class="balancetexxt2">Use the form below to change the password for your Alcohol Delivery account</div>
</div>
<form name="passwordFrm" class="change_form">
      <div class="registeremailcvr" ng:class="{'has-error':errors.current[0]}">
        
        <label>Current Password</label>
        <input type="password" placeholder="........." ng-model="password.current" class="alcohalrestertextbox">
        
        <span class="help-block" ng-bind="errors.current[0]"></span>
        <span class="error" ng-show="passwordFrm.current.$error.required">The field is required.</span>

      </div>

      <div class="registeremailcvr" ng:class="{'has-error':errors.new[0]}">
        
        <label>New Password</label>
        <input type="password" placeholder="........." ng-model="password.new" class="alcohalrestertextbox">
        
        <span class="help-block" ng-bind="errors.new[0]"></span>
        <span class="error" ng-show="passwordFrm.new.$error.required">The field is required.</span>

      </div>

      <div class="registeremailcvr" ng:class="{'has-error':errors.confirm[0]}">
        
        <label>Reenter New Password</label>
        <input type="password" placeholder="........." ng-model="password.confirm" class="alcohalrestertextbox">
        
        <span class="help-block" ng-bind="errors.confirm[0]"></span>
        <span class="error" ng-show="passwordFrm.confirm.$error.required">The field is required.</span>

      </div>

      <div class="fullwidth">
        <button class="alcohalfootersign" type="button" ng-click="update()" ng-disabled="!passwordFrm.$valid">Save Changes</button>
      </div>         
</form>