<div class="breadcrumdiv">
<ol class="breadcrumb">
<li><a ui-sref="mainLayout.index">Home</a></li>  
<li><a>My Account</a></li>  
<li class="active">Change Password</li>
</ol>
</div>
<div class="titlecreidt">Change Password</div>
<div class="balancedetailsdiv2">
  <div class="balancetexxt2">Use the form below to change the password for your Alcohol Delivery account</div>
</div>
<form name="passwordFrm" class="change_form" ng-submit="update()">
      <div class="registeremailcvr" ng-hide="currentPasswordHide" ng:class="{'has-error':errors.current[0]}">
        
        <label>Current Password</label>
        <input type="password" placeholder="Current Password" ng-model="password.current" class="alcohalrestertextbox">
        
        <span class="help-block" ng-bind="errors.current[0]"></span>
        <span class="error" ng-show="passwordFrm.current.$error.required">The field is required.</span>

      </div>

      <div class="registeremailcvr" ng:class="{'has-error':errors.new[0]}">
        
        <label>New Password</label>
        <input type="password" placeholder="New Password" ng-model="password.new" class="alcohalrestertextbox">
        
        <span class="help-block" ng-bind="errors.new[0]"></span>
        <span class="error" ng-show="passwordFrm.new.$error.required">The field is required.</span>

      </div>

      <div class="registeremailcvr" ng:class="{'has-error':errors.confirm[0]}">
        
        <label>Re-enter New Password</label>
        <input type="password" placeholder="Re-enter New Password" ng-model="password.confirm" class="alcohalrestertextbox">
        
        <span class="help-block" ng-bind="errors.confirm[0]"></span>
        <span class="error" ng-show="passwordFrm.confirm.$error.required">The field is required.</span>

      </div>

      <div class="fullwidth">
        <button class="alcohalfootersign" type="submit"  ng-disabled="!passwordFrm.$valid || loading">Save Changes</button>
      </div>         
</form>