<div class="breadcrumdiv">
	<ol class="breadcrumb">
		<li><a ui-sref="mainLayout.index">Home</a></li>  
  		<li><a>My Account</a></li>  
		<li class="active">Wish List</li>
	</ol>
</div>
<div class="titlecreidt">Wish List</div>
<div class="wishlist-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>

<div class="checkoutmiddletable">
<div class="table-responsive">
	<table class="table wislistborbtm" ng-if="alcoholWishlist.getTotalProducts()>0">
		<tbody>
			<tr ng-repeat="(key, product) in alcoholWishlist.getList(page,10)" ng-init="product.cart = alcoholCart.getProductById(product._id)">
				
				<td>					
					<div class="orhistry2_td2procdtcvr">																		
						<span><img err-pro-src="" ng-src="products/i/200/{{product._original.imageFiles[0].source}}" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=Image" alt="" class="img-responsive" /></span>
						<div class="checkouter-td-right-text">
							<div class="orhistry2_td2proctext1">{{product._name}}</div>
							<div class="orhistry2_td2proctext2">{{product._original.shortDescription}}</div> 
							<div class="orhistry2_td2proctext1 wishgaptop">{{settings.general.currency}} {{product._price}}</div>
							<div>
								<md-checkbox class="salelist" ng-model="product._notify" ng-true-value="1" ng-false-value="0" aria-label="Notify" ng-change="alcoholWishlist.add(product._id,1)">						
									Tell me when it's on sale
								</md-checkbox>								
					        </div>
						</div>  
					</div>
					
				</td>

				<td>
					<div class="wishlist-tbledatecover">
						<div class="wishlist-tbledate">Added {{product._addedSlug}}</div>
						
						<div class="prod_addtocart" ng-init="product._original.servechilled = false">
							
							<!-- <add-to-cart-btn product="product"></add-to-cart-btn> -->

							<add-to-cart-btn product="product._original" ng-if="(product.cart.quantity || product._original.outOfStockType == 2)"></add-to-cart-btn>

							<out-of-stock product="product._original" ng-if="product.cart.quantity<1 && product._original.outOfStockType == 1"></out-of-stock>
							
						</div>

						<div class="wishlist-tblestock" ng-if="product._isAvailable">In Stock</div>
						<div class="wishlist-tblestock" ng-if="!product._isAvailable">Not In Stock</div>

					</div>
				</td>

				<td> 

					<a ng-click="alcoholWishlist.removeById(product._id)" class="checkoutmiddletabledeleteimg" href="javascript:void(0)"><i class="glyphicon glyphicon-trash"></i></a>

				</td>
			</tr>

			
		</tbody>
	</table>
    </div>


	<div ng-if="alcoholWishlist.getTotalProducts()<1" class="no-data-msg">
		Your Wishlist Is Empty
	</div>

	<div class="wish-nextprvicvr" ng-show="alcoholWishlist.getTotalProducts()>0">
		<button type="button" class="wishprev" ng-click="page=page-1" ng-disabled="page<1"><span class="glyphicon glyphicon-menu-left"></span> Previous </button>
		<button type="button" class="wishnext" ng-click="page=page+1" ng-disabled="alcoholWishlist.getTotalProducts()<=(page+1)*10">Next <span class="glyphicon glyphicon-menu-right"></span></button>
	</div>

</div>
