<section class="fullwidth">		
	<div class="fullwidth settop">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<nav class="navbar navbar-default">
						<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nopadd" id="bs-example-navbar-collapse-1">
							<side-bar></side-bar>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
				</div>
				<div class="col-md-8" ui-view></div>
				<div class="col-md-2">
					<div class="right_discount">
						<div class="huge">Huge</div>
						<div class="hugediscou">Discounts</div>
						<div class="fullwidth">
							<div class="slider demo" id="slider-1">
								<input type="checkbox" value="1" checked>
							</div>
						</div>
						<div class="hd_des">Only applicable for orders placed in advance. Advanced timings to be chosen upon checkout.</div>
					</div>
					<div class="recentorder">
						<div class="recentorder_title">Recent Order</div>
						<div class="fullwidth modifyscroll">
							<div class="ro_items">
								<div class="chk_unchk">
									<input type="checkbox" class="modcheck" name="cc" id="c1">
									<label for="c1"><span></span></label>                                 
								</div>
								<div class="ro_pic"><img src="images/product-thumb.png" class="img-responsive" /></div>
								<div class="ro_desc">CP Crispy Chicken with Korean...</div>
							</div>
							<div class="ro_items">
								<div class="chk_unchk">
									<input type="checkbox" class="modcheck" name="cc" id="c2">
									<label for="c2"><span></span></label>                                 
								</div>
								<div class="ro_pic"><img src="images/product-thumb.png" class="img-responsive" /></div>
								<div class="ro_desc">CP Crispy Chicken with Korean...</div>
							</div>
							<div class="ro_items">
								<div class="chk_unchk">
									<input type="checkbox" class="modcheck" name="cc" id="c3">
									<label for="c3"><span></span></label>                                 
								</div>
								<div class="ro_pic"><img src="images/product-thumb.png" class="img-responsive" /></div>
								<div class="ro_desc">CP Crispy Chicken with Korean...</div>
							</div>
							<div class="ro_items">
								<div class="chk_unchk">
									<input type="checkbox" class="modcheck" name="cc" id="c4">
									<label for="c4"><span></span></label>                                 
								</div>
								<div class="ro_pic"><img src="images/product-thumb.png" class="img-responsive" /></div>
								<div class="ro_desc">CP Crispy Chicken with Korean...</div>
							</div>
							<div class="ro_items">
								<div class="chk_unchk">
									<input type="checkbox" class="modcheck" name="cc" id="c5">
									<label for="c5"><span></span></label>                                 
								</div>
								<div class="ro_pic"><img src="images/product-thumb.png" class="img-responsive" /></div>
								<div class="ro_desc">CP Crispy Chicken with Korean...</div>
							</div>
							<div class="ro_items">
								<div class="chk_unchk">
									<input type="checkbox" class="modcheck" name="cc" id="c6">
									<label for="c6"><span></span></label>                                 
								</div>
								<div class="ro_pic"><img src="images/product-thumb.png" class="img-responsive" /></div>
								<div class="ro_desc">CP Crispy Chicken with Korean...</div>
							</div>
							<div class="ro_items">
								<div class="chk_unchk">
									<input type="checkbox" class="modcheck" name="cc" id="c7">
									<label for="c7"><span></span></label>                                 
								</div>
								<div class="ro_pic"><img src="images/product-thumb.png" class="img-responsive" /></div>
								<div class="ro_desc">CP Crispy Chicken with Korean...</div>
							</div>
							<div class="ro_items">
								<div class="chk_unchk">
									<input type="checkbox" class="modcheck" name="cc" id="c8">
									<label for="c8"><span></span></label>                                 
								</div>
								<div class="ro_pic"><img src="images/product-thumb.png" class="img-responsive" /></div>
								<div class="ro_desc">CP Crispy Chicken with Korean...</div>
							</div>
							<div class="ro_items">
								<div class="chk_unchk">
									<input type="checkbox" class="modcheck" name="cc" id="c9">
									<label for="c9"><span></span></label>                                 
								</div>
								<div class="ro_pic"><img src="images/product-thumb.png" class="img-responsive" /></div>
								<div class="ro_desc">CP Crispy Chicken with Korean...</div>
							</div>
							<div class="ro_items">
								<div class="chk_unchk">
									<input type="checkbox" class="modcheck" name="cc" id="c10">
									<label for="c10"><span></span></label>                                   
								</div>
								<div class="ro_pic"><img src="images/product-thumb.png" class="img-responsive" /></div>
								<div class="ro_desc">CP Crispy Chicken with Korean...</div>
							</div>
						</div>
						<div class="recentorder_buttons">
							<div class="addbtn"><img src="images/add.png" class="img-responsive" /></div>
							<div class="repeatbtn" data-toggle="modal" data-target="#repeat_order"><img src="images/repeat.png" class="img-responsive" /></div>
						</div>
						<div class="recentorder_title">Order History</div>
						<div class="orderhistorytext">Shopping from a past order provides a convenient way to quickly shop for the same products again.</div>
						<div class="recentorder_buttons">
							<div class="viewbtns" data-toggle="modal" data-target="#previous_orderhistory"><img src="images/view.jpg" class="img-responsive" /></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="fullwidth social_block">
	<div class="container">
		<div class="socilblok_folowtxt">
			<div class="socilblok_folowtxt1">Follow and like us for latest deals and updates:
			</div>
		</div>
		<div class="socilblok_twtr">
			<img class="img-responsive" src="images/socl_itwtr.png" />
			<span>Twitter</span>
		</div>
		<div class="socilblok_fb">
			<img class="img-responsive" src="images/social_fbicon.png" /> 
			<span>Facebook</span>
		</div>
	</div>
</section>
<section class="fullwidth footer1">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4 footer1_pannel1cvr">
				<div class="footer_logo">
					<img class="img-responsive" src="images/footerlogo.png" />
				</div>
				<div class="footer1_custmertext">10,000 Customers <br /> Already Connected</div>
				<div class="footer1_custmerbtmtxt">She was bouncing away, when a cry from the two women, who had turned towards the bed, caused her to look round.</div>
				<div class="footer1_sociallink">
					<img class="img-responsive" src="images/footer1_twitter.png" />
					<img class="img-responsive" src="images/footer1_fb.png" />
					<img class="img-responsive" src="images/footergoogle.png" />
				</div>
				<div class="footer1_privcvr">
					<div class="footer1_privcytext">Privacy Policy</div>
					<div class="footer1_termstxt">Terms and Conditions</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-3 footer1_pannel2cvr">
				<div class="footer1_title">About</div>
				<div class="footer1_subtitle">
					<ul>
						<li><a href="#">About us</a></li>
						<li><a href="#">How it Works</a></li>
						<li><a href="#">Team us</a></li>
						<li><a href="#">Mobile App</a></li>
						<li><a href="#">Desktop App</a></li>
						<li><a href="#">Security</a></li>
						<li><a href="#">Report Bug</a></li>
						<li><a href="#">Fees & Charges</a></li>
						<li><a href="#">Investor</a></li>
						<li><a href="#">Quotes</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-md-3 footer1_pannel3cvr">
				<div class="footer1_title">Press</div>
				<div class="footer1_subtitle">
					<ul>
						<li><a href="#">In the News</a></li>
						<li><a href="#">Press Releases</a></li>
						<li><a href="#">Awards</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Timeline</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-md-2 footer1_pannel4cvr">
				<div class="footer1_title">Get in Touch</div>
				<div class="footer1_subtitle">
					<ul>
						<li><a href="#">Get Support</a></li>
						<li><a href="#">Advertise with Us</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Community</a></li>
						<li><a href="#">Affiliate Program</a></li>
						<li><a href="#">Merchandise</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="fullwidth footer2">
	<div class="container">
		<div class="footer2_btmcvr">
			<div class="footer2_madetxt">Made with <img class="img-responsive" src="images/footerhearicon.png" /> in SG</div>
			<div class="footer2_copytxt">Copyright © 2015 AlcoholDelivery.com</div>
		</div>
	</div>
</section>