    <div class="combo_slider">
    	<div class="checkout_title">My Cart</div>
    	<div class="steps_notify">
            <div id="step1" class="step_grid active">
            	<a href="javascript:void(0);" class="step1"><span>Shopping Cart</span></a>
                <a href="javascript:void(0);" class="step2"><span>Address</span></a>
                <a href="javascript:void(0);" class="step3"><span>Delivery</span></a>
                <a href="javascript:void(0);" class="step4"><span>Payment</span></a>
                <a href="javascript:void(0);" class="step5"><span>Review &amp; Confirm</span></a>
                <img src="images/step1.png">                                        
            </div>
            <div id="step2" class="step_grid">
            	<a href="javascript:void(0);" class="step1"><span>Shopping Cart</span></a>
                <a href="javascript:void(0);" class="step2"><span>Address</span></a>
                <a href="javascript:void(0);" class="step3"><span>Delivery</span></a>
                <a href="javascript:void(0);" class="step4"><span>Payment</span></a>
                <a href="javascript:void(0);" class="step5"><span>Review &amp; Confirm</span></a>
                <img src="images/step2.png">
            </div>
            <div id="step3" class="step_grid">
            	<a href="javascript:void(0);" class="step1"><span>Shopping Cart</span></a>
                <a href="javascript:void(0);" class="step2"><span>Address</span></a>
                <a href="javascript:void(0);" class="step3"><span>Delivery</span></a>
                <a href="javascript:void(0);" class="step4"><span>Payment</span></a>
                <a href="javascript:void(0);" class="step5"><span>Review &amp; Confirm</span></a>
                <img src="images/step3.png">
            </div>
            <div id="step4" class="step_grid">
            	<a href="javascript:void(0);" class="step1"><span>Shopping Cart</span></a>
                <a href="javascript:void(0);" class="step2"><span>Address</span></a>
                <a href="javascript:void(0);" class="step3"><span>Delivery</span></a>
                <a href="javascript:void(0);" class="step4"><span>Payment</span></a>
                <a href="javascript:void(0);" class="step5"><span>Review &amp; Confirm</span></a>
            	<img src="images/step4.png">
            </div>
            <div id="step5" class="step_grid">
            	<a href="javascript:void(0);" class="step1"><span>Shopping Cart</span></a>
                <a href="javascript:void(0);" class="step2"><span>Address</span></a>
                <a href="javascript:void(0);" class="step3"><span>Delivery</span></a>
                <a href="javascript:void(0);" class="step4"><span>Payment</span></a>
                <a href="javascript:void(0);" class="step5"><span>Review &amp; Confirm</span></a>
                <img src="images/step5.png">
            </div>
        </div>
        
       	<div id="step1_txt" class="checkoutmiddleouter active">
         <div class="checkbox-gray-top">
         <div class="checkbox-gray-top-first">
           <div id="slider-2" class="slider demo">
                <input type="checkbox" checked="" value="1" style="display: none;"><span class="switch-button-label off" style="display: none;">NO</span><div class="switch-button-background checked" style="width: 45px; height: 21px;"><div class="switch-button-button" style="width: 19px; height: 25px; left: 24px;"></div></div><span class="switch-button-label on" style="display: none;">YES</span><div style="clear: left;"></div>
            </div>
         </div>
         <div class="checkbox-gray-toptext">SAVE $1.00 by choosing to have your drinks delivered Non-Chilled.</div>
        </div>
         <div class="checkoutmiddletable">           
           <table class="table">

          
          <tbody>
            <tr>
              
              <td> 
                  <div class="orhistry2_td2procdtcvr">
                      <span><img src="images/lblepi1product1.png"></span>
                      <div class="checkouter-td-right-text">
                        <div class="orhistry2_td2proctext1">Carlsberg Lager Can - Case</div>
                        <div class="orhistry2_td2proctext2">24 x 323 ml</div> 
                        <div class="orhistry2_td2proctext1">$56.50</div>
                        <div class="orhistry2_td2proctext2">unit Price</div>
                      </div>  
                  </div>
              </td>
              <td>
                   <div class="orderhistrychilcvr">
                      <span1><img src="images/product13.png"></span1><span>CHILLED</span>
                    </div>
              </td>
              <td>
                  <div class="checkoutmiddlevlauediv">
                      <input id="demo3" type="text" value="" name="demo_vertical2">
                  </div>
              </td>
              <td>
                  <div class="orderhistry2price">$56.00</div>
              </td>
              <td> 
                  
                <a class="checkoutmiddletabledeleteimg" href=""><i class="glyphicon glyphicon-trash"></i></a>
                 
              </td>
            </tr>
            <tr>
                
                <td> 
                    <div class="orhistry2_td2procdtcvr">
                        <span><img src="images/lblepi1product1.png"></span>
                        <div class="checkouter-td-right-text">
                        <div class="orhistry2_td2proctext1">Carlsberg Lager Can - Case</div>
                        <div class="orhistry2_td2proctext2">24 x 323 ml</div>
                        <div class="orhistry2_td2proctext1">$56.50</div>
                        <div class="orhistry2_td2proctext2">unit Price</div>
                       </div> 
                    </div>
                </td>
                <td>
                     <div class="orderhistrychilcvr">
                        <span1><img src="images/product13.png"></span1><span>CHILLED</span>
                      </div>
                </td>
                <td>
                    <div class="checkoutmiddlevlauediv">
                      <input id="demo3" type="text" value="" name="demo_vertical2">
                  </div>
                </td>
                <td>
                    <div class="orderhistry2price">$56.00</div>
                </td>
                <td> 
                     <a class="checkoutmiddletabledeleteimg" href=""><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
            <tr>
                
                <td> 
                    <div class="orhistry2_td2procdtcvr">
                        <span><img src="images/lblepi1product1.png"></span>
                        <div class="checkouter-td-right-text">
                        <div class="orhistry2_td2proctext1">Carlsberg Lager Can - Case</div>
                        <div class="orhistry2_td2proctext2">24 x 323 ml</div>
                        <div class="orhistry2_td2proctext1">$56.50</div>
                        <div class="orhistry2_td2proctext2">unit Price</div>
                       </div> 
                    </div>
                </td>
                <td>
                     <div class="orderhistrychilcvr-right">
                        <span1><img src="images/checkoutcircleimg.png"></span1>
                      </div>
                </td>
                <td>
                    <div class="checkoutmiddlevlauediv">
                      <input id="demo3" type="text" value="" name="demo_vertical2">
                  </div>
                </td>
                <td>
                    <div class="orderhistry2price">$56.00</div>
                </td>
                <td> 
                     <a class="checkoutmiddletabledeleteimg" href=""><i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
          </tbody>
         </table>
         </div>
         <div class="checkboxtotaldiv">
           <div class="checkboxtotaldiv-top">
            <div class="checkboxtotaldiv-title">Subtotal</div>
            <div class="checkboxtotaldiv-text">$169.50</div>
           </div>
           <div class="checkboxtotaldiv-middle">
            <div class="checkboxtotaldiv-middle-first">
            <div class="checkboxtotaldiv-title">Delivery Charge <span class=""><img src="images/questionimg.png"></span></div>
            <div class="checkboxtotaldiv-text">FREE</div>
            </div>
            <div class="checkboxtotaldiv-middle-first">
            <div class="checkboxtotaldiv-title">Service Charge <span class=""><img src="images/questionimg.png"></span></div>
            <div class="checkboxtotaldiv-text">$55.00</div>
            </div>
            <div class="checkboxtotaldiv-middle-first">
            <div class="checkboxtotaldiv-title">Discount (Non-Chilled) <span class=""><img src="images/questionimg.png"></span></div>
            <div class="checkboxtotaldiv-text">-$1.00</div>
            </div>
           </div>
           <div class="checkboxtotaldiv-buttom">
            <div class="checkboxtotaldiv-title">Total</div>
            <div class="checkboxtotaldiv-text">$223.50
              <div class="congratulationpopup">
                <div class="congratulationpopupimg"><img src="images/thumbimg.png"></div>
                <div class="congratulationpopuptext">
                 <div class="congratulationpopuptext-title">Congratulations!</div>
                 <div class="congratulationpopuptext-text">Advance ordering discounts have been applied!</div>
                </div>
              </div>
            </div>
           </div>
         </div>
         <div class="checkouterwantbuttonouter">
            <div class="checkouterwantfirst">
            <button data-target="#Modal-dontmiss" data-toggle="modal" class="checkouterwantbutton">I want this order Now!</button>
            <span>(Standard 1 hour delivery)</span>
            <button class="checkoutergitpackage">Gift Packaging</button>
          </div>
            <div class="checkouterexprienceouter">
             <div class="checkouterexpressdivleft checkbox-gray-top-first"><div id="slider-2" class="slider demo">
                <input type="checkbox" checked="" value="1" style="display: none;"><span class="switch-button-label off" style="display: none;">NO</span><div class="switch-button-background checked" style="width: 45px; height: 21px;"><div class="switch-button-button" style="width: 19px; height: 25px; left: 24px;"></div></div><span class="switch-button-label on" style="display: none;">YES</span><div style="clear: left;"></div>
            </div></div>
             <div class="checkouterexpressdiv">
               <div class="checkouterexpresstitle">Express Delivery</div>
               <div class="checkouterexpresstext">Gauranteed 30 mins delivery.</div>
               <div class="checkouterexpresstext">$50 surcharge applies. <a href="">Terms &amp; Conditions</a> applies.</div>
             </div>
            </div>
         </div>
         <div class="checkoutcongratulationouter">
           <div class="checkout-congratulation-title">Congratulations! You qualify for special $100 promotion.</div>
           <div class="checkout-congratulation-text">Please select one of the following products. Only applicable for 1 hour deliveries.</div>
         </div>
         <div class="checkout-product">
          <div class="row">
           <div class="col-md-3 col-sm-3 col-xs-12 ">
          
                  
                  <div class="prod_pic"><img class="img-responsive" src="images/product.png"></div>
                  <div class="prod_desc">CP Crispy Chicken with Korean Hot and Spicy Sauce</div>
                  <div class="prod_price">28.00 SGD</div>
                  <div class="prod_discout_price">24.00 SGD</div>
                  <button class="checkoutproductbutton">AdD Promo</button>
                </div>
           <div class="col-md-3 col-sm-3 col-xs-12 ">
          
                  
                  <div class="prod_pic"><img class="img-responsive" src="images/product.png"></div>
                  <div class="prod_desc">CP Crispy Chicken with Korean Hot and Spicy Sauce</div>
                  <div class="prod_price">28.00 SGD</div>
                  <div class="prod_discout_price">24.00 SGD</div>
                  <button class="checkoutproductbutton">AdD Promo</button>
                </div>
           <div class="col-md-3 col-sm-3 col-xs-12 ">
          
                  
                  <div class="prod_pic"><img class="img-responsive" src="images/product.png"></div>
                  <div class="prod_desc">CP Crispy Chicken with Korean Hot and Spicy Sauce</div>
                  <div class="prod_price">28.00 SGD</div>
                  <div class="prod_discout_price">24.00 SGD</div>
                  <button class="checkoutproductbutton">AdD Promo</button>
                </div>
           <div class="col-md-3 col-sm-3 col-xs-12 ">
          
                  
                  <div class="prod_pic"><img class="img-responsive" src="images/product.png"></div>
                  <div class="prod_desc">CP Crispy Chicken with Korean Hot and Spicy Sauce</div>
                  <div class="prod_price">28.00 SGD</div>
                  <div class="prod_discout_price">24.00 SGD</div>
                  <button class="checkoutproductbutton">AdD Promo</button>
                </div> 
          </div>               
         </div>
         <div class="checkoutcongratulationouter">
           <div class="checkout-congratulation-title">You qualify for special $250 promotion.</div>
           <div class="checkout-congratulation-text">Please select one of the following products. Only applicable for 1 hour deliveries.</div>
         </div>
         <div class="checkout-product">
         <div class="row">
           <div class="col-md-3 col-sm-3 col-xs-12 ">
          
                  
                  <div class="prod_pic"><img class="img-responsive" src="images/product.png"></div>
                  <div class="prod_desc">CP Crispy Chicken with Korean Hot and Spicy Sauce</div>
                  <div class="prod_price">28.00 SGD</div>
                  <div class="prod_discout_price">24.00 SGD</div>
                  <button class="checkoutproductbutton">AdD Promo</button>
                </div>
           <div class="col-md-3 col-sm-3 col-xs-12 ">
          
                  
                  <div class="prod_pic"><img class="img-responsive" src="images/product.png"></div>
                  <div class="prod_desc">CP Crispy Chicken with Korean Hot and Spicy Sauce</div>
                  <div class="prod_price">28.00 SGD</div>
                  <div class="prod_discout_price">24.00 SGD</div>
                  <button class="checkoutproductbutton">AdD Promo</button>
                </div>
           <div class="col-md-3 col-sm-3 col-xs-12 ">
          
                  
                  <div class="prod_pic"><img class="img-responsive" src="images/product.png"></div>
                  <div class="prod_desc">CP Crispy Chicken with Korean Hot and Spicy Sauce</div>
                  <div class="prod_price">28.00 SGD</div>
                  <div class="prod_discout_price">24.00 SGD</div>
                  <button class="checkoutproductbutton">AdD Promo</button>
                </div>
           <div class="col-md-3 col-sm-3 col-xs-12 ">
          
                  
                  <div class="prod_pic"><img class="img-responsive" src="images/product.png"></div>
                  <div class="prod_desc">CP Crispy Chicken with Korean Hot and Spicy Sauce</div>
                  <div class="prod_price">28.00 SGD</div>
                  <div class="prod_discout_price">24.00 SGD</div>
                  <button class="checkoutproductbutton">AdD Promo</button>
                </div>
          </div>                
         </div>
         <div class="checkouterlastdiv">
           <div class="checkouterwantfirst">
            <button class="checkouterwantbutton">I want this order Later!</button>
            <span>(Scheduled delivery)</span>
          </div>
          <div class="checkouterbackouter">
           <a class="checkouterback" href=""><span><img src="images/order_history2backpic.png"></span>back to shopping</a>
          <button class="checkoutcheckoutnowbutton">Checkout Now</button>
          </div>
         </div>
        </div>
        <div id="step2_txt" class="checkoutmiddleouter">
        	<div class="shiping_add_box">
         	<div class="cover_div_addsboxs">
          <div class="coverboxsegment_div">
          	<div class="div_addsboxs1">
           <div class="addsboxs_innerdiv">
           <div class="cover_rt_lftdiv">
           	<div class="rgt_iconadd_div"><img data-target="#Modalmapadess" data-toggle="modal" src="images/add_pic_iconrt.png"></div>
            <div class="lft_textadd_div">
            	<div class="add_alltext">
             	<div class="plac_divetx">Travis Chia</div>
              <div class="gry_text_div">2 Aliwal Street</div>
              <div class="gry_text_div">#03 - 01</div>
              <div class="gry_text_div">Singapore - 199895</div>
              <div class="gry_text_div">Phone - 9898273875</div>
             </div>
             <div class="edit_del_icondiv">
             <span><img src="images/del_pic2icon.png"></span>
             	<span><img data-target="#Modal-editaddress" data-toggle="modal" src="images/edit-pic1pen.png"></span>
             </div>
            </div>
            </div>
            <div class="yelo_btn_div">
             	<button data-target="#Modal_address" data-toggle="modal" type="button" class="yelo_btn" name="">ship to this address</button>
             </div>
            </div>
           </div>
           <div class="div_addsboxs2">
           	<div class="addsboxs_innerdiv">
           <div class="cover_rt_lftdiv">
           	<div class="rgt_iconadd_div"><img data-target="#Modalmapadess" data-toggle="modal" src="images/add_pic_iconrt.png"></div>
            <div class="lft_textadd_div">
            	<div class="add_alltext">
             	<div class="plac_divetx">Travis Chia</div>
              <div class="gry_text_div">2 Aliwal Street</div>
              <div class="gry_text_div">#03 - 01</div>
              <div class="gry_text_div">Singapore - 199895</div>
              <div class="gry_text_div">Phone - 9898273875</div>
             </div>
             <div class="edit_del_icondiv">
             <span><img src="images/del_pic2icon.png"></span>
             	<span><img data-target="#Modal-editaddress" data-toggle="modal" src="images/edit-pic1pen.png"></span>
             </div>
            </div>
            </div>
            <div class="yelo_btn_div">
             	<button data-target="#Modal_address" data-toggle="modal" type="button" class="yelo_btn" name="">ship to this address</button>
             </div>
            </div>
           </div>
           <div data-target="#Modal-addnewaddress" data-toggle="modal" class="add-newaddbox">
           	<div class="add-newaddinner">
            	<div class="pic-addnew_add"><img src="images/add_new-dumipic.png"></div>
             <div class="pic-addnew_text">Add new address</div>
            </div>
           </div>
           </div>
           <div class="specil_intertion_div">
           	<div class="div_specil_intertion_title">Special Instructions</div>
            <div class="cover_secilinform">
            	<div class="alcohlinputext2">
                <label>Contact Number <span>*</span></label>
                <input type="text" class="alcohalpopuptext2">
              </div>
             <div class="alcohlinputextarea12">
              <label>Any Special Instructions (optional)</label>
              <textarea class="alcohlinputextareaa2" placeholder=""></textarea>
             </div>
             <div class="alcohlchekboxdiv12">
                 <input type="checkbox" id="c1" name="cc" class="signup_check">
                 <label for="c1"><span></span>Leave this order at my doorstep.</label>
                 <div class="gry_itlic_text">We’ll leave your items at your doorstep without contacting you. To be eligible, we must have unrestricted access to your doorstep.</div>
             </div>
             
            </div>
           </div>
          </div>
         </div>                                 
         	<div class="checkouterlastdiv">
          <div class="checkouterbackouter">
           <a class="checkouterback" href=""><span><img src="images/order_history2backpic.png"></span>back to shopping</a>
          <button class="checkoutcheckoutnowbutton">Checkout Now</button>
          </div>
         </div>
        </div>
        <div id="step3_txt" class="checkoutmiddleouter">
        	<div class="checkoutstepthree_dayfordelivery">Reserve your Delivery Slot</div>
            <div class="checkoutstepthree_showdate">Sunday, 24th January, 2016 <img src="images/checkoutstep3_calender.png"></div>
            <div class="checkoutstepthree_dayfordelivery">Please choose a timeslot from below</div>
        </div>
        <div id="step4_txt" class="checkoutmiddleouter">
        	<div class="div_pleas_chose_time_text">Please choose a timeslot from below</div>
            <div class="cover_creadetcard_cashdiv">
            <div class="cover_cashdiv_left">
            <div class="pic_divcash">
            <div class="verticetnter2"><img src="images/cash_okpic.png"></div>
            </div>
            <div class="divcash_text">Cash on Delivery</div>
            </div>
            <div class="cover_creadetcard_right">
            <div class="pic_creadetcard">
            <div class="verticetnter"><img src="images/creaditcard_pic.png"></div>
            </div>
            <div class="creadetcard_text">Credit Card</div>
            </div>
            </div>
            <div class="checkouterlastdiv">
            <div class="checkouterbackouter2"> <a class="checkouterback2" href=""><span><img src="images/order_history2backpic.png"></span>back</a>
            <button class="checkoutcheckoutnowbutton2">Next<span><img src="images/leftarrowpic.png"></span></button>
            </div>
            </div>
        </div>
        <div id="step5_txt" class="checkoutmiddleouter">
        	<div class="checkoutstep5-mid-top">
          <div class="row">
           <div class="col-md-7 col-sm-6 col-xs-12 checkoutstep5-mid-left">
             <div class="checkoutstep5-left-first">
               <div class="checkoutstep5-left-first-left">
                 <div class="checkoutstep5-left-first-lefttext">Delivery Address</div>
                 <div class="checkoutstep5-left-first-lefttitle">15, Lorong 15 Geylang, 388607</div>
               </div>
               <a class="checkoutstep5-left-edit" href=""><img src="images/checkoutstep5-editimg.png"></a>
             </div>
             <div class="checkoutstep5-left-first">
               <div class="checkoutstep5-left-first-left">
                 <div class="checkoutstep5-left-first-lefttext">Delivery Time</div>
                 <div class="checkoutstep5-left-first-lefttitle">Wednesday 3 Feb 2016, between 10am - 12pm</div>
               </div>
               <a class="checkoutstep5-left-edit" href=""><img src="images/checkoutstep5-editimg.png"></a>
             </div>
             <div class="checkoutstep5-left-first">
               <div class="checkoutstep5-left-first-left">
                 <div class="checkoutstep5-left-first-lefttext">Payment</div>
                 <div class="checkoutstep5-left-first-lefttitle">Cash on Delivery</div>
               </div>
               <a class="checkoutstep5-left-edit" href=""><img src="images/checkoutstep5-editimg.png"></a>
             </div>
             <div class="checkoutstep5-left-first">
               <div class="checkoutstep5-left-first-left">
                 <div class="checkoutstep5-left-first-lefttext">Delivery mode</div>
                 <div class="checkoutstep5-left-first-lefttitle">Express Delivery<span class=""><img src="images/questionimg.png">
</span></div>
               </div>
               <a class="checkoutstep5-left-edit" href=""><img src="images/checkoutstep5-editimg.png"></a>
             </div>
           </div>
           <div class="col-md-5 col-sm-6 col-xs-12 checkoutstep5-mid-right">
            <div class="checkboxtotaldiv">
             <button class="checkoutstep5-mid-button">Confirm Order <i class="glyphicon glyphicon-menu-right"></i></button>
             <div class="checkoutstep5right-middle ">
            <div class="checkoutstep5right-middle-first">
            <div class="checkoutstep5right-middle-title">Subtotal <span class=""></span></div>
            <div class="checkboxtotaldiv-text">$169.50</div>
            </div>
            <div class="checkoutstep5right-middle-first">
            <div class="checkoutstep5right-middle-title">Delivery Charge <span class=""><img src="images/questionimg.png"></span></div>
            <div class="checkboxtotaldiv-text">FREE</div>
            </div>
            <div class="checkoutstep5right-middle-first">
            <div class="checkoutstep5right-middle-title">Service Charge <span class=""><img src="images/questionimg.png"></span></div>
            <div class="checkboxtotaldiv-text">$55.00</div>
            </div>
            <div class="checkoutstep5right-middle-first">
            <div class="checkoutstep5right-middle-title">Discount (Non-Chilled) <span class=""><img src="images/questionimg.png"></span></div>
            <div class="checkboxtotaldiv-text">-$1.00</div>
            </div>
           </div>
             <div class="checkoutstep5right-buttom">
            <div class="checkoutstep5right-bottom-title">Total</div>
            <div class="checkoutstep5right-bottom-text">$223.50</div>
           </div>
            </div>
           </div>
          </div> 
         </div>
            <div class="checkoutmiddletable"> 
            <div class="chekoutstep5-table-title">Items to be Delivered</div>          
            <table class="table">
            
            
            <tbody>
            <tr>
              
              <td> 
                  <div class="orhistry2_td2procdtcvr">
                      <span><img src="images/lblepi1product1.png"></span>
                      <div class="checkouter-td-right-text">
                        <div class="orhistry2_td2proctext1">Carlsberg Lager Can - Case</div>
                        <div class="orhistry2_td2proctext2">24 x 323 ml</div> 
                        <div class="orhistry2_td2proctext1">$56.50</div>
                        <div class="orhistry2_td2proctext2">unit Price</div>
                      </div>  
                  </div>
              </td>
              <td>
                   <div class="orderhistrychilcvr">
                      <span1><img src="images/product13.png"></span1><span>CHILLED</span>
                    </div>
              </td>
              <td>
                  <div class="checkoutmiddlevlauediv">
                      <div class="input-group bootstrap-touchspin"><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input type="text" name="demo_vertical2" value="" id="demo3" class="form-control" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button type="button" class="btn btn-default bootstrap-touchspin-up"><i class="glyphicon glyphicon-plus"></i></button><button type="button" class="btn btn-default bootstrap-touchspin-down"><i class="glyphicon glyphicon-minus"></i></button></span></div>
                  </div>
              </td>
              <td>
                  <div class="orderhistry2price">$56.00</div>
              </td>
              
            </tr>
            <tr>
                
                <td> 
                    <div class="orhistry2_td2procdtcvr">
                        <span><img src="images/lblepi1product1.png"></span>
                        <div class="checkouter-td-right-text">
                        <div class="orhistry2_td2proctext1">Carlsberg Lager Can - Case</div>
                        <div class="orhistry2_td2proctext2">24 x 323 ml</div>
                        <div class="orhistry2_td2proctext1">$56.50</div>
                        <div class="orhistry2_td2proctext2">unit Price</div>
                       </div> 
                    </div>
                </td>
                <td>
                     <div class="orderhistrychilcvr">
                        <span1><img src="images/product13.png"></span1><span>CHILLED</span>
                      </div>
                </td>
                <td>
                    <div class="checkoutmiddlevlauediv">
                        <div class="input-group bootstrap-touchspin"><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input type="text" name="demo_vertical2" value="" id="demo3" class="form-control" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button type="button" class="btn btn-default bootstrap-touchspin-up"><i class="glyphicon glyphicon-plus"></i></button><button type="button" class="btn btn-default bootstrap-touchspin-down"><i class="glyphicon glyphicon-minus"></i></button></span></div>
                    </div>
                </td>
                <td>
                    <div class="orderhistry2price">$56.00</div>
                </td>
                
            </tr>
            <tr>
                
                <td> 
                    <div class="orhistry2_td2procdtcvr">
                        <span><img src="images/lblepi1product1.png"></span>
                        <div class="checkouter-td-right-text">
                        <div class="orhistry2_td2proctext1">Carlsberg Lager Can - Case</div>
                        <div class="orhistry2_td2proctext2">24 x 323 ml</div>
                        <div class="orhistry2_td2proctext1">$56.50</div>
                        <div class="orhistry2_td2proctext2">unit Price</div>
                       </div> 
                    </div>
                </td>
                <td>
                     <div class="orderhistrychilcvr-right">
                        <span1><img src="images/checkoutcircleimg.png"></span1>
                      </div>
                </td>
                <td>
                    <div class="checkoutmiddlevlauediv">
                        <div class="input-group bootstrap-touchspin"><span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span><input type="text" name="demo_vertical2" value="" id="demo3" class="form-control" style="display: block;"><span class="input-group-addon bootstrap-touchspin-postfix" style="display: none;"></span><span class="input-group-btn-vertical"><button type="button" class="btn btn-default bootstrap-touchspin-up"><i class="glyphicon glyphicon-plus"></i></button><button type="button" class="btn btn-default bootstrap-touchspin-down"><i class="glyphicon glyphicon-minus"></i></button></span></div>
                    </div>
                </td>
                <td>
                    <div class="orderhistry2price">$56.00</div>
                </td>
                
            </tr>
            </tbody>
            </table>
            </div>                                
            <div class="checkoutstep5-mid-button-outer">
            
            
            
            <button class="checkoutstep5-mid-button">Confirm Order <i class="glyphicon glyphicon-menu-right"></i></button>
            
            </div>
        </div>                                                  	
    </div>