<div class="fullwidth innerpagemargintop">
	<div class="container">
		<div class="row">
			<div class="visible-sm visible-xs side-menu-responsive">
				<nav class="navbar navbar-default">				
					<div class="collapse navbar-collapse nopadd" id="bs-example-navbar-collapse-1">
						<side-bar noInit="true"></side-bar>
					</div>				
				</nav>
			</div>
			<div class="col-md-12">
				<div class="chckoutstep6main-cover1">
					<div class="chckoutstep6main-cover">
						<div class="checkout-step6-innercover">
							<!-- <div class="smile-signcover">
								<img src="images/smile-icon.png">
							</div> -->
							<div class="uralsetcover">
								<div class="keepshoping-textcover">
									{{info}}
								</div>
							</div>
						</div>
						<div class="kepshopingcoverdiv">
							 <button type="submit" class="btn btn-default" ui-sref="mainLayout.index">Back to shopping</button>
						</div>
					</div>
				</div>		
			</div>
		</div> <!-- row / -->
	</div> <!-- container / -->
</div>