<h1 class="hide">Loyalty Store</h1>
<div class="combo_slider combo_sliderProduct" ng-init="productView='alcohol'">

	<div class="productbeerfiltertopcover">
		<div class="productbeer-headtitleouter">
		<div class="productbeerfiltertoptitle text-capitalize">Loyalty Store</div>
		<div ng-if="availableLoyaltyPoints" class="productbeerfiltertoptitle text-capitalize productbeer-point-rw">Loyalty Points 
			<span>{{availableLoyaltyPoints}}</span>
			<span>LP</span>
		</div>
		</div>
			<div class="row">
				<div class="col-xs-12 col-sm-3 col-md-3 text-capitalize"> 
					<a ui-sref="mainLayout.loyaltystore({keyword:keyword,parent:''})" ng-class="{active:parent==null}">All Types</a> 
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3 text-capitalize" ng-repeat="category in categories" ng-if="!category.ancestors"> 
					<a ui-sref="mainLayout.loyaltystore({keyword:keyword,parent:category.slug})" ng-class="{active:parent==category.slug}" >{{category.cat_title}}</a> 
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3"> 
					<a href="javascript:void(0)" ng-class="{active:productView=='credits'}" ng-click="productView='credits'">Credits</a> 
				</div>
			</div>
	</div>
	    
 	<div class="tabbable"> <!-- Only required for left/right tabs -->
		<div class="fullwidth">    
			<ul class="nav nav-tabs productcomboul">
				<li ng-class="{active:filter==null}"><a ui-sref="mainLayout.loyaltystore({keyword:keyword,filter:null})" data-toggle="tab">All</a></li>
				<li ng-show="productView!='credits'" ng-class="{active:filter=='new'}"><a ui-sref="mainLayout.loyaltystore({keyword:keyword,filter:'new'})" data-toggle="tab">New</a></li>
				<li ng-show="productView!='credits'" ng-class="{active:filter=='in-stock'}"><a ui-sref="mainLayout.loyaltystore({keyword:keyword,filter:'in-stock'})" data-toggle="tab">In Stock</a></li>

			<!-- <div class="dropdown productdropdownbtn" uib-dropdown>
				  <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
				    Sort by
				    <span class="caret"></span>
				  </button>

				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" uib-dropdown-menu>
				    <li><a ui-sref="mainLayout.loyaltystore({keyword:keyword,filter:filter,sort:'asc'})">Price Ascending</a></li>
				    <li><a ui-sref="mainLayout.loyaltystore({keyword:keyword,filter:filter,sort:'desc'})">Price Descending</a></li>            
				  </ul>
				  
				</div> -->
			</ul>

		</div>
		
		<div ng-show="productView!='credits'" infinite-scroll='products.nextPage()' infinite-scroll-disabled='products.busy' infinite-scroll-distance='3'>

		    <div al-tpl-product classes="col-xs-12 col-sm-3 col-md-3 comboproductitems" info="product" loyalty="true" ng-repeat="product in products.items"></div>

		</div>

		<div id="loyalty-credits" ng-show="productView=='credits'">

			<div class="col-xs-12 col-sm-3 comboproductitems" ng-repeat="credit in credits">

				<div class="prod_pic">
					<div class="credit_cash_pic"> {{credit.value}} </div>
				</div>

				<div class="prod_desc"> 
					convert {{credit.loyalty}} loyalty to {{credit.value | pricingTxt}} credit
				</div>

				<div class="prod_addtocart">

					<div class="cartbtn" ng-class="{'disabled': credit.notSufficient}">
						<div ng-click="credit.exchange()" class="addcart" role="button" tabindex="0"><span></span>Exchange</div>
					</div>
					<!-- <add-to-cart-btn ng-class="{'disabled': credit.notSufficient}" product="credit"></add-to-cart-btn> -->

				</div>

			</div>

		</div>

	</div>
	<div class="fullwidth">
		
		<div ng-show='fetching' align="center"><h4>Loading data...</h4></div>
		
		<div ng-show='products.length == 0 && !fetching' align="center"><h4>No products found..</h4></div>

	</div>
</div>	
