<section class="fullwidth">	
	<!-- <top-menu></top-menu> -->							
	<div class="fullwidth settop">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<nav class="navbar navbar-default fix_menu">
						<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
						</div>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse nopadd" id="bs-example-navbar-collapse-1">
							<side-bar></side-bar>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
				</div>
				<div ng-class="{appSettings.layout.pageRightbarExist?'col-md-8':'col-md-10'}" ui-view class="slide" autoscroll="true"></div>

				<div class="col-md-2" ng-if="appSettings.layout.pageRightbarExist">
					<div ng-view="rightPanel"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="fullwidth social_block">
	<div class="container">
		<div class="socilblok_folowtxt">
			<div class="socilblok_folowtxt1">Follow and like us for latest deals and updates:
			</div>
		</div>
		<div class="socilblok_twtr">
			<img class="img-responsive" src="images/socl_itwtr.png" />
			<span>Twitter</span>
		</div>
		<div class="socilblok_fb">
			<img class="img-responsive" src="images/social_fbicon.png" /> 
			<span>Facebook</span>
		</div>
	</div>
</section>
<section class="fullwidth footer1">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4 footer1_pannel1cvr">
				<div class="footer_logo">
					<img class="img-responsive" src="images/footerlogo.png" />
				</div>
				<div class="footer1_custmertext">10,000 Customers <br /> Already Connected</div>
				<div class="footer1_custmerbtmtxt">She was bouncing away, when a cry from the two women, who had turned towards the bed, caused her to look round.</div>
				<div class="footer1_sociallink">
					<a href="{{settings.social.twitter}}"><img class="img-responsive" src="images/footer1_twitter.png" /></a>
					<a href="{{settings.social.twitter}}"><img class="img-responsive" src="images/footer1_fb.png" /></a>
					<a href="{{settings.social.twitter}}"><img class="img-responsive" src="images/footergoogle.png" /></a>
				</div>
				<div class="footer1_privcvr">
					<div class="footer1_privcytext">Privacy Policy</div>
					<div class="footer1_termstxt">Terms and Conditions</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-3 footer1_pannel2cvr">
				<div class="footer1_title">About</div>
				<div class="footer1_subtitle">
					<ul>
						<li><a href="#">About us</a></li>
						<li><a href="#">How it Works</a></li>
						<li><a href="#">Team us</a></li>
						<li><a href="#">Mobile App</a></li>
						<li><a href="#">Desktop App</a></li>
						<li><a href="#">Security</a></li>
						<li><a href="#">Report Bug</a></li>
						<li><a href="#">Fees & Charges</a></li>
						<li><a href="#">Investor</a></li>
						<li><a href="#">Quotes</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-md-3 footer1_pannel3cvr">
				<div class="footer1_title">Press</div>
				<div class="footer1_subtitle">
					<ul>
						<li><a href="#">In the News</a></li>
						<li><a href="#">Press Releases</a></li>
						<li><a href="#">Awards</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Timeline</a></li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-md-2 footer1_pannel4cvr">
				<div class="footer1_title">Get in Touch</div>
				<div class="footer1_subtitle">
					<ul>
						<li><a href="#">Get Support</a></li>
						<li><a href="#">Advertise with Us</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Community</a></li>
						<li><a href="#">Affiliate Program</a></li>
						<li><a href="#">Merchandise</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="fullwidth footer2">
	<div class="container">
		<div class="footer2_btmcvr">
			<div class="footer2_madetxt">Made with <img class="img-responsive" src="images/footerhearicon.png" /> in SG</div>
			<div class="footer2_copytxt">Copyright © 2015 AlcoholDelivery.com</div>
		</div>
	</div>
</section>