<div class="fullwidth innerpagemargintop">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="chckoutstep6main-cover1">
        <div class="chckoutstep6main-cover">
        <div class="checkout-step6-innercover">
        <div class="smile-signcover">
        <img src="images/smile-icon.png">
        </div>
        <div class="uralsetcover">
        <div class="uralset-textdiv">You’re all set!<span>Thank you for being awesome!<br>
We have received your order and shall be delivered as per schedule.</span></div>
        
        </div>
        <div class="ordrnumber-cover">
        <div class="ordernno-divcenterset">
        <div class="order-numberinnercover">Order No. {{orderNumber}}</div></div>
        </div>
        <div class="payment-descriptioncover">
        <div class="paymentdetail-fixwidth">
        <div class="paymentamnt-coverdiv">
        <div class="lefttext-paymnt">Payment Amount</div>
        <div class="right-resultamounttxt"> {{order.total | currency:settings.general.currency:2}}</div>
        
        </div>
        <div class="paymentamnt-coverdiv">
        <div class="lefttext-paymnt">Date of Purchase</div>
        <div class="right-resultamounttxt">{{dopSlug}}</div>
        
        </div>
        <div class="paymentamnt-coverdiv">
        <div class="lefttext-paymnt">Payment Method</div>
        <div class="right-resultamounttxt" >Cash on Delivery</div>
        
        </div>
        <div class="paymentamnt-coverdiv">
        <div class="lefttext-paymnt">Delivery Time</div>
        <div class="right-resultamounttxt">{{daySlug}}, <br> {{slotslug}}</div>
       



        </div>
        
        </div>



        </div>
        <div class="sharepurchasecover">Share your purchase with your friends  to earn Loyalty Points</div>
        <div class="ahare-purchase-btmtxt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</div>
        <div class="share-divcover">
        <img src="images/social-icon.png">
        </div>
        </div>
        <div class="kepshopingcoverdiv">
        <div class="keepshoping-textcover">Keep Shopping, keep smiling!</div>
         <button type="submit" class="btn btn-default" ui-sref="mainLayout.index">Back to shopping</button>
        </div>
        </div>
        </div>
        
        </div>
        
      </div>
    </div>
  </div>