<div class="fullwidth innerpagemargintop">
	<div class="container">
	  <div class="row">
		<div class="visible-sm visible-xs side-menu-responsive">
			<nav class="navbar navbar-default">				
				<div class="collapse navbar-collapse nopadd" id="bs-example-navbar-collapse-1">
					<side-bar noInit="true"></side-bar>
				</div>				
			</nav>
		</div>
		<div class="col-md-12">
		<div class="chckoutstep6main-cover1">
		<div class="chckoutstep6main-cover">
		<div class="checkout-step6-innercover">
		<div class="smile-signcover">
		<img src="images/smile-icon.png">
		</div>
		<div class="uralsetcover">
		<div class="uralset-textdiv">You’re all set!<span>Thank you for being awesome!<br>
We have received your order and shall be delivered as per schedule.</span></div>
		
		</div>
		<div class="ordrnumber-cover">
		<div class="ordernno-divcenterset">
		<div class="order-numberinnercover">Order No. {{orderNumber}}</div></div>
		</div>
		<div class="payment-descriptioncover">
		<div class="paymentdetail-fixwidth">
		<div class="paymentamnt-coverdiv">
		<div class="lefttext-paymnt">Payment Amount</div>
		<div class="right-resultamounttxt"> {{order.payment.total | currency:settings.general.currency:2}}</div>
		
		</div>
		<div class="paymentamnt-coverdiv">
		<div class="lefttext-paymnt">Date of Purchase</div>
		<div class="right-resultamounttxt">{{dopSlug}}</div>
		
		</div>
		<div class="paymentamnt-coverdiv">
		<div class="lefttext-paymnt">Payment Method</div>
		<div class="right-resultamounttxt" >{{paymode}}</div>
		
		</div>
		<div class="paymentamnt-coverdiv">
			
			<div class="lefttext-paymnt">Delivery Time</div>
			<div class="right-resultamounttxt">{{deliveryDateTime}}</div>
			<!-- <div class="right-resultamounttxt" ng-if="order.delivery.type">{{daySlug}}, <br> {{slotslug}}</div>
			<div class="right-resultamounttxt" ng-if="order.delivery.type==0 && !order.service.express.status">		{{dopSlug}}, {{hour}}:{{minute}} {{aMpM}} +1 Hour
			</div>
			<div class="right-resultamounttxt" ng-if="order.delivery.type==0 && order.service.express.status">{{dopSlug}}, {{hour}}:{{minute}} {{aMpM}} +30 Minutes
			</div> -->

		</div>
		
	
		</div>



		</div>
		<div class="sharepurchasecover hide">Share your purchase with your friends to earn Loyalty Points</div>
		<div class="ahare-purchase-btmtxt hide">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</div>
			<div class="share-divcover hide">
				
				<img src="images/social-icon.png">
				
				<!--<div twitter-share-btn ng-click="twitterShare()"></div>

				<div ng-click="fbShare()">Facebook</div>		
				
				<div ng-click="googleShare()">

					<div class="g-plus" data-action="share" data-annotation="none" data-href="http://54.169.107.156" data-onendinteraction="share_endinteraction"></div>


				</div> -->

			</div>
		</div>
		<div class="kepshopingcoverdiv">
		<div class="keepshoping-textcover">Keep Shopping, keep smiling!</div>
		 <button type="submit" class="btn btn-default" ui-sref="mainLayout.index">Back to shopping</button>
		</div>
		</div>
		</div>
		
		</div>
		
	  </div>
	</div>
  </div>
	 <img src="https://marktamerica.go2cloud.org/aff_l?offer_id=2940&adv_sub={{orderNumber}}&amount={{order.payment.total}}" scrolling="no" frameborder="0" width="1" height="1" />	
  <!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer>
  {parsetags: 'explicit'}
</script>

<!-- Place this render call where appropriate. -->

<script type="text/javascript">
window.___gcfg = {
        lang: 'en-US',
        parsetags: 'onload'
      };


$(document).ready(function(){
	setTimeout(function() {
	gapi.plus.go();
}, 3000);
})
function share_endinteraction(jsonParam) {

        alert("share_endinteraction " + jsonParam.type);
    }


</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1005306689/?value=1.00&amp;currency_code=SGD&amp;label=nlRtCNf-5RUQwYav3wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
