<div class="combo_slider combo_sliderProduct">
	<div class="productbeerfiltertopcover">
		<div class="productbeerfiltertoptitle text-capitalize"><!-- {{products.totalResult}} --> Search results for "{{keyword}}"</div>        
	</div>
    
 	<div class="tabbable"> <!-- Only required for left/right tabs -->
		<div class="fullwidth">    
			<ul class="nav nav-tabs productcomboul">
				<li ng-class="{active:filter==null}"><a ui-sref="mainLayout.search({keyword:keyword,filter:null})" data-toggle="tab">All</a></li>
				<li ng-class="{active:filter=='new'}"><a ui-sref="mainLayout.search({keyword:keyword,filter:'new'})" data-toggle="tab">New</a></li>
				<li ng-class="{active:filter=='in-stock'}"><a ui-sref="mainLayout.search({keyword:keyword,filter:'in-stock'})" data-toggle="tab">In Stock</a></li>      

				<div class="dropdown productdropdownbtn" uib-dropdown>
				  <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" uib-dropdown-toggle aria-haspopup="true" aria-expanded="true">
				    <span ng-bind="currentSort.label"></span>
				    <span class="caret"></span>
				  </button>
					
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" uib-dropdown-menu>
				    <li ng-repeat="soptions in sortOptions">
				    	<a ui-sref="mainLayout.search({keyword:keyword,filter:filter,sort:soptions.value})">{{soptions.label}}</a>
				    </li>
				    <!-- <li>
				    	<a ui-sref="mainLayout.search({keyword:keyword,filter:filter,sort:'price_asc'})">Price Ascending</a>
				    </li>
				    <li>
				    	<a ui-sref="mainLayout.search({keyword:keyword,filter:filter,sort:'price_desc'})">Price Descending</a>
				    </li> -->
				  </ul>
				</div>
			</ul>

		</div>
		
		<div class="product-listcover2" infinite-scroll='products.nextPage()' infinite-scroll-disabled='products.busy' infinite-scroll-distance='1'>
		    <div al-tpl-product classes="col-xs-12 col-sm-3 col-md-3 comboproductitems" info="product" ng-repeat="product in products.items"></div>
		    <h4 class="no-pro-found-table" align="center" ng-if="products.items.length == 0 && !products.busy">
				<div class="no-pro-found-cell">No product(s) found</div>
			</h4>
			<h4 class="no-pro-found-table" align="center" ng-if="products.busy">
				<div class="no-pro-found-cell">Loading data...</div>
			</h4>
		</div>	
	</div>	
</div>	
