<div class="row">
	<div class="col-md-12">
		<form role="form" name='productForm' ng-submit="store()" required="false">
		<div class="portlet light">			
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-shopping-cart"></i>{{storeInfo._id?'Edit ':'Add New '}}Store
				</div>
				<div class="actions btn-set">
					<a class="btn default" ui-sref="userLayout.products.list"><i class="fa fa-angle-left"></i> Back</a>
					<button ng-disabled="loading" class="btn green" type="submit"><i class="fa fa-check"></i> {{storeInfo._id?'Update':'Save'}}</button>					
				</div>
			</div>
			<div class="portlet-body">				
				<tabset active="active">
					<tab>
						<tab-heading>General</tab-heading>

						<div class="form-horizontal">
							<div class="form-group" ng:class="{'has-error':errors.name[0]}">
								<label class="col-md-2 control-label">Store Name: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="text" class="form-control" ng-model="storeInfo.name" placeholder="">
									<span class="help-block" ng-bind="errors.name[0]"></span>
								</div>
							</div>								
							<!-- <div class="form-group" ng:class="{'has-error':errors.address[0]}">
								<label class="col-md-2 control-label">Store Address: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<textarea class="form-control" ng-model="storeInfo.address"></textarea>
									<span class="help-block" ng-bind="errors.address[0]"></span>
								</div>
							</div>							
							<div class="form-group">
								<label class="col-md-2 control-label">Geo code: <span class="required">
								* </span>
								</label>
								<div class="col-md-3" ng:class="{'has-error':errors.latitude[0]}">
									<input type="text" class="form-control" ng-model="storeInfo.latitude" placeholder="">
									<span class="help-block">Latitude</span>
									<span class="help-block" ng-bind="errors.latitude[0]"></span>
								</div>
								<div class="col-md-3" ng:class="{'has-error':errors.longitude[0]}">
									<input type="text" class="form-control" ng-model="storeInfo.longitude" placeholder="">
									<span class="help-block">Longitude</span>
									<span class="help-block" ng-bind="errors.longitude[0]"></span>
								</div>
							</div>--->
{{address|json}}
							<div class="form-group" ng:class="{'has-error':errors.address[0]}">
								<label class="col-md-2 control-label">Enter your postal code or location name: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input
										type="text"
										typeahead="l.SEARCHVAL for l in searchLocation($viewValue)"
										typeahead-min-length="3"
										typeahead-on-select="locationSelect($item, $model, $label)"
										typeahead-wait-ms="300"
										typeahead-focus-first="true"
										typeahead-loading="loading.location"
										ng-class="{'spinner': loading.location}"
										class="form-control"
										ng-model="storeInfo.address">
									<span class="help-block" ng-bind="errors.address[0]"></span>

								</div>
							</div>									
						</div>	

					</tab>
											
					<tab>
						<tab-heading>Meta</tab-heading>
						
						<div class="form-horizontal">
							<div class="form-group" ng:class="{'has-error':errors.metaTitle[0]}">
								<label class="col-md-2 control-label">Meta Title:</label>
								<div class="col-md-10">
									<input type="text" class="form-control maxlength-handler" ng-model="storeInfo.metaTitle" maxlength="100" placeholder="">
									<span class="help-block">
									max 100 chars </span>
									<span class="help-block" ng-bind="errors.metaTitle[0]"></span>
								</div>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.metaKeywords[0]}">
								<label class="col-md-2 control-label">Meta Keywords:</label>
								<div class="col-md-10">
									<textarea class="form-control maxlength-handler" rows="5" ng-model="storeInfo.metaKeywords" maxlength="150"></textarea>
									<span class="help-block">
									max 150 chars </span>
									<span class="help-block" ng-bind="errors.metaKeywords[0]"></span>
								</div>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.metaDescription[0]}">
								<label class="col-md-2 control-label">Meta Description:</label>
								<div class="col-md-10">
									<textarea class="form-control maxlength-handler" rows="5" ng-model="storeInfo.metaDescription" maxlength="150"></textarea>
									<span class="help-block">
									max 150 chars </span>
									<span class="help-block" ng-bind="errors.metaDescription[0]"></span>
								</div>
							</div>
						</div>
					</tab>
						
					<tab>
						<tab-heading>Contact</tab-heading>
						<div class="form-horizontal">
							<div class="form-group" ng:class="{'has-error':errors.email[0]}">
								<label class="col-md-2 control-label">Contact Email: <span class="required">
								* </span>
								</label>
								<div class="col-md-5">
									<input type="text" class="form-control" ng-model="storeInfo.email" placeholder="">
									<span class="help-block" ng-bind="errors.email[0]"></span>
								</div>
							</div>	
							<div class="form-group" ng:class="{'has-error':errors.telephone[0]}">
								<label class="col-md-2 control-label">Telephone: <span class="required">
								* </span>
								</label>
								<div class="col-md-5">
									<input type="text" class="form-control" ng-model="storeInfo.telephone" placeholder="">
									<span class="help-block" ng-bind="errors.telephone[0]"></span>
								</div>
							</div>	
						</div>
					</tab>
				</tabset>				
			</div>			
		</div>
		</form>
	</div>
</div>
<!-- <pre>{{ storeInfo|json }}</pre> -->
