<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title tabbable-line">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
				</div>
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#" data-target="#tab_1_1" data-toggle="tab">Personal Info</a>
					</li>
					
					<li>
						<a href="#" data-target="#tab_1_3" data-toggle="tab">Change Password</a>
					</li>					
				</ul>
			</div>
			<div class="portlet-body">
				<div class="tab-content">
					<!-- PERSONAL INFO TAB -->
					<div class="tab-pane active" id="tab_1_1">

						<form role="form" name='accountForm' ng-submit="submitAccount(accountForm)">

							<div class="form-group" ng:class="{'has-error':errors.first_name[0]}">
								<label class="control-label">First Name</label>
								<input type="text" name="first_name" placeholder="First name" class="form-control" ng-model="user.first_name"/>
								<span class="help-block" ng-bind="errors.first_name[0]"></span>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.last_name[0]}">
								<label class="control-label">Last Name</label>
								<input type="text" name="last_name" placeholder="Last name" class="form-control" ng-model="user.last_name"/>
								<span class="help-block" ng-bind="errors.last_name[0]"></span>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.email[0]}">
								<label class="control-label">Email</label>								
								<input type="text" name="email" placeholder="Email Address" class="form-control" ng-model="user.email"/>
								<span class="help-block" ng-bind="errors.email[0]"></span>
							</div>
							
							<div class="margiv-top-10">
								<input type="submit" name="save" value="Save Changes" class="btn green-haze">
							</div>

						</form>
					</div>
					<!-- END PERSONAL INFO TAB -->
					
					<!-- CHANGE PASSWORD TAB -->
					<div class="tab-pane" id="tab_1_3">
						<form role="form" name='passwordForm' ng-submit="changePassword(passwordForm)" autocomplete="off">
							<div class="form-group" ng:class="{'has-error':errors.current_password[0]}">
								<label class="control-label">Current Password</label>
								<input type="password" name="current_password" class="form-control" ng-model="user.current_password"/>
								<span class="help-block" ng-bind="errors.current_password[0]"></span>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.new_password[0]}">
								<label class="control-label">New Password</label>
								<input type="password" name="new_password" class="form-control" ng-model="user.new_password"/>
								<span class="help-block" ng-bind="errors.new_password[0]"></span>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.retype_password[0]}">
								<label class="control-label">Re-type New Password</label>
								<input type="password" name="retype_password" class="form-control" ng-model="user.retype_password"/>
								<span class="help-block" ng-bind="errors.retype_password[0]"></span>
							</div>
							<div class="margin-top-10">
								<input type="submit" name="changepassword" value="Change Password" class="btn green-haze">								
							</div>
						</form>
					</div>
					<!-- END CHANGE PASSWORD TAB -->
					
				</div>
			</div>
		</div>
	</div>
</div>