<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title tabbable-line">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Add Customer</span>
				</div>
				<div class="actions btn-set">
					<a class="btn default" href="#/customer/list"><i class="fa fa-angle-left"></i> Back</a>
					<button class="btn green" ng-click="store()"><i class="fa fa-check"></i> Save</button>
				</div>
			</div>
			<div class="portlet-body">
				
				<!-- <tabset active="active">
				<tab>
						<tab-heading>General</tab-heading> -->

						<div class="form-horizontal">
							<div class="form-group" ng:class="{'has-error':errors['name'][0]}">
								<label class="col-md-2 control-label">Name: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="text" class="form-control" ng-model="customer.name" placeholder="">
									<span class="help-block" ng-bind="errors['name'][0]"></span>
								</div>

							</div>
							<!-- <div class="form-group" ng:class="{'has-error':errors.description[0]}">
								<label class="col-md-2 control-label">Description: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<textarea class="form-control" ng-model="dealer.description"></textarea>
									<span class="help-block" ng-bind="errors.description[0]"></span>
								</div>
							</div> -->

							<div class="form-group" ng:class="{'has-error':errors['email'][0]}">
								<label class="col-md-2 control-label">Email: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="text" class="form-control" ng-model="customer.email" placeholder="">
									<span class="help-block" ng-bind="errors['email'][0]"></span>
								</div>

							</div>

							<div class="form-group" ng:class="{'has-error':errors['mobile_number'][0]}">
								<label class="col-md-2 control-label">Mobile number: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="text" class="form-control" ng-model="customer.mobile_number" placeholder="">
									<span class="help-block" ng-bind="errors['mobile_number'][0]"></span>
								</div>

							</div>

							<div class="form-group" ng:class="{'has-error':errors['password'][0]}">
								<label class="col-md-2 control-label">Password: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="password" class="form-control" ng-model="customer.password" placeholder="">
									<span class="help-block" ng-bind="errors['password'][0]"></span>
								</div>

							</div>

							<div class="form-group" ng:class="{'has-error':errors['password_confirmation'][0]}">
								<label class="col-md-2 control-label">Confirm password: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="password" class="form-control" ng-model="customer.password_confirmation" placeholder="">
									<span class="help-block" ng-bind="errors['password_confirmation'][0]"></span>
								</div>

							</div>
							<div class="form-group" ng:class="{'has-error':errors['status'][0]}">
								<label class="col-md-2 control-label">Status: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<select class="form-control" ng-model="customer.status">
										<option value="1">Active</option>
										<option value="0">In-Active</option>
									</select>
									<span class="help-block" ng-bind="errors['status'][0]"></span>
								</div>
							</div>
						</div>
					<!-- </tab>

					<tab>

						<tab-heading>Contacts</tab-heading>

							<div class="text-align-reverse margin-bottom-10">
								<a href="javascript:void(0)" ng-click="dealer.contacts.push({})" class="btn yellow">
									<i class="fa fa-plus"></i> Add Contact 
								</a>								
							</div>

							<table class="table table-bordered table-hover">
							<thead>
								<tr role="row" class="heading">
									
									<th width="40%">
										 Name
									</th>
									<th width="25%">
										 Designation
									</th>
									<th width="25%">
										 Number
									</th>									
									<th width="5%">
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="curContact in dealer.contacts">
									
									<td ng:class="{'has-error':errors['contacts.'+$index+'.name'][0]}">
										<input type="text" class="form-control" placeholder="Name" name="name" ng-model="curContact.name">
										<span class="help-block" ng-bind="errors['contacts.'+$index+'.name'][0]"></span>
									</td>
									<td ng:class="{'has-error':errors['contacts.'+$index+'.des'][0]}">
										<input type="text" class="form-control" placeholder="Designation" name="des" ng-model="curContact.des">
										<span class="help-block" ng-bind="errors['contacts.'+$index+'.des'][0]"></span>
									</td>
									<td ng-class="{'has-error':errors['contacts.'+$index+'.number'][0]}">
										
										<input type="text" class="form-control" name="number" placeholder="Phone" ng-model="curContact.number" ng-required="true">
						            	<span class="help-block" ng-bind="errors['contacts.'+$index+'.number'][0]"></span>

						            	<span class="help-block" ng-show="curContact.number.$error.required || curContact.number.$error.number">Valid phone number is required</span>
						            	<span class="help-block" ng-show="((curContact.number.$error.minlength || curContact.number.$error.maxlength) && curContact.number.$dirty) ">phone number should be 10 digits</span>

									</td>
									<td>
										<a href="#" class="btn default btn-sm" ng-click="contactRemove($index)">
										<i class="fa fa-times"></i> Remove </a>
									</td>
								</tr>
							</tbody>
						</table>
					</tab>
				</tabset> -->

			</div>
		</div>
	</div>
</div>