<div class="logo">
	<a href="#">
	<img src="assets/admin/layout/img/logo-big.png" alt=""/>
	</a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content" ng-controller="ResetpasswordController">
	<!-- BEGIN RESET PASSWORD FORM -->	
	<form class="login-form" ng-submit="resetPass()">
		<h3 class="form-title">Reset your password</h3>						
		<div class="form-group" ng:class="{'has-error':errors.password[0]}">
			<label class="control-label visible-ie8 visible-ie9">New Password</label>
			<input maxlength="32" ng-model="credentials.password" class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="New Password" name="password"/>
			<span class="help-block" ng-bind="errors.password[0]"></span>
		</div>
		<div class="form-group" ng:class="{'has-error':errors.password_confirmation[0]}">
			<label class="control-label visible-ie8 visible-ie9">Confirm New Password</label>
			<input maxlength="32" ng-model="credentials.password_confirmation" class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Confirm New Password" name="password"/>
			<span class="help-block" ng-bind="errors.password_confirmation[0]"></span>
		</div>
		<div class="form-actions">
			<button ng-disabled="loading" type="submit" class="btn btn-success uppercase">Submit</button>
			<a class="btn" ui-sref="login">Cancel</a>
		</div>
	</form>
	<!-- END RESET PASSWORD FORM -->
</div>
