<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-12">		
		<!-- Begin: life time stats -->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-handbag"></i>{{$state.$current.data.pageTitle}}
				</div>
				<div class="actions">
					<button type="button" class="btn default yellow-stripe" ng-click="authorizeGoogleAccount();">
						<span class="hidden-480">Authorize Google Account</span>
					</button>					
				</div>
			</div>
		</div>
		<!-- End: life time stats -->
	</div>
</div>
<!-- END MAIN CONTENT -->