<a href="#" data-toggle="modal" data-target="#productModal" class="icon-btn" ng-click="productquery=''">
	<i class="fa fa-barcode"></i>
	<div>Products</div>
	<span class="badge badge-success" ng-bind="alcoholCart.getTotalItems()"></span>
</a>

<a href="#" ng-click="package($event)" class="icon-btn">
	<i class="fa fa-barcode"></i>
	<div>Package</div>
	<span class="badge badge-success" ng-bind="alcoholCart.getTotalPackages()"></span>
</a>

<a href="#" ng-click="giftcard($event,key)"  class="icon-btn">
	<i class="fa fa-plus"></i>
	<div>Gift Cards</div>
	<span class="badge badge-success" ng-bind="alcoholCart.getTotalGifts()"></span>
</a>

<a href="#" ng-click="giftcard($event,key)"  class="pull-right">
	asdas
</a>

<div>
	<div class="table-responsive">
	
		<table class="table cart-table">		
			<tbody>
				<tr ng-repeat-start="(key, cartproduct) in alcoholCart.getProducts()"></tr>
				<tr ng-repeat="type in ['qChilled','qNChilled']" ng-if="cartproduct[type]>0 && cartproduct['remain'+type]>0">

					<td width="40%">
						<div>
							<span ng-if="cartproduct.isAvail()" class="cart-alert">!
							<md-tooltip class="cart-alert-tooltip" md-direction="top">Sorry! This item is either out of stock, or unavailable for the quantity or delivery time selected.</md-tooltip>
							</span>
						</div>
						
						<div>
							<div class="col-md-2">
								<span class="cursor-pointer">
									<a ui-sref="mainLayout.product({product:cartproduct.product.slug})" title="View Product">
										<img err-pro-src="" ng-src="products/i/200/{{cartproduct.product.imageFiles | getProductThumb}}" alt="" class="" width="40"/>
									</a>
								</span>
							</div>
							<div class="col-md-10">
								<div><b>{{cartproduct.product.name}}</b></div>
								<div>{{cartproduct.product.shortDescription}}</div>
								<div><b>{{cartproduct.unitPrice | pricingTxt}}</b></div>
								<div>unit Price</div>
							</div> 

						</div>

					</td>
					<td>
						<div class="prod_chilled" ng-class="{
						notchilled:!cartproduct[type+'Status'] || cart.nonchilled,
						invisible:!cartproduct.product.chilled ,

						}"
						ng-click="alcoholCart.updateChilledStatus(cartproduct._id,type)">
						<span>Chilled</span>
						<div class="prod_chilled_icon"></div>
						</div>
						
					</td>
					<td width="150">
						
						<div class="checkoutmiddlevlauediv">

							<input type="text" ng-model="cartproduct[type]" value="cartproduct[type]" min="0" remain="cartproduct['remain'+type]" mquantity="cartproduct[type+'Max']" ng-touch-spin on-increment="addtocart(cartproduct.getId(),type)" on-decrement="addtocart(cartproduct.getId(),type)">

						</div>

					</td>
					<td width="100">
						<div class="orderhistry2price"><b>{{cartproduct.discountedUnitPrice * cartproduct['remain'+type] | pricingTxt}}</b></div>
					</td>
					<td width="100"> 
						<a href="#" class="checkoutmiddletabledeleteimg" ng-click="remove(key,type, cartproduct[type])"><i class="glyphicon glyphicon-trash"></i></a>
					</td>
				</tr>
				<tr ng-repeat-end></tr>

				<tr ng-repeat="sale in alcoholCart.getSales()">
					<td width="52%">
						<ul class="orhistry2_td2procdtcvr list-inline sale-pro-list">
							<div ng-repeat-start="sPro in sale.products" ng-hide="true"></div>
								<li class="cursor-pointer" ng-repeat="a in sPro.productQtyArr">
									<a ui-sref="mainLayout.product({product:sPro.product.slug})" title="{{::sPro.product.name}}">
										<img err-pro-src="" ng-src="products/i/200/{{sPro.product.image}}" alt="" class="img-responsive img-responsive-h" />
									</a>
								</li>
							<div ng-repeat-end ng-hide="true"></div>
							<li ng-if="sale.action.length" class="sale-action-add-icon">
								<table><tr><td>+</td></tr></table>
							</li>
							<div ng-repeat-start="sPro in sale.action" ng-hide="true"></div>
								<li class="cursor-pointer" ng-repeat="a in sPro.productQtyArr">
									<a ui-sref="mainLayout.product({product:sPro.product.slug})" title="{{::sPro.product.name}}">
										<img err-pro-src="" ng-src="products/i/200/{{sPro.product.image}}" alt="" class="img-responsive img-responsive-h" />
									</a>																		
								</li>
							<div ng-repeat-end ng-hide="true"></div>
						</ul>
						<div class="sale-tag-txt -cart">{{sale.title.long}}</div><span class="strike-txt">{{sale.strikePrice | pricingTxt}}</span>
					</td>
					<td width="131px">
						<div class="prod_chilled" ng-class="{notchilled:!sale.chilled || cart.nonchilled}" ng-click="alcoholCart.saleChilled(sale)">
						<span>Chilled</span>
						<div class="prod_chilled_icon"></div>
						</div>
					</td>
					<td></td>
					<td>
						<div class="orderhistry2price"><span class="strike-txt-only">{{sale.strikePrice | pricingTxt}}</span><br>{{sale.price | pricingTxt}}</div>
					</td>
					<td>
						<a href="javascript:void(0)" class="checkoutmiddletabledeleteimg" ng-click="removeSale(sale)"><i class="glyphicon glyphicon-trash"></i></a>
					</td>
				</tr>

				<tr ng-repeat="(key, giftCard) in alcoholCart.getGiftCards()">

					<td width="52%">

						<div class="orhistry2_td2procdtcvr">
							<div>
								<div>Name: <b>{{giftCard.recipient.name}}</b></div>
								<div>Email: <b>{{giftCard.recipient.email}}</b></div>
								<div>Card: <b>{{giftCard.recipient.price}}</b></div>
								<div ng-if="giftCard.recipient.mobile">Mobile: <b>{{giftCard.recipient.mobile}}</b></div>
								<div >Message: <b class="split-txt">{{giftCard.recipient.message}}</b></div>
								
							</div> 
						</div>
					</td>
					<td>
						
					</td>
					<td>
						
					</td>
					<td width="150">
						<div class="checkoutmiddlevlauediv">

							<input type="text" ng-model="giftCard.recipient.quantity" value="giftCard.recipient.quantity" min="0" mquantity="100" ng-touch-spin on-increment="updateGiftCard(giftCard.getUniqueId())" on-decrement="updateGiftCard(giftCard.getUniqueId())">

						</div>
					</td>
					<td>
						<div>Price : <b>{{giftCard.recipient.price * giftCard.recipient.quantity | pricingTxt}}</b></div>
					</td>
					<td>
						<a href="#" class="checkoutmiddletabledeleteimg" ng-click="alcoholCart.removeCard(giftCard.getUniqueId(),true)"><i class="glyphicon glyphicon-trash"></i></a>
					</td>
				</tr>
				<tr ng-repeat-end></tr>

				<tr ng-repeat="(key, package) in alcoholCart.getPackages()">

					<td width="52%">
						<div class="orhistry2_td2procdtcvr">
							<div class="col-md-2">
								<span>
									<a ui-sref="mainLayout.packagedetail({type:package.original.type==2?'cocktail':'party',id:package._id,uid:package._uniqueId})">
										<img err-pro-src="" ng-src="packages/i/{{package.original.coverImage.source}}" src="asset/i/defaultImage.png" alt="" class="img-responsive" />
									</a>
								</span>
							</div>

							<div class="col-md-10">
								<div>{{package._name}}</div>
							</div>
						</div>
					</td>
					<td>
						<div><b></b></div>
					</td>
					<td>
						
					</td>
					<td>
						<div><b>{{package._price | pricingTxt}}</b></div>
					</td>
					<td>
						<a href="#" class="checkoutmiddletabledeleteimg" ng-click="alcoholCart.removePackage(package._uniqueId,true)"><i class="glyphicon glyphicon-trash"></i></a>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>

<!-- Product Modal -->
<div id="productModal" class="modal fade" role="dialog">

  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Search Products</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
	    	<div class="input-group-btn">
				<button type="button" class="btn green dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
					<span class="md-click-circle md-click-animate"></span>

					{{catSelected.parent !== "" ? catSelected.parent.cat_title : "ALL"}} <i class="fa fa-angle-down"></i>
				</button>
				<ul class="dropdown-menu">

					<li>
						<a href="javascript:;" ng-click="catSelected.parent = ''">All</a>
					</li>					
					<li ng-repeat="category in categories">
						<a href="javascript:;" ng-click="catSelected.parent = category">{{category.cat_title}}</a>
					</li>
				</ul>
			</div>

			<div class="input-group-btn" ng-if="catSelected.parent.child" style="border-left:1px solid #fff ">
				<button type="button" class="btn green dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
					<span class="md-click-circle md-click-animate"></span>

					{{catSelected.sub !== "" ? catSelected.sub.cat_title : "ALL"}} <i class="fa fa-angle-down"></i>
				</button>
				<ul class="dropdown-menu">

					<li>
						<a href="javascript:;" ng-click="catSelected.sub = ''">All</a>
					</li>					
					<li ng-repeat="category in catSelected.parent.child">
						<a href="javascript:;" ng-click="catSelected.sub = category">{{category.cat_title}}</a>
					</li>
				</ul>
			</div>
			
			<input ng-model="productquery" type="search" ng:class="{'spinner':searching}" class="form-control" placeholder="Search products to add in cart">
        </div>
        <div id="searchContainer">
        	<div class="col-sm-4">
        		<div class="row">
				<table class="table table-striped" id="orderlist">
					<tbody>
						<tr ng-repeat="p in products" ng-click="selected.product = p;selected.index = $index" ng-class='{proSelected:selected.index==$index}'>
							<td width="60" valign="middle">
								<img class="img-responsive img-responsive-h" err-src="asset/i/defaultImage.png" ng-src="products/i/200/{{p.imageFiles | getProductThumb}}">
							</td>
							<td valign="middle">								
								{{p.name}}
								<div><b>${{p.unitPrice}}</b></div>								
								<span  ng-if="p.sale" class="label label-sm label-info">{{p.sale.title}}</li>
							</td>							
						</tr>
					</tbody>
				</table>
				</div>

			</div>
			<div class="col-sm-8">
				<div class="row product-detail" ng-if="selected.product">
					<order-product-detail product='selected.product'></order-product-detail>
				</div>
			</div>
		</div>
        
      </div>
      
    </div>
  </div>
</div>