<div class="checkoutstepthree_showdate">Review Cart</div>
<div class="row">
	<div class="col-sm-6">
		Coupon Code :
		
	</div>
	<div class="col-sm-6">
		<div class="checkboxtotaldiv">
			
			<div class="checkboxtotaldiv-middle">

				<div class="checkboxtotaldiv-middle-first">
					<div class="checkboxtotaldiv-title">Subtotal</div>
					<div class="checkboxtotaldiv-text">{{alcoholCart.getSubTotal() | pricingTxt}}</div>
				</div>

				<div class="checkboxtotaldiv-middle-first">
					<div class="checkboxtotaldiv-title">Delivery Charge <span class=""><img src="images/questionimg.png"></span></div>

					<div class="checkboxtotaldiv-text" ng-if="!cart.delivery.charges">Free</div>
					<div class="checkboxtotaldiv-text" ng-if="cart.delivery.charges>0">{{alcoholCart.getDeliveryCharges() | pricingTxt }}</div>

				</div>
				<div class="checkboxtotaldiv-middle-first">
					<div class="checkboxtotaldiv-title">Service Charge <span class=""><img src="images/questionimg.png"></span></div>
					<div class="checkboxtotaldiv-text">{{alcoholCart.getAllServicesCharges() | pricingTxt}}</div>
				</div>
				<div class="checkboxtotaldiv-middle-first">
					
					<div class="checkboxtotaldiv-title">Discount (Non-Chilled) <span class="">
						<img src="images/questionimg.png"></span>
					</div>

					<div class="checkboxtotaldiv-text" ng-class="{txtcross:!cart.nonchilled}">-{{alcoholCart.getDiscount() | pricingTxt}}</div>
				</div>
			</div>
			<div class="checkboxtotaldiv-buttom">
				<div class="checkboxtotaldiv-title">Total</div>
				<div class="checkboxtotaldiv-text">{{alcoholCart.getCartTotal() | pricingTxt}}</div>
			</div>
		</div>
	</div>
</div>