<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title tabbable-line">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Edit Page</span>
				</div>				
			</div>			
			<div class="portlet-body">
					<!-- <pre>{{page|json}}</pre> -->
					<div class="form-group" ng:class="{'has-error':errors.section[0]}">
						<label class="control-label">Select section</label>
						<select empty="false" class="form-control" ng-model="page.section">
							<option ng-repeat="t in pagesection" value="{{t.value}}">{{t.name}}</option>			
						</select>
						<span class="help-block" ng-bind="errors.section[0]"></span>						
					</div>
					
					<div class="form-group" ng:class="{'has-error':errors.title[0]}">
						<label class="control-label">Page title</label>
						<input type="text" name="title" placeholder="Page title" class="form-control" required ng-model="page.title"/>
						<span class="help-block" ng-bind="errors.title[0]"></span>
						<span ng-show="page.title.$touched && page.title.$invalid">Page Title is required.</span>
					</div>
					
					<div class="form-group" ng:class="{'has-error':errors.linkTitle[0]}">
						<label class="control-label">Link title</label>
						<input type="text" name="title" placeholder="Link title" class="form-control" required ng-model="page.linkTitle"/>
						<span class="help-block" ng-bind="errors.linkTitle[0]"></span>
						<span ng-show="page.title.$touched && page.linkTitle.$invalid">Link Title is required.</span>
					</div>

					<slug from="page.title" to="page.slug"></slug>

					<!-- <div class="form-group" ng:class="{'has-error':errors.description[0]}">
						<label class="control-label">Description</label>
						<input type="text" name="title" placeholder="Title" class="form-control" required ng-model="page.description"/>
						<span class="help-block" ng-bind="errors.description[0]"></span>
						<span ng-show="page.description.$touched && page.description.$invalid">Description is required.</span>
					</div> -->

					<div class="form-group" ng:class="{'has-error':errors.content[0]}">
						<label class="control-label">Content</label>
						<textarea name="page_content" ckeditor="editorOptions" class="form-control" required ng-model="page.content" rows="6"  cols="80"></textarea>
						
						<span class="help-block" ng-bind="errors.content[0]"></span>
						<span ng-show="page.content.$touched && page.content.$invalid">Content is required.</span>
					</div>

					<div class="form-group" ng:class="{'has-error':errors.coverImage[0]}">
						<label class="control-label">Image</label>
						<div>
							<div class="fileinput fileinput-new" data-provides="fileinput">
								<div class="fileinput-new thumbnail" style="max-width: 200px; max-height: 150px;">
									<img err-src="asset/i/defaultImage.png" 
										ng-src="cmspages/i/{{page.coverImage}}" src="asset/i/defaultImage.png" alt=""/>

								</div>
								<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
								</div>
								<div>
									<span class="btn default btn-file">
										<span class="fileinput-new">{{ page.coverImage ? 'Change':'Select' }}</span>
										<span class="fileinput-exists">Change</span>

										<input type="file" placeholder="thumbnail" class="form-control" file-model="page.coverImage"/>
									</span>	
									<span class="btn default" ng-if="hasFile()">
										<span ng-click="page.coverImage = ''">Remove</span>
									</span>									
								</div>
							</div>
							
							<span class="help-block" ng-bind="errors.coverImage[0]"></span>
						</div>
					</div>

					<div class="form-group" ng:class="{'has-error':errors.metaTitle[0]}">
						<label class="control-label">Meta Title:</label>
						<input type="text" class="form-control maxlength-handler" ng-model="page.metaTitle" maxlength="100" placeholder="">
						<span class="help-block">
						max 100 chars </span>
						<span class="help-block" ng-bind="errors.metaTitle[0]"></span>						
					</div>
					<div class="form-group" ng:class="{'has-error':errors.metaKeywords[0]}">
						<label class="control-label">Meta Keywords:</label>
						<textarea class="form-control maxlength-handler" rows="5" ng-model="page.metaKeywords" maxlength="150"></textarea>
						<span class="help-block">
						max 150 chars </span>
						<span class="help-block" ng-bind="errors.metaKeywords[0]"></span>						
					</div>
					<div class="form-group" ng:class="{'has-error':errors.metaDescription[0]}">
						<label class="control-label">Meta Description:</label>
						<textarea class="form-control maxlength-handler" rows="5" ng-model="page.metaDescription" maxlength="150"></textarea>
						<span class="help-block">
						max 150 chars </span>
						<span class="help-block" ng-bind="errors.metaDescription[0]"></span>						
					</div>

					<div class="form-group" ng:class="{'has-error':errors.content[0]}">
						<label class="control-label">Status</label>
						<select class="form-control" ng-model="page.status">
							<option value="1">Active</option>
							<option value="0">In-Active</option>
						</select>
						<span class="help-block" ng-bind="errors.status[0]"></span>
						<span ng-show="page.status.$touched && page.status.$invalid">status is required.</span>
					</div>
				
					<div class="row">
						<div class="col-sm-12">
							<div class="margin-top-10 pull-right">
								<input ng-disabled="loading" type="submit" name="update" value="Update" ng-click="update()" class="btn green-haze">
								
								<a ui-sref="userLayout.cms.list" class="btn default">Cancel </a>
							</div>
						</div>
					</div>

			</div>
		</div>
	</div>
</div>