<md-dialog aria-label="Repeat Last Order" layout="column" flex="50" class="via-padd">
  
  <form>
    <!-- <md-toolbar>
    <div class="md-toolbar-tools ">
    <div class="alcohal_addadress_headercurmain"> </div>
    <span flex></span>
    </div>
    </md-toolbar> -->
    <md-dialog-content>
      <div class=" md-dialog-content alcohaladdadrebody alcohal_reapeatorederbody">
        <div class="alcohal_reapeatorederbodycvr">
          <div class="alcohal_reapeatorederbodytitle">Repeat Last Order</div>
          <div class="alcohal_repeatorderbodytxt">This will add all the items from last order to your shopping cart. Choose “Yes, please!” button to continue.</div>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" class="repaet-layout-height">
      <div class="alcohal_reapeatorederbtnsocvercvr">
        <button type="button" class="alcohalfooter_repeatorderbtn" ng-click="repeatOrderConfirmed()">YES PLEASE!</button>
        <button type="button" class="alcohalfooter_repeatorderbtn" ng-click="close()" style="margin-right:10px;">No, thanks!</button>
        <!-- <div class="alcohal_reapeatorenothnxtxt" ng-click="close()">No, thanks!</div> -->
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>