<div class="modal-body alcohal_reapeatorederbody">
	<div class="alcohal_reapeatorederbodycvr">
		<div class="alcohal_reapeatorederbodytitle">Repeat Last Order</div>
		<div class="alcohal_repeatorderbodytxt">This will add all the items from last order <br />to your shopping cart. Choose “Yes, please!” button to continue. </div>
		<div class="alcohal_reapeatorederbtnsocvercvr">
			<div class="alcohal_reapeatorenothnxtxt" ng-click="close()">No, thanks!</div>
			<button type="button" class="alcohalfooter_repeatorderbtn" ng-click="repeatOrderConfirmed()">YES PLEASE!</button>
		</div>
	</div>
</div>