<md-dialog aria-label="Shop from your previous order"  flex="50">
  <form>
    <md-toolbar >
      <div class="md-toolbar-tools alcohal_addadress_header">
        <div class="alcohal_addadress_headercurmain">
	<div class="alcohalorderhisttitle">Shop from your previous order</div>
</div>
 <span flex></span>  <md-button class="md-icon-button" ng-click="close()"> &times; </md-button></div>
  </md-toolbar>
  <md-dialog-content  ng-if="!viewDetail">
      <div class="md-dialog-content alcohaladdadrebody">
 <div class="alcohlinputextcvr">
		<div ng-if="fetchingOrders" id="prevOrdersFetchLoading"></div>
		<div ng-if="!fetchingOrders" class="alcohal_orderhistorytxtcvr">
			<div class="alcohal_orderhistorybodytxt">Shopping from a past order provides a convenient way to quickly shop for the same products again. </div>	
			<div class="alcohal_orderhistorybodytxtclick">Click on a given order and add the desired products to the basket. </div>
			<div class="alcohal_hisryorderboxcvr">
   
				<div class="alcohal_hisryorderboxcvr1" ng-repeat="orderSummary in orders" ng-click="previousOrder(orderSummary.reference,$event)">
             <div class="alchol-repeat-cover-3">
					<div class="alcohal_hisryorderordertxt">Order: {{orderSummary.reference}}</div>
					<div class="alcohal_hisryorderdelitext">Delivered on: {{ orderSummary.created_at.sec*1000 | date:'EEE, d MMM, yyyy'}}</div>
					<div class="alcohal_hisryorderitemtext">{{orderSummary.quantity}} Items</div>
				</div>
				</div>
			</div>
		</div>
	</div>
    </div>
    </md-dialog-content>
       <md-dialog-actions layout="row" class="repaet-layout-height"  ng-if="!viewDetail">
	<div class="modal-footer alcohal_orderhistoryfotter">
		<button type="button" class="alcohalfooter_shopordershopbtn" ng-click="close()">Nah, I'll place a new order<span><img src="images/alcholshoporderarrow.png" /></span>
		</button>
	</div>
  </md-dialog-actions>


  <md-dialog-content  ng-if="viewDetail">
      <div class="md-dialog-content alcohaladdadrebody">
       <div class="alcohlinputextcvr">

		<div ng-if="fetchingOrder" id="prevOrderFetchLoading"></div>

		<div ng-if="!fetchingOrder">
		<div class="alcohal_orderhistory2bodytext1"> Order: {{order.reference}} ({{order.products.length}} items) </div>
		<div class="alcohal_orderhistory2bodytext2"> Delivered on: {{order.reference}} </div>
		<div class="alcohal_ordehisty2selctboxcvr">
			<!-- <input type="checkbox" class="orderhistysect_check" name="cc" id="b1"> -->
			<md-checkbox ng-model="allSelected" ng-change="selectAll(allSelected)"> Select all</md-checkbox>
		</div>
		<div class="alcohal_ordehisty2selctblcvr">
        <div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th width="20px"></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					
					<tr ng-repeat-start="product in order.products"></tr>
					<tr ng-repeat="type in ['qChilled','qNChilled']" ng-if="product[type]>0">

						<td>
							<div class="cheklble">
								<md-checkbox ng-model="product[type+'Selected']" ng-change="product[type+'Selected']?0:$parent.allSelected=false" aria-label="select product"></md-checkbox>			
							</div>
							
						</td>
						<td>
							<div class="orhistry2_td2procdtcvr"> 
								
								<span class="cursor-pointer">
									<a ui-sref="mainLayout.product({product:product.slug})" title="View Product">
										<img ng-src="products/i/200/{{product.imageFiles | getProductThumb}}" alt="Product Icon" class="img-responsive img-responsive-h" />
									</a>
								</span>

								<div class="checkouter-td-right-text">
									<div class="orhistry2_td2proctext1">{{product.name}}</div>
									<div class="orhistry2_td2proctext2">{{product.shortDescription}}</div>

									<div class="orhistry2_td2proctext1">{{product.getCurrentUnitPrice() | pricingTxt}}</div>
									<div class="orhistry2_td2proctext2">unit Price</div>

								</div>
							</div>
							<div class="sale-tag-txt -cart" ng-if="product.sale.isSingle">{{product.sale.detailTitle}}</div>
						</td>
						<td width="131">
							
							<div 
								class="prod_chilled" 
								ng-if="product.chilled" 
								ng-class="{notchilled:!product[type+'State']}" 
								ng-click="product[type+'State']=!product[type+'State']"
							>
							<span>Chilled</span>
							<div class="prod_chilled_icon"></div>
							</div>

						</td>
						<td width="70">
							<div class="alcohocal_ordrhistryincrmnetdrcrmnt2cvr full-width">

								<input ng-touch-spin type="text" ng-model="product[type]" value="product[type]" min="1" >

							</div>
						</td>
						<td>							
							<div class="orderhistry2price">{{product.getCurrentUnitPrice() * product[type] | pricingTxt}}</div>
						</td>
					</tr>
					<tr ng-repeat-end></tr>
					
				</tbody>
			</table>
            </div>
		</div>
		</div>

	</div>
     </div>
    </md-dialog-content>
     <md-dialog-actions layout="row" class="repaet-layout-height"  ng-if="viewDetail">
	<div class="modal-footer  alcohal_orderhistory2fotter">
		<div class="alcohal_orderhistory2fotter">
			<img src="images/order_history2backpic.png" /> <span ng-click="viewHistory()">Back to orders history</span> 
		</div>

		<button ng-disabled="processAdding" type="button" class="alcohalfooter_shopordershopbtn" ng-click="addToBasket()">Add to basket <span> <img src="images/alcholshoporderarrow.png" /></span></button>

	</div>
    </md-dialog-actions>

</form>
</md-dialog>