<!-- <div product-breadcrumb info="product" viaLoyaltyStore="viaLoyaltyStore"></div> -->
<div product-breadcrumb info="product"></div>


<div class="productdetailcovermainbgimg">
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6" ng-class="{comboproductitems_outofstock:{{!(product.quantity>0)}}}">
		<!-- <div class="prddetailnormaltext">
			<button title="{{isInwishList?'Added to Wishlist':'Add to Wishlist'}}" class="btn btn-default btn-purple detailwishbut" ng-click="isInwishList?myWish():addToWishlist(0); $event.stopPropagation();">
				<img src="images/add-wish-icon.png" /> 
				<span ng-bind="isInwishList?'Added to Wishlist':'Add to Wishlist'"></span>
			</button>
		</div> -->

		<div class="add-bulk-iner-widthset detailwish">
			<div class="add-icon-main" ng-click="isInwishList?myWish():addToWishlist(0); $event.stopPropagation();">

				<div class="add-wishlist-icondiv"><img src="images/add-wish-icon.png" /></div>

				<div class="wishlist_discount">
					<div class="wishlist" ng-bind="isInwishList?'Added to Wishlist':'Add to Wishlist'"></div>
				</div>

			</div>
		</div>
		<data-owl-carousel class="owl-carousel owluperpartcover" data-options="parentOwlOptions" ng-model="sync1">

				<img err-pro-src="" ng-src="products/i/400/{{image.source}}" alt="" isCover="{{image.coverimage}}" sortOrder="{{image.order}}" class="img-responsive img-responsive-h sync1"  owl-carousel-item="" ng-repeat="image in product.imageFiles"/>
															
		</data-owl-carousel >

		<data-owl-carousel class="owl-carousel owldownpartcover" data-options="childOwlOptions" ng-model="sync2">

				<img err-pro-src="" ng-src="products/i/200/{{image.source}}" alt="" class="img-responsive img-responsive-h" ng-click="syncClick(image.order)" owl-carousel-item ng-repeat="image in product.imageFiles | orderBy:'order'"/>
											
		</data-owl-carousel> 
		
		<div class="prddetailnormaltext">{{product.description}}</div>           
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 product-detail-right-set" ng:class="{'has-sale-div':product.sale || product.nameDetailSale}">
		<div class="prddetailtitle">{{product.name}} </div>
			<div class="tag-purple-new-pos">
				<div class="tag-purple-new" ng-if="product.sale && !product.sale.coverImage">				
					<div class="skew"></div>
					<div class="skew2"></div>
					<div class="salediscount tag-button-new">{{product.sale.detailTitle}}</div>
				</div>
				<div class="tag-purple-new transparent-bg" ng-if="product.sale.coverImage">					
					<div class="pull-right tag-pic" ng-if="product.sale.coverImage">
						<img style="width: 100px;" src="sale/i/{{product.sale.coverImage}}">
					</div>
				</div>
				<div class="fullwidth"></div>
				<div class="tag-yellow-new" ng-if="product.nameDetailSale && !product.saleImage">				
					<div class="skew"></div>
					<div class="skew2"></div>
					<div class="nametag">{{product.nameDetailSale}}</div>
				</div>
				<div class="tag-yellow-new transparent-bg" ng-if="product.saleImage">					
			<div class="prddetailnormaltext" ng-if="product.saleImage">
				<img style="width: 100px;" src="sale/i/{{product.saleImage}}">
				</div>
			</div>
			</div>
			<div class="prddetailsubexttitle">{{product.shortDescription}}</div>
			<!-- <div class="prddetailnormaltext">{{product.description}}</div> -->
			<!-- <div class="prddetailnormaltext">
				<button class="btn btn-default btn-purple" ng-click="isInwishList?myWish():addToWishlist(0); $event.stopPropagation();">
					<img src="images/add-wish-icon.png" /> 
					<span ng-bind="isInwishList?'Added to Wishlist':'Add to Wishlist'"></span>
				</button>
			</div> -->
			
			<div class="prddetailchilledcover text-noselect" ng-if="product.chilled && (product.quantity>0 || product.outOfStockType == 2)" >
				<div class="prodchilled-btn" ng-class="{'active':product.servechilled}" ng-click="product.servechilled=1">
					<span>Chilled</span>
					<div class="-icon"></div>
				</div>
				
				<div class="prodnonchilled-btn" ng-class="{'active':!product.servechilled}" ng-click="product.servechilled=0">
					<span>Non-Chilled</span>
					<div class="-icon"></div>
				</div>
			</div>
			<div class="prdquantitybulkcover text-noselect" ng-if="product.quantity>0 || product.outOfStockType == 2">
				<div class="checkoutmiddlevlauediv">
						<div class="pardqantitytexthead">Quantity</div>

						<div ng-if="product.servechilled" ng-class="{added:product.qChilled>0}">
							<input type="text" value="product.qChilled" ng-model="product.qChilled" min="0" mquantity="product.chilledMaxQuantity" ng-touch-spin>
						</div>

						<div ng-if="!product.servechilled" ng-class="{added:product.qNChilled>0}">
							<input type="text" value="product.qNChilled" ng-model="product.qNChilled" min="0" mquantity	="product.nonChilledMaxQuantity" ng-touch-spin>
						</div>


				</div>
				<div class="prdquantitybulkcoverbulk" ng-if="!viaLoyaltyStore">

					<div class="pardqantitytexthead">Bulk Quantity Discounts Chart (Piece)</div>
					
					<div class="prdquantitybulkcoverbulkbox">

						<div class="prdquanbulkboxone">Qty<br />Amount</div>

						<div class="prdquanbulkboxtwo" ng-repeat="bulkBlock in product.bulkPricing" ng-class="{'prdquanbulkActive':product.getTotalQty()>=bulkBlock.from_qty && product.getTotalQty()<=bulkBlock.to_qty}">
							
							{{bulkBlock.from_qty}}<span ng-if="bulkBlock.to_qty!=99999">-{{bulkBlock.to_qty}}</span><span ng-if="bulkBlock.to_qty==99999">+</span>
							<br />${{bulkBlock.price}}

						</div>

					</div>

				</div>
			</div>
			<div class="prddetailtotalamount">Unit Price</div>

			<div class="prddetailpricedicnt" ng-if="!viaLoyaltyStore">
				{{product.salePrice | pricingTxt}}
				<span ng-if="product.price != product.salePrice">{{product.price | pricingTxt}}</span>
								
			</div>
			

			<div class="prddetailpricedicnt" ng-if="viaLoyaltyStore">

				<div ng-if="product.loyaltyValueType==0">LP {{product.loyaltyValuePoint}}</div>
				<div ng-if="product.loyaltyValueType==1">LP {{product.loyaltyValuePoint}} + {{product.loyaltyValuePrice | pricingTxt}}</div>

			</div>


			<div class="prddetailinstock" ng-if="product.quantity>0 || product.outOfStockType == 2">
			In Stock <not-available product="product"></not-available></div>
			<div class="prddetailinstock" ng-if="product.quantity<1 && product.outOfStockType == 1">
				<span class="text-danger">Out of Stock</span>
			</div>

			<div class="productslide_addbutton">
				<div class="cartbtn" ng-if="product.quantity>0 || product.outOfStockType == 2">
					<div class="addcart only-button prod_addtocart" ng-click="addtocart()" ng-if="!product.isInCart || product.getTotalQtyInCart()<1"><span></span>add to cart</div>
					<div class="addcart only-button prod_addtocart" ng-click="addtocart()" ng-if="product.isInCart && product.getTotalQtyInCart()>0"><span></span>Update cart</div>

				</div>
				<div class="row">			
					<div class="col-md-4">
						<out-of-stock product="product" ng-if="product.quantity<1 && product.outOfStockType == 1"></out-of-stock>
					</div>
				</div>
			</div>

			<div class="salediv pull-left full-width m-top-15">
				<md-checkbox ng-checked="saleExists()" ng-click="addToWishlist(1)" aria-label="leaveatdoor-checkbox">
			    	Tell me when it's on sale
			    </md-checkbox>
				<md-tooltip md-direction="bottom" class="m-bottom-5">
		        	Add this item to my Wish List and we will notify you when it goes on sale
		        </md-tooltip>
		    </div>

	</div>
</div>
</div>
<div ui-view="alsoboughtthis"></div>
