<div class="productdetailbrudcumcover">
  <a href="">Home</a>
    <img src="images/productdetail2.png">
    <a href="">Beer</a>
    <img src="images/productdetail2.png">
    <a href="">Carlsberg</a>
    <img src="images/productdetail2.png">
    <span>Carlsberg Lager Can - Case</span>
</div>
<div class="productdetailcovermainbgimg">
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
            <div id="sync1" class="owl-carousel owluperpartcover">
              <img src="images/productslide01.png">
              <img src="images/prddetailthum2.jpg">
              <img src="images/productslide01.png">
              <img src="images/prddetailthum2.jpg">
              <img src="images/productslide01.png">
              <img src="images/prddetailthum2.jpg">
              <img src="images/productslide01.png">
              <img src="images/prddetailthum2.jpg">
              <img src="images/productslide01.png">
              <img src="images/prddetailthum2.jpg">
              <img src="images/productslide01.png">
              <img src="images/prddetailthum2.jpg">
            </div>
            <div id="sync2" class="owl-carousel owldownpartcover">
              <img src="images/prddetailthum1.jpg">
              <img src="images/prddetailthum2.jpg">
              <img src="images/prddetailthum1.jpg">
              <img src="images/prddetailthum2.jpg">
              <img src="images/prddetailthum1.jpg">
              <img src="images/prddetailthum2.jpg">
              <img src="images/prddetailthum1.jpg">
              <img src="images/prddetailthum2.jpg">
              <img src="images/prddetailthum1.jpg">
              <img src="images/prddetailthum2.jpg">
              <img src="images/prddetailthum1.jpg">
              <img src="images/prddetailthum2.jpg">
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="prddetailtitle">Carlsberg Lager Can - Case</div>
            <div class="prddetailsubexttitle">24 x 323 ml</div>
            <div class="prddetailnormaltext">The most loved No.1 International lager beer in Singapore. Brewed with pure malt and boasting a smooth richness, this flagship lager is quintessential easy-drinking beer for all occasions...</div>
            <div class="prddetailchilledcover">
              <div class="prd_prodchilledPink">
                  <span>Chilled</span>
                  <div class="prod_chilled_icon"></div>
                </div>
                
                <div class="prd_prodchilledgray">
                  <span>Non-Chilled</span>
                  <div class="prod_chilled_icongray"></div>
                </div>
            </div>
            <div class="prdquantitybulkcover">
              <div class="checkoutmiddlevlauediv">
                  <div class="pardqantitytexthead">Quantity</div>
                  <input id="demo3" type="text" value="" name="demo_vertical2">
              </div>
                <div class="prdquantitybulkcoverbulk">
                  <div class="pardqantitytexthead">Bulk Quantity Discounts Chart (Piece)</div>
                    <div class="prdquantitybulkcoverbulkbox">
                      <div class="prdquanbulkboxone">Qty<br />Amount</div>
                        <div class="prdquanbulkboxtwo">2-5<br />$54</div>
                        <div class="prdquanbulkboxthree prdquanbulkActive">2-5<br />$54</div>
                        <div class="prdquanbulkboxlast">11+<br />$50</div>
                    </div>
                </div>
            </div>
            <div class="prddetailtotalamount">Total Cost</div>
            <div class="prddetailpricedicnt">$56.50 <span>$64.00</span></div>
            <div class="prddetailinstock">In Stock.</div>
            <div class="productslide_addbutton"><div class="cartbtn">
                                             <div class="addcart"><span></span>add to cart</div>
                                                <div class="addmore"><input id="addmore_count" type="text" value="" name="addmore_count"><span class="addmorehere">add more</span></div>
                                                <div class="addmanual">
                                                 <div class="relat">
                                                  <input id="addmore_val" name="" value="" type="text" />
                                                     <div class="addbuttton">add</div>
                                                    </div>
                                                </div>
                                            </div></div>
        </div>
    </div>
</div>


<!--  -->

<div class="combo_slider combo_sliderProduct">
  <div class="productdetailtitle">Customers Who Bought This Item Also Bought</div>
  
    <div class="comboproductdetailitems">
      <div class="prod_chilled notchilled"> <span>Chilled</span>
      <div class="prod_chilled_icon"></div>
    </div>
    <div class="prod_pic"><img src="images/product.png" class="img-responsive" /></div>
    <div class="prod_desc">CP Crispy Chicken with Korean Hot and Spicy Sauce</div>
    <div class="prod_price">28.00 SGD</div>
    <div class="prod_discout_price">24.00 SGD</div>
    <div class="prodcombo_addtocartbutton"><img src="images/addtocart.png" class="img-responsive" /></div>
    </div>
    <div class="comboproductdetailitems">
      <div class="prod_chilled notchilled"> <span>Chilled</span>
      <div class="prod_chilled_icon"></div>
    </div>
    <div class="prod_pic"><img src="images/product.png" class="img-responsive" /></div>
    <div class="prod_desc">CP Crispy Chicken with Korean Hot and Spicy Sauce</div>
    <div class="prod_price">28.00 SGD</div>
    <div class="prod_discout_price">24.00 SGD</div>
    <div class="prodcombo_addtocartbutton"><img src="images/addtocart.png" class="img-responsive" /></div>
    </div>
    <div class="comboproductdetailitems">
      <div class="prod_chilled notchilled"> <span>Chilled</span>
      <div class="prod_chilled_icon"></div>
    </div>
    <div class="prod_pic"><img src="images/product.png" class="img-responsive" /></div>
    <div class="prod_desc">CP Crispy Chicken with Korean Hot and Spicy Sauce</div>
    <div class="prod_price">28.00 SGD</div>
    <div class="prod_discout_price">24.00 SGD</div>
    <div class="prodcombo_addtocartbutton"><img src="images/addtocart.png" class="img-responsive" /></div>
    </div>
    <div class="comboproductdetailitems">
      <div class="prod_chilled notchilled"> <span>Chilled</span>
      <div class="prod_chilled_icon"></div>
    </div>
    <div class="prod_pic"><img src="images/product.png" class="img-responsive" /></div>
    <div class="prod_desc">CP Crispy Chicken with Korean Hot and Spicy Sauce</div>
    <div class="prod_price">28.00 SGD</div>
    <div class="prod_discout_price">24.00 SGD</div>
    <div class="prodcombo_addtocartbutton"><img src="images/addtocart.png" class="img-responsive" /></div>
    </div>
    <div class="comboproductdetailitems">
      <div class="prod_chilled notchilled"> <span>Chilled</span>
      <div class="prod_chilled_icon"></div>
    </div>
    <div class="prod_pic"><img src="images/product.png" class="img-responsive" /></div>
    <div class="prod_desc">CP Crispy Chicken with Korean Hot and Spicy Sauce</div>
    <div class="prod_price">28.00 SGD</div>
    <div class="prod_discout_price">24.00 SGD</div>
    <div class="prodcombo_addtocartbutton"><img src="images/addtocart.png" class="img-responsive" /></div>
    </div>
    
</div>
