<div class="{{classes}}" ng-class="{comboproductitems_outofstocks:{{!(productInfo.quantity>0) && productInfo.outOfStockType == 1}}}">

	<!-- <div ng-if="productInfo.quantity<1 && productInfo.outOfStockType == 1" class="productsoldoutbkbtn">Sold Out</div> -->

	<div class="prod_chilled us-txt" ng-class="{notchilled:!productInfo.servechilled,invisible:{{!productInfo.chilled}}}"  ng-click="productInfo.servechilled=!productInfo.servechilled"> 
		<div class="prod_chilled_icon"></div>
		<span>Chilled</span>
	</div>

	<div ng-click="itemClick(productInfo.slug)">

	<div class="prod_pic pos-realtive">
		<div class="wishlist-main-outer bulk-outer-hover">
			<div class="add-bulk-wishlist-icon">

				<div class="add-bulk-iner-widthset">
					<div class="add-icon-main" ng-click="isInwishList?myWish():addToWishlist(0); $event.stopPropagation();">

						<div class="add-wishlist-icondiv">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18px" height="16.998px" viewBox="6 6.501 18 16.998" enable-background="new 6 6.501 18 16.998" xml:space="preserve">
								<path fill="#FFFFFF" d="M10.724,6.501c1.256,0,2.282,0.434,3.071,1.182c0.506,0.479,0.91,1.083,1.205,1.786
									c0.295-0.703,0.699-1.307,1.199-1.786c0.787-0.748,1.82-1.182,3.076-1.182c1.309,0,2.486,0.545,3.34,1.418
									C23.475,8.799,24,10.007,24,11.34c0,2.292-2.449,4.977-4.188,6.875c-0.313,0.342-0.603,0.657-0.864,0.959l-3.609,4.17
									c-0.167,0.189-0.449,0.209-0.635,0.039c-0.019-0.014-0.032-0.025-0.044-0.039l-3.609-4.17c-0.237-0.27-0.544-0.604-0.878-0.972
									C8.436,16.305,6,13.639,6,11.34c0-1.333,0.532-2.541,1.384-3.421C8.243,7.046,9.423,6.501,10.724,6.501L10.724,6.501z"/>
							</svg>
						</div>

						<div class="wishlist_discount">
							<div class="wishlist" ng-bind="isInwishList?'Added to Wishlist':'Add to Wishlist'"></div>
						</div>

					</div>
				</div>

				<div class="add-bulk-iner-widthset" ng-if="productInfo.type!='2' && productInfo.bulkApplicable">
					<div class="bulk-icon-maincover"> 
						<div class="bulk-dis-icon">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="18.01px" height="18.009px" viewBox="5.995 5.995 18.01 18.009" enable-background="new 5.995 5.995 18.01 18.009" xml:space="preserve">
								<g>
									<g>
										<path fill="#564111" d="M23.98,13.563l-0.828-5.199c-0.114-0.732-0.781-1.399-1.518-1.517l-5.199-0.829
											c-0.686-0.109-1.567,0.175-2.052,0.659l-7.969,7.969c-0.565,0.565-0.56,1.493,0.012,2.064l6.862,6.862
											c0.572,0.57,1.498,0.576,2.063,0.012l7.97-7.97C23.809,15.128,24.094,14.246,23.98,13.563z M17.865,18.313
											c-0.143,0.146-0.295,0.285-0.44,0.427c-0.131,0.12-0.268,0.11-0.394-0.011c-0.1-0.096-0.204-0.189-0.305-0.285
											c-0.226-0.211-0.24-0.211-0.487-0.041c-0.314,0.222-0.646,0.418-1.017,0.537c-0.289,0.097-0.362,0.07-0.509-0.181
											c-0.11-0.186-0.22-0.372-0.325-0.563c-0.121-0.221-0.094-0.285,0.152-0.361c0.419-0.125,0.792-0.33,1.138-0.587
											c0.227-0.166,0.395-0.371,0.499-0.623c0.194-0.472-0.151-0.903-0.677-0.854c-0.178,0.016-0.352,0.065-0.519,0.131
											c-0.43,0.16-0.845,0.367-1.301,0.472c-0.734,0.176-1.405,0.096-1.93-0.472c-0.592-0.644-0.629-1.361-0.262-2.119
											c0.152-0.313,0.157-0.313-0.094-0.553c-0.084-0.081-0.168-0.161-0.252-0.246c-0.184-0.186-0.184-0.246,0-0.432
											c0.058-0.056,0.115-0.111,0.173-0.166c0.398-0.382,0.398-0.382,0.802,0c0.283,0.271,0.283,0.271,0.608,0.045
											c0.251-0.176,0.519-0.312,0.807-0.417c0.158-0.055,0.278-0.025,0.362,0.121c0.121,0.211,0.252,0.427,0.367,0.643
											c0.11,0.206,0.084,0.276-0.146,0.352c-0.461,0.156-0.855,0.407-1.18,0.753c-0.084,0.09-0.163,0.186-0.209,0.302
											c-0.168,0.412,0.11,0.773,0.571,0.723c0.231-0.025,0.451-0.096,0.666-0.181c0.373-0.146,0.745-0.301,1.133-0.407
											c1.238-0.341,2.455,0.412,2.575,1.602c0.042,0.432-0.052,0.844-0.276,1.221c-0.101,0.166-0.09,0.291,0.058,0.418
											c0.142,0.125,0.272,0.266,0.409,0.396C17.98,18.07,17.984,18.197,17.865,18.313z M20.583,11.555
											c-0.593,0.584-1.562,0.577-2.161-0.015c-0.602-0.592-0.607-1.545-0.015-2.129c0.592-0.584,1.56-0.577,2.159,0.015
											C21.169,10.018,21.175,10.971,20.583,11.555z"/>
									</g>
								</g>
								</svg>
						</div>
						<div class="wishlist_discount_bulk">
							<div class="discount" ng-click="itemClick(productInfo.slug)">View Bulk Discount</div>
						</div>
					</div>
				</div>				
			</div>
		</div>

		<img err-pro-src="" ng-src="products/i/200/{{productInfo.imageFiles | getProductThumb}}" alt="{{productInfo.name}}" class="img-responsive"/>
		<ul class="list-inline saletags-list ">
			<li ng-if="productInfo.nameSale">{{productInfo.nameSale}}</li>
			<li ng-if="productInfo.sale">{{productInfo.sale.title}}</li>
		</ul>
	</div>

	<a ui-sref="mainLayout.product({product:productInfo.slug})" class="core-block">

		<div class="prod_desc">					
			<span read-more limit="60" more-text="..." less-text="" expand="false" content="{{productInfo.name}}"></span>
			<not-available product="productInfo"></not-available>
		</div>

		<div ng-if="!productInfo.promo">
			<div class="prod_price">
				<span ng-if="productInfo.sale && productInfo.sale.isSingle">
					{{productInfo.unitPrice | pricingTxt}}
				</span>
			</div>
			<div class="prod_discout_price" ng-if="!loyalty">{{productInfo.price | pricingTxt}}</div>
			<div class="prod_discout_price" ng-if="loyalty">
				<span ng-if="productInfo.loyaltyValue.type==0">LP {{productInfo.loyaltyValue.point}}</span>
				<span ng-if="productInfo.loyaltyValue.type==1">LP {{productInfo.loyaltyValue.point}} + {{productInfo.loyaltyValue.price | pricingTxt}}</span>
			</div>
		</div>

		<div ng-if="productInfo.promo">
			<div class="prod_price">{{productInfo.unDiscountedPrice | pricingTxt}}</div>
			<div class="prod_discout_price">{{productInfo.promo.price | pricingTxt:true}}</div>
		</div>
	</a>
	</div>
	<div class="prod_addtocart" ng-if="productInfo.addBtnAllowed">
		
		<button class="checkoutproductbutton" ng-if="productInfo.promo && !promotion.inCart" ng-click="alcoholCart.addPromo(promotion._id,productInfo._id,productInfo.servechilled,$event)">Add Promo</button>
		<button class="checkoutproductbutton in-active" ng-if="productInfo.promo && promotion.inCart">Already Added</button>

		<add-to-cart-btn 
				ng-class="{'disabled': productInfo.notSufficient}" 
				product="productInfo" 
				ng-if="!productInfo.promo && (productInfo.quantity>0 || productInfo.outOfStockType == 2)"
		>
		</add-to-cart-btn>


	</div>

	<div class="prod_addtocart" ng-if="!productInfo.addBtnAllowed">
		<out-of-stock product="productInfo"></out-of-stock>
	</div>

	<!-- TELL ME WHEN ITS ON SALE -->

	<div class="salediv">
		<md-checkbox md-no-ink ng-checked="saleExists()" ng-click="addToWishlist(1)" class="salecheck" aria-label="leaveatdoor-checkbox">
	    	Tell me when it's on sale
	    </md-checkbox>
		<md-tooltip md-direction="bottom">
        	Add this item to my Wish List and we will notify you when it goes on sale
        </md-tooltip>
    </div>

	<!-- TELL ME WHEN ITS ON SALE -->

</div>