<div class="{{classes}}" ng-class="{comboproductitems_outofstock:{{!productInfo.quantity && productInfo.outOfStockType == 1}}}">
	<div ng-if="productInfo.quantity<1 && productInfo.outOfStockType == 1" class="productsoldoutbkbtn">Sold Out</div>
	<div class="prod_chilled" ng-class="{notchilled:!productInfo.servechilled,invisible:{{!productInfo.chilled}}}"  ng-click="productInfo.servechilled=!productInfo.servechilled">
		<span>Chilled</span>
		<div class="prod_chilled_icon"></div>
	</div>
	<div class="prod_pic">
		<div class="wishlist_discount">

			<div class="wishlist" ng-if="!isInwishList" ng-click="addToWishlist()">Add to Wishlist</div>
			<div class="wishlist" ui-sref="accountLayout.wishlist" ng-if="isInwishList">Added to Wishlist</div>

			<div class="discount" ui-sref="mainLayout.product({product:productInfo._id})">Click here to view Bulk Discounts</div>
		</div>
		<img err-pro-src="" ng-src="products/i/200/{{productInfo.imageFiles[0].source}}" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=Image" alt="" class="img-responsive"/>
	</div>
	<div ui-sref="mainLayout.product({product:productInfo._id})">
		<div class="prod_desc">
			{{productInfo.name}} <not-available product="productInfo"></not-available>
		</div>
		<div class="prod_discout_price">{{productInfo.price}} {{settings.general.currency}}</div>
	</div>
	<div class="prod_addtocart">
		<add-to-cart-btn product="productInfo" ng-if="productInfo.quantity || productInfo.outOfStockType == 2"></add-to-cart-btn>
		<out-of-stock product="productInfo" ng-if="productInfo.quantity<1 && productInfo.outOfStockType == 1"></out-of-stock>					
	</div>
</div>