<div class="{{classes}}" ng-class="{comboproductitems_outofstocks:{{!(productInfo.quantity>0) && productInfo.outOfStockType == 1}}}">


	<!-- <div ng-if="productInfo.quantity<1 && productInfo.outOfStockType == 1" class="productsoldoutbkbtn">Sold Out</div> -->

	<div class="prod_chilled us-txt" ng-class="{notchilled:!productInfo.servechilled,invisible:{{!productInfo.chilled}}}"  ng-click="productInfo.servechilled=!productInfo.servechilled"> <span>Chilled</span>
		<div class="prod_chilled_icon"></div>
	</div>

	<div ng-click="itemClick(productInfo.slug)">

	<div class="prod_pic pos-realtive">
		<div class="wishlist-main-outer bulk-outer-hover">
			<div class="add-bulk-wishlist-icon">

				<div class="add-bulk-iner-widthset">
					<div class="add-icon-main" ng-click="isInwishList?myWish():addToWishlist(0); $event.stopPropagation();">

						<div class="add-wishlist-icondiv"><img src="images/add-wish-icon.png" /></div>

						<div class="wishlist_discount">
							<div class="wishlist" ng-bind="isInwishList?'Added to Wishlist':'Add to Wishlist'"></div>
						</div>

					</div>
				</div>

				<div class="add-bulk-iner-widthset" ng-if="productInfo.type!='2'">
					<div class="bulk-icon-maincover"> 
						<div class="bulk-dis-icon"><img src="images/bulk-dis-icon.png" /></div>
						<div class="wishlist_discount_bulk">
							<div class="discount" ng-click="itemClick(productInfo.slug)">View Bulk Discount</div>
						</div>
					</div>
				</div>				
			</div>
		</div>

	

		<img err-pro-src="" ng-src="products/i/200/{{productInfo.imageFiles | getProductThumb}}" alt="" class="img-responsive"/> 
		<ul class="list-inline saletags-list ">
			<li ng-if="productInfo.nameSale">{{productInfo.nameSale}}</li>
			<li ng-if="productInfo.sale">{{productInfo.sale.title}}</li>
		</ul>
	</div>

	<a ui-sref="mainLayout.product({product:productInfo.slug})" class="core-block">

		<div class="prod_desc"> 
		
		{{productInfo.name}}
			<not-available product="productInfo"></not-available>
		</div>

		<div ng-if="!productInfo.promo">
			<div class="prod_price"><span ng-if="productInfo.price != productInfo.salePrice">{{productInfo.price | pricingTxt}}</span></div>
			<div class="prod_discout_price" ng-if="!loyalty">{{productInfo.salePrice | pricingTxt}}</div>
			<div class="prod_discout_price" ng-if="loyalty">

				<span ng-if="productInfo.loyaltyValue.type==0">LP {{productInfo.loyaltyValue.point}}</span>
				<span ng-if="productInfo.loyaltyValue.type==1">LP {{productInfo.loyaltyValue.point}} + {{productInfo.loyaltyValue.price | pricingTxt}}</span>

			</div>
		</div>

		<div ng-if="productInfo.promo">
			<div class="prod_price">{{productInfo.unDiscountedPrice | pricingTxt}}</div>
			<div class="prod_discout_price">{{productInfo.promo.price | pricingTxt:true}}</div>
		</div>
	</a>
	</div>
	<div class="prod_addtocart" ng-if="productInfo.addBtnAllowed">
		
		<button class="checkoutproductbutton" ng-if="productInfo.promo && !promotion.inCart" ng-click="alcoholCart.addPromo(promotion._id,productInfo._id,productInfo.servechilled,$event)">Add Promo</button>
		<button class="checkoutproductbutton in-active" ng-if="productInfo.promo && promotion.inCart">Already Added</button>

		<add-to-cart-btn 
				ng-class="{'disabled': productInfo.notSufficient}" 
				product="productInfo" 
				ng-if="!productInfo.promo && (productInfo.quantity>0 || productInfo.outOfStockType == 2)"
		>
		</add-to-cart-btn>


	</div>

	<div class="prod_addtocart" ng-if="!productInfo.addBtnAllowed">
		<out-of-stock product="productInfo"></out-of-stock>
	</div>

	<!-- TELL ME WHEN ITS ON SALE -->

	<div class="salediv">
		<md-checkbox ng-checked="saleExists()" ng-click="addToWishlist(1)" class="salecheck" aria-label="leaveatdoor-checkbox">
	    	Tell me when it's on sale
	    </md-checkbox>
		<md-tooltip md-direction="bottom">
        	Add this item to my Wish List and we will notify you when it goes on sale
        </md-tooltip>
    </div>

	<!-- TELL ME WHEN ITS ON SALE -->

</div>