<h1 class="hide">{{cmsData.title}}</h1>
<div class="panel-body">
	<div class="cmspage-cover" ng-show="querySent">
		<div class="row">			
			<div class="col-md-12">
				<h1 align="center"><span class="glyphicon glyphicon-ok"></span></h1>
				<div align="center"><h3>Your query has been sent successfully!<br/>We'll respond you soon.</h3></div>	
			</div>
		</div>	
	</div>
	<div class="cmspage-cover">
		<h3>{{cmsData.title}}</h3>
		<div class="row">						
			<!-- <div class="{{(cmsData.hasImage)?'col-md-7':'col-md-12'}}"> -->
			<div class="col-md-5 cms-rightpanelMobile" ng-if="cmsData.coverImage">
				<img class="img-responsive" ng-src="cmspages/i/{{cmsData.coverImage}}">
			</div>
			<div class="{{(cmsData.coverImage)?'col-md-7':'col-md-12'}}">	
				<div ng-bind-html="trustedHtml(cmsData.content)"></div>
				<div class="row">
				<div class="{{(!cmsData.coverImage)?'col-md-7':'col-md-12'}}">
				<div class="cmspage-formcrv" ng-if="cmsData.hasForm">
					<form ng-submit="submitQuery();" id='submitQueryFrm'>
						<div class="order-fetching" ng-show="querySubmit"></div>
						
						<div class="alert alert-danger" ng-show="errors">Please enter all the required fields</div>
						<div ng-if="cmsData.formType == 'contact-us'">				
							<div class="form-group" ng:class="{'has-error':errors.subject[0]}">				
								<label class="control-label">Subject</label>	
								<input ng-model="query.subject" type="text" class="form-control" placeholder="Subject">		
								<span class="help-block" ng-bind="errors.subject[0]"></span>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.name[0]}">					
								<label class="control-label">Name</label>
								<input ng-model="query.name" type="text" class="form-control" placeholder="Name">			
								<span class="help-block" ng-bind="errors.name[0]"></span>	
							</div>
							<div class="form-group" ng:class="{'has-error':errors.email[0]}">			
								<label class="control-label">Email</label>		
								<input ng-model="query.email" type="text" class="form-control" placeholder="Email">			
								<span class="help-block" ng-bind="errors.email[0]"></span>		
							</div>
							<div class="form-group" ng:class="{'has-error':errors.feedback[0]}">			
								<label class="control-label">Feedback</label>		
								<textarea ng-model="query.feedback" class="form-control" rows="5" placeholder="Feedback"></textarea>
								<span class="help-block" ng-bind="errors.feedback[0]"></span>					
							</div>
						</div>				

						<div ng-if="cmsData.formType == 'suggest-a-product'">
							<div class="form-group" ng:class="{'has-error':errors.productname[0]}">			
								<label class="control-label">Product Name</label>		
								<input type="text" ng-model="query.productname" class="form-control" placeholder="Product Name">
								<span class="help-block" ng-bind="errors.productname[0]"></span>					
							</div>
							<div class="form-group" ng:class="{'has-error':errors.brandname[0]}">			
								<label class="control-label">Brand Name</label>		
								<input type="text" ng-model="query.brandname" class="form-control" placeholder="Brand Name">
								<span class="help-block" ng-bind="errors.brandname[0]"></span>					
							</div>
							<div class="form-group" ng:class="{'has-error':errors.category[0]}">			
								<label class="control-label">Category</label>		
								<select ng-model="query.category" ng-options="c.cat_title as c.cat_title for c in parentCategories" class="form-control">
									<option value="">Select</option>
								</select>
								<span class="help-block" ng-bind="errors.category[0]"></span>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.email[0]}">			
								<label class="control-label">Email</label>		
								<input ng-model="query.email" type="text" class="form-control" placeholder="Email">			
								<span class="help-block" ng-bind="errors.email[0]"></span>		
							</div>
						</div>

						<div ng-if="cmsData.formType == 'bulkcorporate-discounts'">
							<div class="form-group" ng:class="{'has-error':errors.name[0]}">				
								<label class="control-label">Your Name</label>	
								<input ng-model="query.name" type="text" class="form-control" placeholder="Your Name">
								<span class="help-block" ng-bind="errors.name[0]"></span>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.companyName[0]}">				
								<label class="control-label">Your company name (If any)</label>	
								<input ng-model="query.companyName" type="text" class="form-control" placeholder="Company Name">
								<span class="help-block" ng-bind="errors.companyName[0]"></span>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.businessNature[0]}">					
								<label class="control-label">Your Nature of Business </label>
								<input ng-model="query.businessNature" type="text" class="form-control" placeholder="(Bar, Club, Restaurant, Retail or Individual Consumption)">
								<span class="help-block" ng-bind="errors.businessNature[0]"></span>
							</div>					
							<div class="form-group" ng:class="{'has-error':errors.phoneNumber[0]}">			
								<label class="control-label">Your Phone</label>		
								<input ng-model="query.phoneNumber" type="text" class="form-control" placeholder="Your Phone">
								<span class="help-block" ng-bind="errors.phoneNumber[0]"></span>					
							</div>
							<div class="form-group" ng:class="{'has-error':errors.email[0]}">			
								<label class="control-label">Email Address</label>		
								<input ng-model="query.email" type="text" class="form-control" placeholder="Email Address">
								<span class="help-block" ng-bind="errors.email[0]"></span>					
							</div>
						</div>

						<div ng-if="cmsData.formType == 'event-planner'">
							<div class="form-group" ng:class="{'has-error':errors.name[0]}">				
								<label class="control-label">Your Name </label>	
								<input ng-model="query.name" type="text" class="form-control" placeholder="Your Name">
								<span class="help-block" ng-bind="errors.name[0]"></span>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.companyName[0]}">				
								<label class="control-label">Your Company Name</label>	
								<input ng-model="query.companyName" type="text" class="form-control" placeholder="Company Name">
								<span class="help-block" ng-bind="errors.companyName[0]"></span>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.email[0]}">			
								<label class="control-label">Your Email Address</label>		
								<input ng-model="query.email" type="text" class="form-control" placeholder="Email Address">
								<span class="help-block" ng-bind="errors.email[0]"></span>				
							</div>
							<div class="form-group" ng:class="{'has-error':errors.phoneNumber[0]}">			
								<label class="control-label">Your Contact Number</label>		
								<input ng-model="query.phoneNumber" type="text" class="form-control" placeholder="Phone Number">
								<span class="help-block" ng-bind="errors.phoneNumber[0]"></span>					
							</div>
							<div class="form-group" ng:class="{'has-error':errors.dateOfEvent[0]}">			
								<label class="control-label">Event Date</label>		
								<input ng-model="query.dateOfEvent" type="text" class="form-control" placeholder="DD/MM/YYYY">
								<span class="help-block" ng-bind="errors.dateOfEvent[0]"></span>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.locationOfEvent[0]}">			
								<label class="control-label">Event Location</label>		
								<input ng-model="query.locationOfEvent" type="text" class="form-control" placeholder="Event Location">
								<span class="help-block" ng-bind="errors.locationOfEvent[0]"></span>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.noOfPax[0]}">			
								<label class="control-label">No. of pax</label>		
								<input ng-model="query.noOfPax" type="text" class="form-control" placeholder="No. of pax">
								<span class="help-block" ng-bind="errors.noOfPax[0]"></span>
							</div>														
						</div>

						<div ng-if="cmsData.formType == 'careers'">

							<div class="form-group" ng:class="{'has-error':errors.fname[0]}">
								<label class="control-label">First Name </label>
								<input ng-model="query.fname" type="text" class="form-control" placeholder="First Name">
								<span class="help-block" ng-bind="errors.fname[0]"></span>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.lname[0]}">
								<label class="control-label">Last Name </label>
								<input ng-model="query.lname" type="text" class="form-control" placeholder="Last Name">
								<span class="help-block" ng-bind="errors.lname[0]"></span>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.email[0]}">
								<label class="control-label">Email </label>
								<input ng-model="query.email" type="text" class="form-control" placeholder="Email">
								<span class="help-block" ng-bind="errors.email[0]"></span>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.phone[0]}">
								<label class="control-label" for="phone">Phone </label>
								<input ng-model="query.phone" type="text" class="form-control" placeholder="Phone" id="phone">
								<span class="help-block" ng-bind="errors.phone[0]"></span>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.resume[0]}">
								<label class="control-label" for="resume">Resume <span class="required">* </span></label>
								<input type="file" placeholder="resume" class="form-control" name="resume" id="resume" file-model="query.resume"/>
								<span class="help-block" ng-bind="errors.resume[0]"></span>
							</div>
							
							<div class="form-group" ng:class="{'has-error':errors.github_profile[0]}">
								<label class="control-label">Github Profile </label>
								<input ng-model="query.github_profile" type="text" class="form-control" placeholder="Github Profile">
								<span class="help-block" ng-bind="errors.github_profile[0]"></span>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.linkedin_profile[0]}">
								<label class="control-label">LinkedIn Profile </label>
								<input ng-model="query.linkedin_profile" type="text" class="form-control" placeholder="LinkedIn Profile">
								<span class="help-block" ng-bind="errors.linkedin_profile[0]"></span>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.website[0]}">
								<label class="control-label">website </label>
								<input ng-model="query.website" type="text" class="form-control" placeholder="Website / Blog / Portfolio">
								<span class="help-block" ng-bind="errors.website[0]"></span>
							</div>

						</div>

						<div ng-if="cmsData.formType == 'press-media'">

							<div class="form-group" ng:class="{'has-error':errors.fname[0]}">
								<label class="control-label ap-required-label">First Name </label>
								<input ng-model="query.fname" type="text" class="form-control" placeholder="First Name">
								<span class="help-block" ng-bind="errors.fname[0]"></span>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.lname[0]}">
								<label class="control-label">Last Name </label>
								<input ng-model="query.lname" type="text" class="form-control" placeholder="Last Name">
								<span class="help-block" ng-bind="errors.lname[0]"></span>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.organisation[0]}">
								<label class="control-label ap-required-label">Organisation / Business Name or URL</label>
								<input ng-model="query.organisation" type="text" class="form-control" placeholder="Organisation / Business Name or URL">
								<span class="help-block" ng-bind="errors.organisation[0]"></span>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.jobtitle[0]}">
								<label class="control-label ap-required-label">Your Job Title</label>
								<input ng-model="query.jobtitle" type="text" class="form-control" placeholder="Your Job Title">
								<span class="help-block" ng-bind="errors.jobtitle[0]"></span>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.email[0]}">
								<label class="control-label ap-required-label">Email </label>
								<input ng-model="query.email" type="text" class="form-control" placeholder="Email">
								<span class="help-block" ng-bind="errors.email[0]"></span>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.phone[0]}">
								<label class="control-label ap-required-label" for="phone">Contact Number </label>
								<input ng-model="query.phone" type="text" class="form-control" placeholder="Contact Number" id="phone">
								<span class="help-block" ng-bind="errors.phone[0]"></span>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.type_of_enquiry[0]}">
								<label class="control-label ap-required-label" for="phone">Type of Enquiry</label>
								<select class="form-control" ng-init="query.type_of_enquiry='Cross-Marketing'" ng-options="enquiry for enquiry in ['Cross-Marketing','Value-In-Kind Sponsorship','Cash Sponsorship','Media Enquiries','Business Collaboration','Bulk Coupon Code Purchase','Corporate Employee Discount','Corporate Social Responsibility','Charity or Fundraising Related','Ad Sales','Others']" 
												ng-model="query.type_of_enquiry"></select>

								<span class="help-block" ng-bind="errors.type_of_enquiry[0]"></span>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.message[0]}">
								<label class="control-label ap-required-label">Message</label>
								<textarea ng-model="query.message" type="text" class="form-control" placeholder="Message"></textarea>
								<span class="help-block" ng-bind="errors.message[0]"></span>
							</div>

						</div>

						<div class="form-group" ng-if="cmsData.formType != 'contact-us'" ng:class="{'has-error':errors.additionalComment[0]}">			
							<label class="control-label">Additional Comment (optional)</label>		
							<textarea ng-model="query.additionalComment" class="form-control" rows="5" placeholder="Additional Comment (optional)"></textarea>
							<span class="help-block" ng-bind="errors.additionalComment[0]"></span>				
						</div>
						<button type="submit" class="btn green purple-button">Submit</button>
					</form>
					
				</div>
				</div>
				</div>
			</div>
			<div class="col-md-5 cms-rightpanel hidden-xs" ng-if="cmsData.coverImage">
				<img class="img-responsive" ng-src="cmspages/i/{{cmsData.coverImage}}">
			</div>
		</div>
	</div>
</div>