<!-- BEGIN MAIN CONTENT -->

<div class="row">
	
	<div class="col-md-12">
		<!-- Begin: life time stats -->
		<div class="portlet light">
			<div class="portlet-title tabbable-line">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">{{page.title}} Page Preview : </span>
				</div>				
			</div>
			<div class="portlet-body">
				<div class="row static-info">

						<div class="col-md-4 name">
								 Title:
							</div>
							<div class="col-md-8 value">
								<span class="label label-success">
								{{page.title}} </span>
							</div>
						</div>

						<div class="row static-info" ng-if="page.description">
						<div class="col-md-4 name">
								 description:
							</div>
							<div class="col-md-8 value">
								<span class="label label-success">
								{{page.description}} </span>
							</div>
						</div>
																		
						<div class="row static-info">
							<div class="col-md-4 name">
								 Status :
							</div>
							<div class="col-md-8 value">
								<div class="profile-userbuttons">
									<span ng-if="page.status == 1" type="button" class="label label-success">Active</span>
									<span ng-if="page.status == 0" type="button" class="label label-warning">In-Active</span>
								</div>
								
							</div>
						</div>
						<div class="row static-info">
						<div class="col-md-12 name">
								 Preview:
							</div>
							<div class="col-md-12 value html-preview" ng-bind-html="page.content"></div>
						</div>
			</div>
		</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
	
	var handleChildCatRecords = function (categoryId) {

        var grid = new Datatable();

        grid.init({
        	
            src: $("#categorieslisttab"),
            onSuccess: function (grid) {
                // execute some code after table records loaded
            },
            onError: function (grid) {
                // execute some code on network or other general error  
            },
            loadingMessage: 'Loading...',
            dataTable: { // here you can define a typical datatable settings from http://datatables.net/usage/options 

                // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
                // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/scripts/datatable.js). 
                // So when dropdowns used the scrollable div should be removed. 
                //"dom": "<'row'<'col-md-8 col-sm-12'pli><'col-md-4 col-sm-12'<'table-group-actions pull-right'>>r>t<'row'<'col-md-8 col-sm-12'pli><'col-md-4 col-sm-12'>>",
                
                "bStateSave": true, // save datatable state(pagination, sort, etc) in cookie.

                "lengthMenu": [

                    [10, 20, 50, 100, 150, -1],
                    [10, 20, 50, 100, 150, "All"] // change per page values here
                ],
                "pageLength": 10, // default record count per page
                "language": {
			      "emptyTable": "No child category available"
			    },
                "columnDefs": [{ // define columns sorting options(by default all columns are sortable extept the first checkbox column)
                        'orderable': false,
                        'targets': [1,5]
                    }],
                "ajax": {
                    "url": "admin/category/getcategories/"+categoryId,// ajax source
                    // "data": function ( d ) {
                    //     d._token = $('meta[name="_token"]').attr('content');

                    //     Metronic.blockUI({
                    //             message: "Loading.....",
                    //             target: $("#categorieslisttab").parents(".table-container"),
                    //             overlayColor: 'none',
                    //             cenrerY: true,
                    //             boxed: true
                    //         });
                    //     // d.custom = $('#myInput').val();
                    //     // etc
                    // },
                    "type": "GET"
                },
                "order": [
                    [1, "asc"],
                ], // set first column as a default sort by asc
                "fnDrawCallback": function (oSettings) {
                	
					$("tr td span").each(function () {
					    var content = $(this);
					    angular.element(document).injector().invoke(function($compile) {
					        var scope = angular.element(content).scope();
					        $compile(content)(scope);
					    });
					});
					
					Metronic.initAjax()

				},
				"fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
										
			    }
                
            }
        });

        // handle group actionsubmit button click
        grid.getTableWrapper().on('click', '.table-group-action-submit', function (e) {
            e.preventDefault();
            var action = $(".table-group-action-input", grid.getTableWrapper());
            if (action.val() != "" && grid.getSelectedRowsCount() > 0) {
                grid.setAjaxParam("customActionType", "group_action");
                grid.setAjaxParam("customActionName", action.val());
                grid.setAjaxParam("id", grid.getSelectedRows());
                grid.getDataTable().ajax.reload();
                grid.clearAjaxParams();
            } else if (action.val() == "") {
                Metronic.alert({
                    type: 'danger',
                    icon: 'warning',
                    message: 'Please select an action',
                    container: grid.getTableWrapper(),
                    place: 'prepend'
                });
            } else if (grid.getSelectedRowsCount() === 0) {
                Metronic.alert({
                    type: 'danger',
                    icon: 'warning',
                    message: 'No record selected',
                    container: grid.getTableWrapper(),
                    place: 'prepend'
                });
            }
        });
    }

	

	
</script>
<!-- END MAIN JS