<div class="row">
	<div class="col-md-12">
		<form role="form" name='productForm' ng-submit="store()" required="false">
		<div class="portlet light">			
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-shopping-cart"></i>{{sale._id?'Edit ':'Add New '}}Sale
				</div>
				<div class="actions btn-set">
					<a class="btn default" ui-sref="userLayout.sale.list"><i class="fa fa-angle-left"></i> Back</a>
					<button ng-disabled="loading" class="btn green" type="submit"><i class="fa fa-check"></i> {{sale._id?'Update':'Save'}}</button>					
				</div>
			</div>		
			<div class="portlet-body mcontainer">
				<tabset active="active">
					<tab>
						<tab-heading>General</tab-heading>
					
						<div class="form-horizontal">	
							<div class="form-group" ng:class="{'has-error':errors.type[0]}">
								<label class="col-md-2 control-label">Select type: <span class="required"> * </span>
								</label>
								<div class="col-md-10">
									<select class="form-control" ng-model="sale.type" ng-options="op.key as op.value for op in saleOptions">										
									</select>
									<span class="help-block" ng-bind="errors.type[0]"></span>
								</div>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.listingTitle[0]}">
								<label class="col-md-2 control-label">Listing Title: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="text" class="form-control" ng-model="sale.listingTitle" placeholder="Listing Title">
									<span class="help-block" ng-bind="errors.listingTitle[0]"></span>
								</div>

							</div>

							<div class="form-group" ng:class="{'has-error':errors.detailTitle[0]}">
								<label class="col-md-2 control-label">Detail Title: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="text" class="form-control" ng-model="sale.detailTitle" placeholder="Detail Title">
									<span class="help-block" ng-bind="errors.detailTitle[0]"></span>
								</div>
							</div>

							<div class="form-group" ng:class="{'has-error':errors['coverImage.thumb'][0]}">
								<label class="col-md-2 control-label">Detail Tag Image (optional): 
								</label>
								<div class="col-md-10">
									<div class="fileinput fileinput-new" data-provides="fileinput">
										<div class="fileinput-new thumbnail" style="max-width: 200px; max-height: 150px;">
											<img err-src="asset/i/defaultImage.png" 
												ng-src="sale/i/{{sale.coverImage.source}}" src="asset/i/defaultImage.png" alt=""/>

										</div>
										<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
										</div>
										<div>
											<span class="btn default btn-file">
												<span class="fileinput-new">{{ sale.coverImage ? 'Change':'Select' }}</span>
												<span class="fileinput-exists">Change</span>
												<input type="file" placeholder="thumbnail" class="form-control" file-model="sale.image.thumb"/>
											</span>	
										</div>
									</div>
									<span class="help-block" ng-bind="errors['coverImage.thumb'][0]"></span>
								</div>
							</div>											

						</div>
					</tab>
					<tab>
						<tab-heading>
							<span ng-if="sale.type == 0">Add items</span>
							<span ng-if="sale.type == 1">Condition & Action</span>
						</tab-heading>						
						<div class="row">
							
							<div class="col-md-6">
								<div ng-show="sale.type == 1">
									<h3>Condition</h3>
									<div class="row">	
										<div class="form-group" ng:class="{'has-error':errors.conditionQuantity[0]}">
											<label class="col-md-3 control-label">Quantity: <span class="required"> * </span>
											</label>
											<div class="col-md-9">
												<input type="number" step="1" min="1" class="form-control" ng-model="sale.conditionQuantity">
												<span class="help-block" ng-bind="errors.conditionQuantity[0]"></span>
											</div>
										</div>
									</div>
								</div>								
								<div class="portlet box blue-hoki">
									<div class="portlet-title">
										<div class="caption">
											Sale Products
										</div>
										<div class="actions">											
											<a ng-click="clearSearch('product',sale.saleProductId,sale.saleProductDetail)" data-target='#static' data-toggle="modal" class="btn btn-default btn-sm">
												<i class="fa fa-plus"></i>Add
											</a>											
										</div>
									</div>
									<div class="portlet-body">										
										<div class="clearfix">
											<p></p>
											<ul class="media-list">
												<li class="media" ng-repeat="pcprod in sale.saleProductDetail">
													<a class="pull-left">
														<img class="media-object" err-src="asset/i/defaultImage.png" ng-src="products/i/200/{{pcprod.imageFiles[0].source}}" style="width: 64px; height: 64px;">
													</a>													
													<div class="media-body" ng:class="{'has-error':errors['productExists.'+$index][0]}">
														<h4 class="media-heading">{{ pcprod.name }}</h4>
														<!-- <p>Price : <b>{{pcprod.sprice|currency}}</b></p> -->														
														<p><button type="button" ng-click="removeItem($index,sale.saleProductId,sale.saleProductDetail)" class="btn btn-default btn-xs">Remove</button></p>
														<span class="help-block" ng-bind="errors['productExists.'+$index][0]"></span>
													</div>													
												</li>																								
											</ul>
											<div align="center" ng-if="sale.saleProductDetail.length == 0">No product(s) selected</div>
											<div align="center" ng:class="{'has-error':errors.saleItem[0]}">
												<span class="help-block" ng-bind="errors.saleItem[0]"></span>
											</div>
										</div>										
									</div>
								</div>

								<div class="portlet box blue-hoki">
									<div class="portlet-title">
										<div class="caption">
											Sale Categories
										</div>
										<div class="actions">											
											<a ng-click="clearSearch('category',sale.saleCategoryId,sale.saleCategoryDetail)" data-target='#static' data-toggle="modal" class="btn btn-default btn-sm">
												<i class="fa fa-plus"></i>Add
											</a>											
										</div>
									</div>
									<div class="portlet-body">										
										<div class="clearfix">
											<p></p>	
											<ul class="media-list">
												<li class="media" ng-repeat="category in sale.saleCategoryDetail">
													<!-- <a class="pull-left">										
														<img class="media-object" title="{{category.cat_title|firstAlpha}}" alt="{{category.cat_title|firstAlpha}}" style="width: 64px; height: 64px;text-align: center;font-size: 42px;">
													</a> -->
													<div class="media-body" ng:class="{'has-error':errors['categoryExists.'+$index][0]}">														
														<h4 class="media-heading">{{ category.name }}</h4>
														<p><button type="button" ng-click="removeItem($index,sale.saleCategoryId,sale.saleCategoryDetail)" class="btn btn-default btn-xs">Remove</button></p>
														<span class="help-block" ng-bind="errors['categoryExists.'+$index][0]"></span>
													</div>
												</li>																								
											</ul>
											<div align="center" ng-if="sale.saleCategoryDetail.length == 0">No category selected</div>
											<div align="center" ng:class="{'has-error':errors.saleItem[0]}">
												<span class="help-block" ng-bind="errors.saleItem[0]"></span>
											</div>
										</div>										
									</div>
								</div>
							</div>
							<div class="col-md-6" ng-show="sale.type == 1">
								<h3>Action</h3>
								<div class="form-horizontal">	
									<div class="form-group" ng:class="{'has-error':errors.actionType[0]}">
										<label class="col-md-3 control-label">Select type: <span class="required"> * </span>
										</label>
										<div class="col-md-9">
											<select class="form-control" ng-model="sale.actionType" ng-options="op.key as op.value for op in actionOptions">												
											</select>
											<span class="help-block" ng-bind="errors.actionType[0]"></span>
										</div>
									</div>										
									<div ng-show="sale.actionType == 2">
										<div class="form-group" >
											<label class="col-md-3 control-label">Set Discount: <span class="required"> * </span>
											</label>
											<div class="col-md-4" ng:class="{'has-error':errors.discountValue[0]}">
												<input type="number" step="1" min="1" class="form-control" ng-model="sale.discountValue">
												<span class="help-block">Value</span>
												<span class="help-block" ng-bind="errors.discountValue[0]"></span>
											</div>
											<div class="col-md-5">
												<select class="form-control" ng-model="sale.discountType" ng-options="op.key as op.value for op in discountOptions">													
												</select>
												<span class="help-block">Type</span>
												<span class="help-block" ng-bind="errors.discountType[0]"></span>
											</div>											
										</div>
									</div>
									<div ng-show="sale.actionType == 1" class="form-group" ng:class="{'has-error':errors.giftQuantity[0]}">
										<label class="col-md-3 control-label">Set Quantity: <span class="required"> * </span>
										</label>
										<div class="col-md-9">
											<input type="number" step="1" min="1" class="form-control" ng-model="sale.giftQuantity">
											<span class="help-block" ng-bind="errors.giftQuantity[0]"></span>
										</div>
									</div>
								</div>

								<div class="portlet box blue-hoki">
									<div class="portlet-title">
										<div class="caption">
											{{ (sale.actionType == 1)?'Free Gift':'Discounted' }} Item
										</div>
										<div class="actions">											
											<a ng-click="clearSearch('offerproduct',sale.actionProductId,sale.actionProductDetail)" data-target='#static' data-toggle="modal" class="btn btn-default btn-sm">
												<i class="fa fa-plus"></i>Add
											</a>											
										</div>
									</div>
									
									<div class="portlet-body">										
										<div class="clearfix">
											<p></p>
											<ul class="media-list">
												<li class="media" ng-repeat="pcprod in sale.actionProductDetail">
													<a class="pull-left">
														<img class="media-object" err-src="asset/i/defaultImage.png" ng-src="products/i/200/{{pcprod.imageFiles[0].source}}" style="width: 64px; height: 64px;">
													</a>
													<div class="media-body">
														<h4 class="media-heading">{{ pcprod.name }}</h4>
														<!-- <p>Price : <b>{{pcprod.sprice|currency}}</b></p> -->
														<p><button type="button" ng-click="removeItem($index,sale.actionProductId,sale.actionProductDetail)" class="btn btn-default btn-xs">Remove</button></p>
													</div>
												</li>																								
											</ul>
											<div align="center" ng-if="sale.actionProductDetail.length == 0">
												No item selected													
											</div>
											<div align="center" ng:class="{'has-error':errors.actionProductId[0]}">
												<span class="help-block" ng-bind="errors.actionProductId[0]"></span>
											</div>
										</div>										
									</div>
								</div>
							</div>								
							
						</div>							
					</tab>		
				</tabset>
			</div>
		</div>
		</form>
	</div>

	<div data-replace="true" tabindex="-1" class="modal fade modal-scroll" id="static" style="display: none;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
					<h4 class="modal-title">Search {{popTitle}}</h4>
				</div>
				<div class="modal-body">
					<div class="table-responsive">	
						
						<input ng-model="searchbox" type="search" ng:class="{'spinner':searching}" ng-keyup="searchItem($event,searchType)" class="form-control" placeholder="Search">						
						
						<table class="table table-striped table-hover" id="orderlist">
							<tbody>
								<tr ng-repeat="p in checkItem(currentIdObj)">
									<td width="100" valign="middle" ng-if="searchType != 'category'">
										<img width="100" err-src="asset/i/defaultImage.png" ng-src="products/i/200/{{p.imageFiles[0].source}}">										
									</td>
									<td valign="middle">									
										{{p.name}} <span ng-if="p.sale.listingTitle" class="label label-danger">{{p.sale.listingTitle}}</span>
										<div ng-if="searchType != 'category'"><b>${{p.sprice}}</b></div>										
									</td>
									<td valign="middle">
										<a ng-if="checkAdd(p)" ng-click="addItem(p,currentIdObj,currentDetailObj)" class="pull-right btn btn-default btn-xs green-stripe additem"><i class="fa fa-plus"></i> Add</a>
										<span ng-if="p.added" class="pull-right"><i class="fa fa-check"></i> Added</span>
										<span ng-if="!checkAdd(p) && inSale(p)" class="pull-right"><i class="fa fa-check"></i> In sale</span>
									</td>
								</tr>							
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">				
					<button class="btn green" data-dismiss="modal" type="button">Done</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <pre>{{errors|json}}</pre>	 -->
<!-- <pre>{{sale|json}}</pre> -->	