<div class="prod_addtocart">

	<!-- Add to cart button to add chilled product start -->
	<div class="cartbtn" ng-if="product.servechilled">
	
		<div class="addcart ng-scope" ng-click="activeAddToCart()" ng-if="product.qChilled<1 && !addMoreCustom" role="button" tabindex="0"><span></span>add to cart</div>

		<div class="addmore ng-scope" ng-if="product.qChilled && !addMoreCustom">
			<input type="text" ng-model="product.qChilled" value="product.qChilled" min="0" max="{{chilledMaxQuantity}}" ng-touch-spin on-increment="addtocart()" on-decrement="addtocart()" vertical="true">
			<span class="addmorehere" ng-click="activeAddToCartCustom()" role="button" tabindex="0">add more</span>
		</div>
		<div class="addmanual" ng-if="addMoreCustom">
				<div class="relat">
					<input ng-model="product.qChilled" type="text" only-digits/>
					<div class="addbuttton" ng-click="addCustom()">add</div>
				</div>
			</div>
	</div>
	<!-- Add to cart button to add chilled product ends -->

	<!-- Add to cart button to add non chilled product start -->
	<div class="cartbtn" ng-if="!product.servechilled">
	
		<div class="addcart ng-scope" ng-click="activeAddToCart()" ng-if="!product.qNChilled && !addMoreCustom" role="button" tabindex="0"><span></span>add to cart</div>

		<div class="addmore ng-scope" ng-if="product.qNChilled && !addMoreCustom">
			<input type="text" ng-model="product.qNChilled" value="product.qNChilled" min="0" max="{{nonChilledMaxQuantity}}" ng-touch-spin on-increment="addtocart()" on-decrement="addtocart()" vertical="true">
			<span class="addmorehere" ng-click="activeAddToCartCustom()" role="button" tabindex="0">add more</span>
		</div>

		<div class="addmanual" ng-if="addMoreCustom">
				<div class="relat">
					<input ng-model="product.qNChilled" type="text" only-digits/>
					<div class="addbuttton" ng-click="addCustom()">add</div>
				</div>
			</div>
	</div>
	<!-- Add to cart button to add non chilled product ends -->

</div>