<md-dialog aria-label="Age Verification " layout="column" flex="50" class="ageverificationpopup">  
    <form name="verificationForm" ng-submit="verifyage()" class="horizontal-form">                          
    <md-dialog-content>
      <div class="md-dialog-content">                
        <div layout="row" align="center">
          <div align="center" class="fullwidth">
            <img src="asset/i/poslogo.png" style="height: 100px;">
          </div>
        </div>        
        <div>&nbsp;</div>
        <div layout="row" align="center">
          <div class="fullwidth">
          <h4 align="center">
            To experience this site you must be of legal drinking age in Singapore
          </h4>
          </div>  
        </div>
        <div>&nbsp;</div>
        <div align="center" ng-clock>
          <!-- <div class="form-body">
            <div class="row">
              <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                   <select required ng-model="verification.userMonth" empty="false" class="form-control date-selectbox">
                     <option value="">Month</option>   
                     <option ng-repeat="month in verification.months" ng-value="{{month.value}}">{{month.label}}</option>
                   </select>                    
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                   <select required ng-model="verification.userDay" class="form-control date-selectbox">
                    <option value="">Day</option>   
                    <option ng-repeat="dayval in verification.days" ng-value="{{dayval}}">{{dayval}}</option>
                   </select>                   
                </div>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                   <select required ng-model="verification.userYear" class="form-control date-selectbox">
                     <option value="">Year</option>   
                     <option ng-repeat="year in verification.years" ng-value="{{year}}">{{year}}</option>
                   </select>                   
                </div>
              </div>
            </div>
                        
          </div> -->
          <md-input-container md-no-float >
            <label>Month</label>
            <md-select required ng-model="verification.userMonth" name="userMonth">              
              <md-option ng-repeat="month in verification.months" ng-value="{{month.value}}">
                {{month.label}}
              </md-option>
            </md-select>
            <div ng-messages="verificationForm.userMonth.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container md-no-float>
            <label>Day</label>
            <md-select required ng-model="verification.userDay" name="userDay">              
              <md-option ng-repeat="dayval in verification.days" ng-value="{{dayval}}">
                {{dayval}}
              </md-option>
            </md-select>
            <div ng-messages="verificationForm.userDay.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <md-input-container md-no-float>
            <label>Year</label>
            <md-select required ng-model="verification.userYear" name="userYear" ng-change="checkYear()">              
              <md-option ng-repeat="year in verification.years" ng-value="{{year}}">
                {{year}}
              </md-option>
            </md-select>
            <div ng-messages="verificationForm.userYear.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
          <div class="row">
            <md-checkbox ng-model="verification.rememberme" aria-label="Remember Me. Only check this box if you are not using a shared computer.">
              Remember Me. Only check this box if you are not using a shared computer.
            </md-checkbox>
          </div>
          <input class="hide" type="number" ng-model="verification.cage" min="19" required>          
          </form>
                    
          
        </div>
      </div>      
    </md-dialog-content>    
    <md-dialog-actions layout="row">      
      <div class="fullwidth" align="center">
        <div ng-if="verification.cage<19">
          You must be 18+
        </div>
        <md-button ng-hide="verificationForm.$invalid" class="ageverify" type="button" ng-click="verifyage()">
          Submit
        </md-button>
      </div>
    </md-dialog-actions>  
    </form>
</md-dialog>