<md-dialog id="signup" layout="column" flex-lg="40" flex-sm="80" flex-gt-sm="66">
  <div class="md-toolbar-tools alcohalhdr" >
    <h2 show-sm hide-lg ng-if="!forgot.message">Forgot Password ?</h2>
    <span flex></span>
    <button type="button" class="close" ng-click="hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form ng-submit="forgotSubmit()" name="loginForm">
  <div class="inner-form">
    <md-dialog-content>
    <div class="modal-body alcohabody">
      <div class="alcohal_regisemailcvr">
        <div class="alcohal_regissigntxt" hide-xs hide-sm ng-if="!forgot.message">Forgot Password ?</div>
        <div class="alcohal_regissigntxt" ng-if="forgot.message">{{forgot.message}}</div>
        <div class="registeremailcvr" ng-class="{'has-error':forgot.errors.email[0]}" ng-if="!forgot.message">
          <label>Enter your e-mail address below to reset your password. </label>
          <input type="text" ng-model="forgot.email" class="alcohalrestertextbox form-control" placeholder="Email Address" />
          <span class="help-block" ng-bind="forgot.errors.email[0]"></span> 
        </div>            
      </div>
    </div>
    </md-dialog-content>
    <md-dialog-actions layout="column" class="modal-uifooter">
    <div class="modal-footer alcohalfotter">
      <div class="alcohal_regisemailcvr">
        <button type="button" class="alcohalfootersign alcohal_fotrloginbox" ng-click="hide()" ng-if="forgot.message">OK</button>
        <button ng-disabled="loading" type="submit" class="alcohalfootersign" ng-if="!forgot.message">Submit</button>
      </div>
    </div>
    </md-dialog-actions>
  </div>  
  </form>   
</md-dialog>
