<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools gift-packagecoverdiv">
       <div class="gift-topcrosicondiv" >
    <button type="button" class="close" ng-click="hide()" aria-label="Close"><span aria-hidden="true"> <img src="images/cross-icon.png" /></span></button>
  </div>
        <span flex></span>
      
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content gift-packgng-bodydiv">
    <div class="col-md-3 col-sm-3 col-xs-12 gift-item-cover">
      <div class="gift-item-innercover">
        <div class="gift-itemimg"><img src="images/gift-card.png" /></div>
      </div>
      <div class="gift-item-title">Gift Card</div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 gift-item-cover">
      <div class="gift-item-innercover">
        <div class="gift-itemimg"><img src="images/gift-card1.png" /></div>
      </div>
      <div class="gift-item-title">Gift Wrapper</div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 gift-item-cover">
      <div class="gift-item-innercover">
        <div class="gift-itemimg"><img src="images/gift-card2.png" /></div>
      </div>
      <div class="gift-item-title">Greeting Card</div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12 gift-item-cover">
      <div class="gift-item-innercover">
        <div class="gift-itemimg"><img src="images/gift-card3.png" /></div>
      </div>
      <div class="gift-item-title">Bags & Basket</div>
    </div>
  </div>
    
    </md-dialog-content>
    
  </form>
</md-dialog>