<li ng-class="{'hideOp':hideOpcart.hide}" class="dropdown" id="cart-summary-icon" ng-mouseover="hideOpcart.hide=false" ng-mouseleave="hideOpcart.hide=true">
<a href="javascript:void(0)" class="cart_icon"></a>
<!-- <a href="javascript:void(0)" ng-if="alcoholCart.getTotalUniqueItems()">{{alcoholCart.getCartTotal() | pricingTxt}}</a> -->
<div class="dropdown-menu currentorderpopup">
	<!-- Current order Start-->

	<div ng-if="alcoholCart.getTotalUniqueItems()">
		<div class="currentorderpopuppinkbox">
			<div class="currentorderpopuppinkboxleft">Current Order</div>
			
			<div class="currentorderpopuppinkboxright" ng-click="hideOpcart.hide=1"><a ui-sref="mainLayout.checkout.cart" >view Cart</a></div>
		</div>


		<div>
			<ul class="currentorderpopupul" ng-scrollbars ng-scrollbars-config="scrollconfig">
			
				<li ng-repeat="(id,product) in alcoholCart.getProducts()">
					<div class="currentorderpopupulleft">{{product.product.name}}</div>
					<div class="currentorderpopupulcenter">{{product.quantity}}</div>
					<div class="currentorderpopupulright">{{product.getPrice() | pricingTxt}}</div>
				</li>

				<li ng-repeat="(key,package) in alcoholCart.getPackages()">
					<div class="currentorderpopupulleft">{{package._name}}</div>
					<div class="currentorderpopupulcenter">{{package._quantity}}</div>
					<div class="currentorderpopupulright">{{package._price | pricingTxt}}</div>
				</li>

				<li ng-repeat="(key,promotion) in alcoholCart.getPromotions()">
					<div class="currentorderpopupulleft">{{promotion.product._title}}</div>
					<div class="currentorderpopupulcenter">promo</div>
					<div class="currentorderpopupulright">{{package._price | freeTxt}}</div>
				</li>

			</ul>
		</div>
	</div>
	<div ng-if="!alcoholCart.getTotalUniqueItems()">
		<div class="currentorderpopuppinkbox on-blank">
			There is nothing in cart
		</div>
	</div>



	<!--Current order End-->

</div>
</li>