<md-dialog id="login" layout="column" flex="40">
    <div class="md-toolbar-tools alcohalhdr">
      <h2 show-sm show-xs hide-lg hide-xl>Login to Your Account</h2>
      <span flex></span>
      <button type="button" class="close" ng-click="hide()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>        
    </div>
    <form ng-submit="loginSubmit()" name="loginForm">
    <div class="inner-form">
      <md-dialog-content>
      <div class="modal-body alcohabody">
        <div class="alcohal_regisemailcvr">
          <div class="alcohal_regissigntxt" hide-xs hide-sm>Login to Your Account</div>
          <div ng-if="login.errors.suspended" class="fullwidth">
              <div class="alert alert-danger">
                {{login.errors.suspended}}
              </div>
          </div>
          <div class="registeremailcvr" ng-class="{'has-error':login.errors.email[0]}">
            <label>Email Address</label>
            <input type="text" ng-model="login.email" class="alcohalrestertextbox form-control" placeholder="Email Address" />
            <span class="help-block" ng-if="!login.errors.reverification[0]" ng-bind="login.errors.email[0]"></span>
            <span class="help-block" ng-if="login.errors.reverification[0]">
              You have not verified your email. Please check your inbox to activate your account and start shopping with us! Or <a class="pointer" ng-click="resendverification()">click here</a> to resend the verification email                            
            </span>
          </div>
          <div class="registeremailcvr" ng-class="{'has-error':login.errors.password[0]}">
            <input autocomplete="off" type="password" ng-model="login.password" class="alcohalrestertextbox form-control" placeholder="Password" />
            <span class="help-block" ng-bind="login.errors.password[0]"></span> </div>
          <div class="fbloginDiv">                        
            <div align="center">
              <!-- <div class="fb-login-button" data-scope="email,user_birthday" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div> -->
              <!-- <fb:login-button size="xlarge" autologoutlink="false"></fb:login-button> -->
            </div>
            <div class="fblogin" id="login-btn"  align="center"> <img ng-click="socialLogin()" src="img/facebook_login.png"> </div>
          </div>
        </div>
      </div>
      </md-dialog-content>
      <md-dialog-actions layout="column" class="modal-uifooter">
      <div class="modal-footer alcohalfotter">
        <div class="alcohal_regisemailcvr">
          <div class="alcohallogin_forgettxt"> 
            <a class="pointer" ng-click="forgotpassOpen($event)">Forgot Password?</a>             
            <div><a class="pointer" ng-click="signupOpen()">New to Alcohol Delivery?</a></div> 
          </div>          
          <button ng-disabled="loading" type="submit" class="alcohalfootersign alcohal_fotrloginbox">Log in</button>
        </div>
      </div>
      </md-dialog-actions>
    </div>
    </form>    
</md-dialog>
<script type="text/javascript">
  //FB.XFBML.parse();
</script>