<div ng-repeat="promotion in _promo.$promotions" ng-if="promotion.eligible.already || promotion.eligible.nearest">		

	<div class="checkoutcongratulationouter" ng-if="promotion.eligible.nearest">
		<div class="checkout-congratulation-title">Hurry! You required ${{promotion.eligible.required}} to qualify this promotion.</div>
	</div>
	<div class="checkoutcongratulationouter" ng-if="promotion.eligible.already">
		<div class="checkout-congratulation-title">Congratulations! You qualify for special {{promotion.price | pricingTxt}} promotion.</div>
		<div class="checkout-congratulation-text">Please select one of the following products.</div>
	</div>

	<div class="checkout-product"  ng-class="{notEligible:!promotion.eligible.already}">
		<div class="row">
			<data-owl-carousel class="owl-carousel owl-theme" data-options="{
							
						navigation : false,
						pagination : false,
						items : 4

				}">
				
				<div owl-carousel-item="" al-tpl-product 
								classes="col-xs-12 m-bottom-20 comboproductitems"
								ng-repeat="product in promotion.products"
								info="product"
								promotion="promotion"
					></div>

			</data-owl-carousel>
		</div>
	</div>
</div>