<div class="row">
<div class="col-md-3"></div>
<div class="christmas-mainouter col-md-6">
<div class="single_slider single_slider_product">
  <div class="md-toolbar-tools alcohalhdr">
    <h2 show-sm hide-lg>Reset Your Password</h2>
  </div>
  <form ng-submit="resetSubmit()" name="loginForm">
    
    <div class="modal-body alcohabody">
      <div class="alcohal_regisemailcvr">
        <div class="alcohal_regissigntxt" hide-xs hide-sm>Reset Your Password</div>
        <div class="registeremailcvr" ng-class="{'has-error':reset.errors.password[0]}">
            <label>New Password</label>
            <input type="password" ng-model="reset.password" class="alcohalrestertextbox form-control" placeholder="New Password" />
            <span class="help-block" ng-bind="reset.errors.password[0]"></span>
        </div>
        <div class="registeremailcvr" ng-class="{'has-error':reset.errors.password_confirmation[0]}">
            <label>Confirm Password</label>
            <input autocomplete="off" type="password" ng-model="reset.password_confirmation" class="alcohalrestertextbox form-control" placeholder="Confirm Password" />
            <span class="help-block" ng-bind="reset.errors.password_confirmation[0]"></span>
        </div>
      </div>
      <div class="alcohal_regisemailcvr">          
        <div class="alcohallogin_forgettxt"> 
          <a ui-sref="mainLayout.index">Cancel</a> 
        </div>
        <button ng-disabled="loading" type="submit" class="alcohalfootersign alcohal_fotrloginbox">Reset</button>
      </div>
    </div>      
    
    
    <!-- <div class="modal-footer alcohalfotter">
    </div> -->
    
  </form>    
</div>
</div>
</div>