<md-dialog id="signup" layout="column" flex-lg="40" flex-sm="80" flex-gt-sm="66">
  <div class="md-toolbar-tools alcohalhdr" >
    <h2 show-sm hide-lg ng-if="!forgot.message">Reset Password Required</h2>
    <span flex></span>
    <button type="button" class="close" ng-click="hide()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form ng-submit="resetPasswordRequiredSubmit()" name="loginForm">
  <div class="inner-form">
    <md-dialog-content>
    <div class="modal-body alcohabody">
      <div class="col-sm-12">
        
          <div ng-if="!guest"><b>Due to security reasons, a password reset is required. Please click on the below reset button to receive a reset password link in your email to access your account!</b></div>

          <div ng-if="guest"><b>We already have your information from your previous orders! Please click on the below reset button to receive a reset password link in your email to assign a password to access your account now!</b></div>
          
        
      </div>
    </div>
    </md-dialog-content>
    <md-dialog-actions layout="column" class="modal-uifooter">
    <div class="modal-footer alcohalfotter">
      <div class="alcohal_regisemailcvr">        
        <button ng-disabled="loading" type="submit" class="alcohalfootersign">Reset</button>
      </div>
    </div>
    </md-dialog-actions>
  </div>  
  </form>   
</md-dialog>
