<div class="right_discount" id="smokeneedpanel" ng-if="alcoholCart.getTotalUniqueItems()">
    <div class="huge">need</div>
    <div class="hugediscou">Smoke?</div>
    <div class="fullwidth">
        <table>
            <tr>
                <td>NO</td>
                <td><md-switch aria-label="smoke" ng-model="smoke.status" ng-change="alcoholCart.setSmokeStatus(smoke.status)"></md-switch></td>
                <td>YES</td>
            </tr>
        </table>
        
        <!-- <div class="slider demo" id="slider-1">
            <input type="checkbox" value="1" checked>            
        </div> -->
    </div>

    <div ng-class="{hide:!smoke.status}">
        <div class="checkoutrighttext">Let us get your cigarettes for you! For additional service charge of {{smoke.charges | pricingTxt}}, we will purchase your desired cigarette from convenience stores while delivering your alcohol to your doorstep!</div>
        <textarea type="text" class="checkoutrightpleasediv" id="smokedetail" ng-model="smoke.detail" placeholder="Please provide details. (Brand, Quantity)" rows="5"></textarea>

        <div class="checkoutrighbuttonouter">
          <!-- <button class="checkoutrighbuttoncancel" ng-click="alcoholCart.setSmokeStatus(false)">Cancel</button> -->
          <button class="checkoutrighbuttonadd" ng-click="alcoholCart.addSmoke(smoke.detail)">Add</button>
        </div>
        
        <div class="checkouter-rightsmalltext ">Cost of cigarettes must be paid in CASH. Service charge does not include cost of cigarettes. Service is not applicable for Express Delivery.</div>
    </div>
</div>