<div class="recentorder" ng-show="user.email && !error">
	<div class="recentorder_title">Recent Order</div>
	<div class="fullwidth modifyscroll" ng-scrollbars >

		
		<div class="order-fetching" ng-if="fetching || processAdding"></div>

		<div class="ro_items" ng-class="{'itemselect':product.selected}" ng-repeat="product in lastorder.products" title="{{product.shortDescription}}">

			<div class="chk_unchk">
				<md-checkbox ng-model="product.selected" aria-label="{{product.name}}"></md-checkbox>			
			</div>
			<div class="ro_pic">				
				<img ng-src="products/i/200/{{product.imageFiles | getProductThumb}}" alt="" class="img-responsive img-responsive-h" />
			</div>
			<div class="ro_desc">{{product.name | truncate:35}}</div>
		</div>

	</div>
	<div class="recentorder_buttons">

		<div class="addbtn">
			<!-- <img src="images/add.png" class="img-responsive" /> -->
			<button type="button"
				class="alcohalfooter_repeatorderbtn-add"
				ng-click="addSelected()"
				ng-disabled="selectedCount==0"
				ng-class="{'active':selectedCount>0}">
				Add
			</button>
		</div>
		<div class="repeatbtn" data-toggle="modal" ng-click="repeatOrder($event)">
			<!-- <img src="images/repeat.png" class="img-responsive" /> -->
			<button type="button" class="alcohalfooter_repeatorderbtn-rep">Repeat</button>
		</div>
	</div>
	<div class="recentorder_title">Order History</div>
	<div class="orderhistorytext">Shopping from a past order provides a convenient way to quickly shop for the same products again.</div>
	<div class="recentorder_buttons">
		<div class="viewbtns" ng-click="shopFromPrevious($event)"><button type="button" class="alcohalfooter_repeatorderbtn-rep">View</button></div>
	</div>
</div>