<style type="text/css">
.dropdown-menu{
	-webkit-animation-duration: 1s; 
  animation-duration: 1s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
}
.animate {
	display: block;
	-webkit-animation-name: fadeIn; 
  animation-name: fadeIn;     
}
@-webkit-keyframes fadeIn { 
  0% {opacity: 0;} 
  100% {opacity: 1;} 
} 
@keyframes fadeIn { 
  0% {opacity: 0;} 
  100% {opacity: 1;} 
} 
</style>
<ul class="nav navbar-nav modify capitalize">

	<li ng-class="{'active':AppController.category==''}"><a href="#">On Sale! <span class="sr-only">(current)</span></a></li>	
	<li ng-class="{'active':AppController.category==c.slug}" class="dropdown" ng-repeat="c in childOf(categories)" ng-mouseover="showPersonSubMenu=true" ng-mouseleave="showPersonSubMenu=false">

	<div style="display: none;">
		{{childCategories = childOf(categories,c._id)}}
		{{isChildExist = childCategories.length > 0}}		
	</div>
		<a ui-sref="mainLayout.category.products({categorySlug:c.slug})" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{c.cat_title}} <span class="caret" ng-show='isChildExist'></span></a>

		<ul class="dropdown-menu" ng-class="{'animate':showPersonSubMenu}" ng-style="{'background-image':'url(/assets/resources/category/lthumb/400/{{c.cat_lthumb}})'}" ng-show='isChildExist'>
			<li class="dm_title">{{c.cat_title}}</li>
			<li ng-class="{'subactive':AppController.subCategory==cc.slug}" ng-repeat="cc in childCategories"><a href="#/{{c.slug}}/{{cc.slug}}" >{{cc.cat_title}}<span>10</span></a></li>
		</ul>
	</li>
</ul>