
<span class="closemenu " ng-click="openMenu()">&times;</span>
<ul class="nav navbar-nav modify capitalize mobilesidebar" ng-cloak>
	<!-- SHOW IN MOBILE ONLY -->
	<li class="mobilemenu hide">
		<a class="pointer" href="tel:+6592445533">
			<!--Call us now : 9-2445533-->
			<div class="menu-phone-div">
		          <div class="menu-phone-icon"><img src="images/phone-new.gif"></div>
		          <div class="menu-phon-right">
		          	<div class="menu-phon-call">CALL US NOW</div>
		          	<div class="menu-phon-number">9-CHILLED</div>
		          	<div class="menu-phon-number">9-2445533</div>
		          </div>
		    </div>      
		</a>
	</li>	
	<li ng-if="!user.email" class="mobilemenu hide">
		<a class="pointer" ng-click="loginOpen($event);">LOGIN</a>
	</li>
	<li ng-if="!user.email" class="mobilemenu hide brd-bot">
    	<a class="pointer" ng-click="signupOpen($event);"> SIGNUP </a>                       	
    </li>
	<li ng:class="{'hideOp':hideOp}" class="dropdown mobilemenu hide brd-bot" ng-if="user.email" ng-click="hideOp=!hideOp"  class="mobilemenu hide"> 
		<a class="username dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" > Hola, {{(user.name)?user.name:user.email}} 
		</a>
        <ul  class="dropdown-menu profil-dropdown">
          <li><a ui-sref="accountLayout.profile">My Account</a></li>
          <li><a ng-click="logout()">Logout</a></li>
        </ul>
    </li>                  
    <!-- SHOW IN MOBILE ONLY -->
	<!-- <li ng-class="{'active':$state.current.url=='/'}">
		<a ui-sref="mainLayout.index">On Sale! <span class="sr-only">(current)</span></a>
	</li>	 -->
	<li ng-class="{'active':AppController.category==c.slug}" class="dropdown" ng-repeat="c in childOf(categories)" ng-mouseover="showPersonSubMenu=true" ng-mouseleave="showPersonSubMenu=false" hover-class="open">
		<div class="hide">
			{{childCategories = childOf(categories,c._id)}}
			{{isChildExist = childCategories.length > 0}}		
		</div>
		<a ng:class="{'notlinkmenu':isChildExist}" ui-sref="mainLayout.category.products({categorySlug:c.slug})" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
				{{c.cat_title}} <span class="caret" ng-show='isChildExist'></span>
		</a>

		<ul ng-click="hideMenu()" class="dropdown-menu" ng-class="{'animate':showPersonSubMenu}" ng-style="{'background-image':'url(/assets/resources/category/thumb/400/{{c.cat_thumb}})'}" ng-if='isChildExist'>
			<li class="dm_title">{{c.cat_title}}</li>			
			<li class="mobilemenu hide">
				<a ui-sref="mainLayout.category.products({categorySlug:c.slug})">All<span>{{c.productCount}}</span></a>
			</li>
			<li ng-class="{'subactive':AppController.subCategory==cc.slug}" ng-repeat="cc in childCategories">
				<a ui-sref="mainLayout.category.subCatProducts({categorySlug:c.slug,subcategorySlug:cc.slug})">{{cc.cat_title}}<span>{{cc.productCount}}</span></a>
			</li>
		</ul>
	</li>
	<li ng-class="{'active':AppController.category=='packages'}" class="dropdown">

		<a ng-click="AppController.showpackage = !AppController.showpackage" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Packages</a>

		<ul class="nav navbar-nav party-cocktail-liset" ng-show="AppController.showpackage">
			<li ng-class="{'active':AppController.subCategory=='party'}" class="dropdown"><a ui-sref="mainLayout.packages({type:'party'})">Party Packages</a></li>
			<li ng-class="{'active':AppController.subCategory=='cocktail'}" class="dropdown"><a ui-sref="mainLayout.packages({type:'cocktail'})">Cocktail Packages</a></li>
		</ul>

	</li>
	<li ng-class="{'active':AppController.category=='loyalty-store'}" class="dropdown">
		<a class="pointer" ui-sref="mainLayout.loyaltystore">Loyalty Store</a>
	</li>	
	<li ng-class="{'active':AppController.category=='gifts'}" class="dropdown">
		<a class="pointer" ng-click="giftPopup($event)">Gift packaging</a>
	</li>
</ul>