<section class="fullwidth">
	<div class="container">
		<div class="single_slider" ng-if="testimonials.length">
			
			<data-owl-carousel class="owl-carousel owl-theme" data-options="{
						navigation : false,
						pagination : true,
						items : 1,
						loop : true,
						autoPlay : true,
					    autoPlayTimeout : 500,
					    autoPlayHoverPause : true	
					}">
                    
				<div owl-carousel-item="" ng-repeat="testimonial in testimonials" class="item testimonial-item-outer" >
					<div class="slido_left">
                    <div class="testimonial-left-inner">
                    <div class="innertextmiddle">
						<div class="slido_pic"><img ng-src="assets/resources/testimonial/200/{{testimonial.image}}" class="" height="" width="" /></div>
						<div class="slido_txt" title="{{testimonial.name}}" ng-bind="testimonial.name"></div>
					</div></div></div>
					<div class="slido_right" ng-bind-html="testimonial.content"></div>
				</div>

			</data-owl-carousel>

		</div>
	</div>
</section>