<nav class="navbar navbar-default navbar-fixed-top ">
		<div class="container">
    <div class="row btm10">
      <div class="searchtop"> <div class="search_icon"></div>
        <input type="text" class="" placeholder="Search for items" value="" name="search">
        <a href="#" onclick="searchbar_close()" class="search_close">X</a> </div>
      <div class="col-md-2 homecallus_cover">
      	<a href="/#/">
        <div class="callshape"><img class="" src="images/Shapecall2.png"></div>
        <div class="homecallus">Call us now</div>
        <div class="homechilled">9-chilled</div>
        <div class="homechilled">9-2445533</div>
        </a>
      </div>
      <div class="col-md-8 text-center">
        <div class="logoss"> <img class="img-responsive logosmall" src="images/logo-small.png"> <img class="img-responsive logolarge" src="images/ad_logo.png"> </div>
      </div>
      <div class="col-md-2 signuplogin_cover">
        <div class="signuplogin">
          <a href="" class="cart_icon"></a>
          <a ng-hide="user.email" data-target="#register" data-toggle="modal" href="#">Signup</a>
          <a ng-hide="user.email" data-target="#login" data-toggle="modal" href="#">login</a>          
          <a ng-show="user.email" data-target="#" ng-click="logout()" data-toggle="modal" href="#" class="username">Hola, {{user.email}}</a>
        </div>
      </div>
    </div>
  </div>
	</nav>