<nav tscroll class="navbar navbar-default navbar-fixed-top ">
  <div class="container">
    <div class=" btm10" ng-controller="SearchController as ctrl">
      <div class="searchtop"> 
        <a class="search_icon" ng-show="openSearch"></a>
        <div layout="column" ng-cloak>
          <md-content class="globalsearch">
            <form ng-submit="ctrl.submitQuery()">
              <md-autocomplete				          
					          md-no-cache="ctrl.noCache"
					          md-selected-item="ctrl.selectedItem"
					          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
					          md-search-text="ctrl.searchText"
					          md-selected-item-change="ctrl.selectedItemChange(item)"
					          md-items="item in ctrl.querySearch(ctrl.searchText)"
					          md-item-text="item.name"
					          md-min-length="2"
					          placeholder="Search for items" clear-autocomplete id="Auto">
                <md-item-template>
                  <img width="40" err-src="asset/i/defaultImage.png" src="products/i/200/{{item.imageFiles | getProductThumb}}">
                  <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i"> {{item.name}} </span> 
                </md-item-template>
                <md-not-found> No products matching "{{ctrl.searchText}}" were found.</md-not-found>
              </md-autocomplete>
            </form>
          </md-content>
        </div>
        <a ng-click="searchbar(0); openSearch=!openSearch" class="search_close">&times;</a> 
      </div>
      <div class="col-md-2 homecallus_cover"> <a ui-sref="mainLayout.index">
        <div class="callshape"><img class="" src="images/Shapecall2.png"></div>
        <div class="homecallus">Call us now</div>
        <div class="homechilled">9-chilled</div>
        <div class="homechilled">9-2445533</div>
        </a> 
      </div>
      <div class="col-md-10 top-logo-sideacnt-cover text-center">
        <div class="logoss"> <a ui-sref="mainLayout.index"> <img class="img-responsive logosmall" src="images/logo-small.png"> <img class="img-responsive logolarge" src="images/ad_logo.png"> </a> </div>
        <div class="signuplogin_cover">
          <div class="signuplogin">
            <ul class="menuulpadding">
              <li ng-hide="user.email"><a data-target="#login" data-toggle="modal" href="javascript:;">login</a></li>
              <!--<a ng-show="user.email" data-target="#" ng-click="logout()" data-toggle="modal" href="javascript:;" class="username">Hola, {{user.email}}</a>-->
              <li ng:class="{'hideOp':hideOp}" class="dropdown" ng-show="user.email" ng-mouseover="hideOp=false" ng-mouseleave="hideOp=true"> <a href="javascript:;" class="username dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" > Hola, {{user.email}} </a>
                <ul ng-click="hideOp=true" class="dropdown-menu profil-dropdown">
                  <li><a ui-sref="accountLayout.profile">My Account</a></li>
                  <li><a href="#" ng-click="logout()">Logout</a></li>
                </ul>
              </li>
              <li ng-hide="user.email"><a data-target="#register" data-toggle="modal" href="javascript:;">Signup</a></li>              
              <alcoholcart-summary></alcoholcart-summary>              
              <li>
                <a class="search_icon" ng-click="searchbar(1); openSearch=!openSearch" ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div id="wrapper">
        <div class="overlay"></div>
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
          <ul class="nav sidebar-nav">
            <li class="sidebar-brand"> <a href="#"> Brand </a> </li>
            <li> <a href="#">Home</a> </li>
            <li> <a href="#">About</a> </li>
            <li> <a href="#">Events</a> </li>
            <li> <a href="#">Team</a> </li>
            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Works <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">Dropdown heading</li>
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li> <a href="#">Services</a> </li>
            <li> <a href="#">Contact</a> </li>
            <li> <a href="https://twitter.com/maridlcrmn">Follow me</a> </li>
          </ul>
        </nav>
        
         <div id="page-content-wrapper">
          <button type="button" class="hamburger is-closed" data-toggle="offcanvas" id="offcanvas" ng-click="openMenu()"> <span class="hamb-top"></span> <span class="hamb-middle"></span> <span class="hamb-bottom"></span> </button>
        </div>
      </div>        
    </div>
  </div>
</div> 
<!-- <div id="google_translate_element"></div><script type="text/javascript">
function googleTranslateElementInit() {
	new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,zh-CN', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> --> 
  
</nav>

<!-- Modal -->
<div class="modal" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-easein="perspectiveLeftIn">
  <div class="modal-dialog alcohal_registermain" role="document">
    <div class="modal-content alcohalregiterconntcvr">
      <div class="modal-header alcohalhdr">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <form ng-submit="signupSubmit()" name="myForm">
        <div class="modal-body alcohabody">
          <div class="alcohal_regisemailcvr">
            <div class="alcohal_regissigntxt">Sign Up for Free</div>
            <div class="registeremailcvr" ng-class="{'has-error':signup.errors.email[0]}">
              <input type="email" name="email" ng-model="signup.email" class="alcohalrestertextbox form-control" placeholder="Email Address" ng-model="formData.email">
              <!-- <span style="color:red; clear:both" ng-show="myForm.email.$dirty && myForm.email.$invalid">
								<span ng-show="!myForm.email.$error.required && myForm.email.$error.email && myForm.email.$dirty">invalid email</span>
							</span> --> 
              <span class="help-block" ng-bind="signup.errors.email[0]"></span> </div>
            <div class="registeremailcvr" ng-class="{'has-error':signup.errors.password[0]}">
              <input type="password" ng-model="signup.password" class="alcohalrestertextbox form-control" placeholder="Password">
              <span class="help-block" ng-bind="signup.errors.password[0]"></span> </div>
            <div class="registeremailcvr" ng-class="{'has-error':signup.errors.password_confirmation[0]}">
              <input type="password" ng-model="signup.password_confirmation" class="alcohalrestertextbox form-control" placeholder="Confirm Password">
              <span class="help-block" ng-bind="signup.errors.password_confirmation[0]"></span> </div>
            <div class="registeremailcvr" ng-class="{'has-error':signup.errors.terms[0]}">
              <input type="checkbox" class="" ng-model="signup.terms" name="regis" id="regis">
              <label for="regis"><span></span></label>
              <div class="register_checktext"> By submitting this form, I confirm that I have read and agree to Alcohol Delivery’s <a target="_blank" ui-sref="cmsLayout.terms-conditions">Terms of Use</a> and <a target="_blank" ui-sref="cmsLayout.privacy-policy">Privacy Policy</a> <span class="help-block" ng-bind="signup.errors.terms[0]"></span></div>
            </div>
          </div>
        </div>
        <div class="modal-footer alcohalfotter">
          <div class="alcohal_regisemailcvr">
            <button ng-disabled="loading" type="submit" class="alcohalfootersign">Sign Up</button>
            
            <!-- <button type="submit" ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  myForm.email.$dirty && myForm.email.$invalid" class="alcohalfootersign">Sign Up</button> --> 
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-easein="perspectiveLeftIn">
  <div class="modal-dialog alcohal_registermain" role="document">
    <div class="modal-content alcohalregiterconntcvr">
      <div class="modal-header alcohalhdr">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>--> 
      </div>
      <form ng-submit="loginSubmit()" name="loginForm">
        <div class="modal-body alcohabody">
          <div class="alcohal_regisemailcvr">
            <div class="alcohal_regissigntxt">Login to Your Account</div>
            <div class="registeremailcvr" ng-class="{'has-error':errors.email[0]}">
              <label>Email Address</label>
              <input type="text" ng-model="login.email" class="alcohalrestertextbox form-control" placeholder="Email Address" />
              <span class="help-block" ng-bind="errors.email[0]"></span> </div>
            <div class="registeremailcvr" ng-class="{'has-error':errors.password[0]}">
              <input autocomplete="off" type="password" ng-model="login.password" class="alcohalrestertextbox form-control" placeholder="Password" />
              <span class="help-block" ng-bind="errors.password[0]"></span> </div>
            <div class="fbloginDiv">
              <div class="fblogin" id="login-btn"  align="center"> 
                <img ng-click="loginToggle()" src="img/facebook_login.png">                 
              </div>              
            </div>
          </div>
        </div>
        <div class="modal-footer alcohalfotter">
          <div class="alcohal_regisemailcvr">
            <div class="alcohallogin_forgettxt"> <a data-dismiss="modal" data-target="#forgot_password" data-toggle="modal" href="javascript:;">Forgot Password?</a> </div>
            <button ng-disabled="loading" type="submit" class="alcohalfootersign alcohal_fotrloginbox">Log in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal" id="reset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-easein="perspectiveLeftIn">
  <div class="modal-dialog alcohal_registermain" role="document">
    <div class="modal-content alcohalregiterconntcvr">
      <div class="modal-header alcohalhdr">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>--> 
      </div>
      <form ng-submit="resetSubmit()" name="resetForm">
        <div class="modal-body alcohabody">
          <div class="alcohal_regisemailcvr">
            <div class="alcohal_regissigntxt">Reset Your Password</div>
            <div class="registeremailcvr" ng-class="{'has-error':reset.errors.password[0]}">
              <label>New Password</label>
              <input type="password" ng-model="reset.password" class="alcohalrestertextbox form-control" placeholder="New Password" />
              <span class="help-block" ng-bind="reset.errors.password[0]"></span> </div>
            <div class="registeremailcvr" ng-class="{'has-error':reset.errors.password_confirmation[0]}">
              <label>Confirm Password</label>
              <input autocomplete="off" type="password" ng-model="reset.password_confirmation" class="alcohalrestertextbox form-control" placeholder="Confirm Password" />
              <span class="help-block" ng-bind="reset.errors.password_confirmation[0]"></span> </div>
          </div>
        </div>
        <div class="modal-footer alcohalfotter">
          <div class="alcohal_regisemailcvr">
            <div class="alcohallogin_forgettxt"> <a data-dismiss="modal" data-target="#login" data-toggle="modal" href="javascript:;">Login</a> </div>
            <button ng-disabled="loading" type="submit" class="alcohalfootersign alcohal_fotrloginbox">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal" id="forgot_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-easein="perspectiveLeftIn">
  <div class="modal-dialog alcohal_registermain" role="document">
    <div class="modal-content alcohalregiterconntcvr">
      <div class="modal-header alcohalhdr">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>--> 
      </div>
      <form ng-submit="forgotSubmit()" name="loginForm">
        <div class="modal-body alcohabody">
          <div class="alcohal_regisemailcvr">
            <div class="alcohal_regissigntxt">Forget Password ?</div>
            <div class="registeremailcvr" ng-class="{'has-error':forgot.errors.email[0]}">
              <label>Enter your e-mail address below to reset your password. </label>
              <input type="text" ng-model="forgot.email" class="alcohalrestertextbox form-control" placeholder="Email Address" />
              <span class="help-block" ng-bind="forgot.errors.email[0]"></span> </div>
          </div>
        </div>
        <div class="modal-footer alcohalfotter">
          <div class="alcohal_regisemailcvr">
            <button ng-disabled="loading" type="submit" class="alcohalfootersign">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal" id="forgot_password_sent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-easein="perspectiveLeftIn">
  <div class="modal-dialog alcohal_registermain" role="document">
    <div class="modal-content alcohalregiterconntcvr">
      <div class="modal-header alcohalhdr">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>--> 
      </div>
      <div class="modal-body alcohabody">
        <div class="alcohal_regisemailcvr">
          <div class="alcohal_regissigntxt">{{forgot.message}}</div>
        </div>
      </div>
      <div class="modal-footer alcohalfotter">
        <div class="alcohal_regisemailcvr">
          <button type="button" data-dismiss="modal" class="alcohalfootersign alcohal_fotrloginbox">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>