<div class="shiping_add_box">
	<div class="cover_div_addsboxs">
		<div class="addressbook-btmpannelcover cartaddresses" delivery="delivery" user-addresses></div>
	
		<div class="specil_intertion_div">
			<div class="div_specil_intertion_title">Special Instructions</div>
			<div class="cover_secilinform">
				<div class="alcohlinputext2" ng:class="{'has-error':errors.contact[0]}">

					<label>Contact Number<span>*</span></label>
					
					<div class="input-group">

					<div class="mobileinput input-group-addon">+<input type="text" name="countryCode" ng-model="delivery.country_code" class="transparent" maxlength="3" ng-minlength="1" ng-maxlength="3" required></div>
						<input only-digits type="text" class="form-control alcohalpopuptext2" name="deliveryContact" id="deliveryContact" required ng-model="delivery.contact" ng-minlength="{{mobile_number.min}}" ng-maxlength="{{mobile_number.max}}" maxlength="{{mobile_number.max}}">

					</div>
					
					<div ng-if="cartFrm.deliveryContact.$touched">
						<span class="help-block" ng-if="cartFrm.deliveryContact.$error.required || cartFrm.countryCode.$error.required" ng-bind="errors.contact"></span>
						<span class="help-block" ng-if="cartFrm.deliveryContact.$error.minlength || cartFrm.deliveryContact.$error.maxlength || cartFrm.countryCode.$error.minlength || cartFrm.countryCode.$error.maxlength" ng-bind="errors.contact"></span>
					</div>

				</div>
				<div class="alcohlchekboxdiv12" ng-if="newNumber">
					<label for="deliveryNewDefault"><md-checkbox md-no-ink ng-model="delivery.newDefault" aria-label="leaveatdoor-checkbox">Make it default contact number</md-checkbox></label>
				</div>
				<div class="alcohlinputextarea12">
					<label>Any Special Instructions (optional)</label>
					<textarea class="alcohlinputextareaa2" placeholder="" maxlength="160" ng-model="delivery.instructions"></textarea>
				</div>
				<div class="alcohlchekboxdiv12">
					<label><md-checkbox md-no-ink ng-model="delivery.leaveatdoor" aria-label="leaveatdoor-checkbox">Leave this order at my doorstep.</md-checkbox></label>
					<div class="gry_itlic_text">We’ll leave your items at your doorstep without contacting you. To be eligible, we must have unrestricted access to your doorstep.</div>
				</div>
			</div>
		</div>
	</div>
</div>            

<div class="checkouterlastdiv">
	<div class="checkouterbackouter2"> 
		<a class="checkouterback2" ui-sref="mainLayout.checkout.cart"><span><img src="images/order_history2backpic.png"></span>back</a>
		<button class="checkoutcheckoutnowbutton2" ng-click="addressCheckout()">Next<span><img src="images/leftarrowpic.png"></span></button>
	</div>
</div>