	<div class="shiping_add_box">
	<div class="cover_div_addsboxs">
	<div class="coverboxsegment_div">
	
	<!-- Address Boxes Start-->
	<div class="div_addsboxs" ng-class="{active:delivery.address == key}" ng-repeat="(key, address) in addresses" >
		<div class="addsboxs_innerdiv">
			<div class="cover_rt_lftdiv">
				<div class="rgt_iconadd_div"><img data-target="#Modalmapadess" data-toggle="modal" src="images/add_pic_iconrt.png"></div>
				<div class="lft_textadd_div">
					<div class="add_alltext">
						<div class="plac_divetx">{{address.firstname +' '+address.lastname}}</div>
						<div class="gry_text_div">{{address.street}}</div>
						<div class="gry_text_div">{{address.house}}</div>
						<div class="gry_text_div">Singapore - {{address.postal}}</div>

						<div class="gry_text_div" ng-if="address.phone">Phone - {{address.phone}}</div>
						<div class="gry_text_div" ng-if="user.phone">Phone - {{user.phone}}</div>								

					</div>
					<div class="edit_del_icondiv">
						<span><img ng-click="removeAddress(key)" src="images/del_pic2icon.png"></span>
						<span><img ng-click="updateAddressModal($event,key)" src="images/edit-pic1pen.png"></span>
					</div>
				</div>
			</div>
			<div class="yelo_btn_div">
				<button data-toggle="modal" type="button" class="yelo_btn" ng-click="delivery.address = key">ship to this address</button>
			</div>
		</div>
	</div>
	<!-- Address Boxes Ends-->

	

	 <div data-target="#Modal-addnewaddress" data-toggle="modal" class="add-newaddbox" ng-click="showAddressViaMapModal($event)">
		<div class="add-newaddinner">
			<div class="pic-addnew_add"><img src="images/add_new-dumipic.png"></div>
		 <div class="pic-addnew_text">Add new address</div>

		</div>
	 </div>
	 </div>
	 <div class="specil_intertion_div">
		<div class="div_specil_intertion_title">Special Instructions</div>
		<div class="cover_secilinform">
			<div class="alcohlinputext2">
				<label>Contact Number<span>*</span></label>
				<input type="text" class="alcohalpopuptext2" ng-model="delivery.contact">
			</div>
		 <div class="alcohlinputextarea12">
			<label>Any Special Instructions (optional)</label>
			<textarea class="alcohlinputextareaa2" placeholder="" ng-model="delivery.instructions"></textarea>
		 </div>
		 <div class="alcohlchekboxdiv12">						 
				 <md-checkbox ng-model="delivery.leaveatdoor" aria-label="leaveatdoor-checkbox"></md-checkbox>
				 <label for="c1"><span></span>Leave this order at my doorstep.</label>
				 <div class="gry_itlic_text">We’ll leave your items at your doorstep without contacting you. To be eligible, we must have unrestricted access to your doorstep.</div>
		 </div>
		 
		</div>
	 </div>
	</div>
 </div>                                 
	<div class="checkouterlastdiv">
	<div class="checkouterbackouter">
	 <a class="checkouterback" href=""><span><img src="images/order_history2backpic.png"></span>back to shopping</a>
	<button class="checkoutcheckoutnowbutton">Checkout Now</button>
	</div>
 </div>