<div class="checkbox-gray-top">
	<div class="checkbox-gray-top-first">

		<md-switch aria-label="cart.nonchilled" ng-model="cart.nonchilled" ng-change="alcoholCart.setCartChilled(cart.nonchilled)"></md-switch>

	</div>
	<div class="checkbox-gray-toptext">SAVE {{cart.discount.nonchilled.exemption | pricingTxt}} by choosing to have your drinks delivered Non-Chilled.</div>
</div>

<div class="checkoutmiddletable" ng-class="{cartNonChilledActive: cart.nonchilled}">
	<div class="table-responsive">
		<table class="table cart-table">
			<tbody>				

				<tr ng-repeat-start="(key, cartproduct) in alcoholCart.getProducts()" ng-init="cartproduct.setStateRemainQty()"></tr>
				<tr ng-repeat="type in ['qChilled','qNChilled']" ng-if="cartproduct[type]>0 && cartproduct['remain'+type]>0">

					<td width="52%">

						<span ng-if="cartproduct.isAvail()" class="cart-alert">!
							<md-tooltip class="cart-alert-tooltip" md-direction="top">Sorry! This item is either out of stock, or unavailable for the quantity or delivery time selected.</md-tooltip>
						</span>

						<div class="orhistry2_td2procdtcvr">
						<span class="cursor-pointer">
							<a ui-sref="mainLayout.product({product:cartproduct.product.slug})" title="{{::cartproduct.getName()}}">
								<img err-pro-src="" ng-src="products/i/200/{{cartproduct.product.imageFiles | getProductThumb}}" alt="" class="img-responsive img-responsive-h" />
							</a>
						</span>

							<div class="checkouter-td-right-text">
								<div class="orhistry2_td2proctext1">{{::cartproduct.product.name}}</div>
								<div class="orhistry2_td2proctext2">{{::cartproduct.product.shortDescription}}</div>
								<div class="orhistry2_td2proctext1">{{cartproduct.discountedUnitPrice | pricingTxt}}</div>
								<div class="orhistry2_td2proctext2">unit Price</div>
							</div> 

						</div>
						<div class="sale-tag-txt -cart" ng-if="cartproduct.isSingleSale">{{::cartproduct.sale.detailTitle}}</div>

					</td>
					<td width="131px">

						<div class="prod_chilled" ng-class="{
						notchilled:!cartproduct[type+'Status'] || cart.nonchilled,
						invisible:!cartproduct.product.chilled ,

						}"
						ng-click="alcoholCart.updateChilledStatus(cartproduct._id,type)">
						<span>Chilled</span>
						<div class="prod_chilled_icon"></div>
						</div>


					</td>
					<td>
						<div class="checkoutmiddlevlauediv">

							<input type="text" ng-model="cartproduct[type]" value="cartproduct[type]" min="0" remain="cartproduct['remain'+type]" mquantity="cartproduct[type+'Max']" ng-touch-spin on-increment="addtocart(cartproduct.product._id.$id,type,up)" on-decrement="addtocart(cartproduct.product._id.$id,type,down)">

						</div>
					</td>
					<td>
						<div class="orderhistry2price">
						<span class="strike-txt-only" ng-if="cartproduct.isSingleSale">{{cartproduct.unitPrice * cartproduct['remain'+type] | pricingTxt}}<br></span>
						{{cartproduct.discountedUnitPrice * cartproduct['remain'+type] | pricingTxt}}
						</div>

					</td>
					<td> 
						<a href="javascript:void(0)" class="checkoutmiddletabledeleteimg" ng-click="remove(key,type)"><i class="glyphicon glyphicon-trash"></i></a>
					</td>
				</tr>
				<tr ng-repeat-end></tr>

				<tr ng-repeat="sale in alcoholCart.getSales()">
					<td width="52%">
						<ul class="orhistry2_td2procdtcvr list-inline sale-pro-list">
							<div ng-repeat-start="sPro in sale.products" ng-hide="true"></div>
								<li class="cursor-pointer" ng-repeat="a in sPro.productQtyArr">
									<a ui-sref="mainLayout.product({product:sPro.product.slug})" title="{{::sPro.product.name}}">
										<img err-pro-src="" ng-src="products/i/200/{{sPro.product.image}}" alt="" class="img-responsive img-responsive-h" />
									</a>
								</li>
							<div ng-repeat-end ng-hide="true"></div>
							<li ng-if="sale.action.length" class="sale-action-add-icon">
								<table><tr><td>+</td></tr></table>
							</li>
							<div ng-repeat-start="sPro in sale.action" ng-hide="true"></div>
								<li class="cursor-pointer" ng-repeat="a in sPro.productQtyArr">
									<a ui-sref="mainLayout.product({product:sPro.product.slug})" title="{{::sPro.product.name}}">
										<img err-pro-src="" ng-src="products/i/200/{{sPro.product.image}}" alt="" class="img-responsive img-responsive-h" />
									</a>																		
								</li>
							<div ng-repeat-end ng-hide="true"></div>
						</ul>
						<div class="sale-tag-txt -cart">{{sale.title.long}}</div><span class="strike-txt">{{sale.strikePrice | pricingTxt}}</span>
					</td>
					<td width="131px">
						<div class="prod_chilled" ng-class="{notchilled:!sale.chilled || cart.nonchilled}" ng-click="alcoholCart.saleChilled(sale)">
						<span>Chilled</span>
						<div class="prod_chilled_icon"></div>
						</div>
					</td>
					<td></td>
					<td>
						<div class="orderhistry2price"><span class="strike-txt-only">{{sale.strikePrice | pricingTxt}}</span><br>{{sale.price | pricingTxt}}</div>
					</td>
					<td> 
						<a href="javascript:void(0)" class="checkoutmiddletabledeleteimg" ng-click="removeSale(sale)"><i class="glyphicon glyphicon-trash"></i></a>
					</td>
				</tr>

				<tr ng-repeat="(key, package) in alcoholCart.getPackages()">

					<td width="52%">	
						<!-- <pre>{{package.original.packageItems|json}}</pre> -->
						<div class="orhistry2_td2procdtcvr">
							<span>
								<a ui-sref="mainLayout.packagedetail({type:package.original.type==2?'cocktail':'party',id:package._id,uid:package._uniqueId})">
									<img err-pro-src="" ng-src="packages/i/{{package.original.coverImage.source}}" src="asset/i/defaultImage.png" alt="" class="img-responsive img-responsive-h" />
								</a>
							</span>

							<div class="checkouter-td-right-text">
								<div class="orhistry2_td2proctext1">{{package._name}}</div>
								<div class="orhistry2_td2proctext2">{{package.original.subTitle}}</div>
								<div class="orhistry2_td2proctext1">{{package.original.packagePrice | pricingTxt}}</div>
								<div class="orhistry2_td2proctext2">unit Price</div>
							</div> 
						</div>

						
						<div ng-repeat="(key, packageItem) in package.original.packageItems" ng-if="package.original.type==1">
							<span class="orhistry2_td2proctext2" >{{packageItem.title}} - </span> 
							<span class="orhistry2_td2proctext2" ng-if="packageproduct.cartquantity" ng-repeat="packageproduct in packageItem.products">
								{{packageproduct.cartquantity}}x {{packageproduct.name}}
							</span>
						</div>

						<div ng-repeat="(key, packageItem) in package.original.packageItems" ng-if="package.original.type==2">
							<span class="orhistry2_td2proctext2" >Ingredient # {{$index+1}} - </span> 
							<span class="orhistry2_td2proctext2" ng-if="packageproduct.cartquantity" ng-repeat="packageproduct in packageItem.products">
								{{packageproduct.cartquantity}}x {{packageproduct.name}}
							</span>
						</div>
						
					</td>
					<td></td>
					<td>

						<div class="checkoutmiddlevlauediv">

							<input type="text" ng-model="package.original.packageQuantity" value="package._quantity" min="0" mquantity="package._maxquantity" ng-touch-spin on-increment="updatePackage(package._uniqueId)" on-decrement="updatePackage(package._uniqueId)">

						</div>
					</td>
					<td>						
						<div class="orderhistry2price">{{package._price | pricingTxt}}</div>
					</td>
					<td> 
						<a href="javascript:void(0)" class="checkoutmiddletabledeleteimg" ng-click="alcoholCart.removePackage(package._uniqueId,true)"><i class="glyphicon glyphicon-trash"></i></a>
					</td>
				</tr>
				
				<tr ng-repeat="(key, giftCard) in alcoholCart.getGiftCards()">

					<td width="52%">

						<div class="orhistry2_td2procdtcvr">
							<span>
								{{giftCard.recipient.price | pricingTxt}}
							</span>

							<div class="checkouter-td-right-text">
								<div class="orhistry2_td2proctext1">{{giftCard.recipient.name}}</div>
								<div class="orhistry2_td2proctext2 split-txt">{{giftCard.recipient.message}}</div>
								<div class="orhistry2_td2proctext1">{{giftCard.recipient.price | pricingTxt}}</div>
								<div class="orhistry2_td2proctext2">unit Price</div>
							</div> 
						</div>
					</td>
					<td></td>
					<td>

						<div class="checkoutmiddlevlauediv">

							<input type="text" ng-model="giftCard.recipient.quantity" value="giftCard.recipient.quantity" min="0" mquantity="100" ng-touch-spin on-increment="updateGiftCard(giftCard.getUniqueId())" on-decrement="updateGiftCard(giftCard.getUniqueId())">

						</div>
					</td>
					<td>
						<div class="orderhistry2price">{{giftCard.getPrice() | pricingTxt}}</div>
					</td>
					<td> 
						<a href="javascript:void(0)" class="checkoutmiddletabledeleteimg" ng-click="alcoholCart.removeCard(giftCard.getUniqueId(),true)"><i class="glyphicon glyphicon-trash"></i></a>
					</td>
				</tr>				

				<!-- Show loyalty products here Starts -->
				<tr ng-repeat-start="(key, cartproduct) in alcoholCart.getLoyaltyProducts()"></tr>
				<tr ng-repeat="type in ['qChilled','qNChilled']" ng-if="cartproduct[type]>0">

					<td width="52%">

						<span ng-if="cartproduct.isAvail()" class="cart-alert">!
							<md-tooltip class="cart-alert-tooltip" md-direction="top">Sorry! This item is either out of stock, or unavailable for the quantity or delivery time selected.</md-tooltip>
						</span>

						<div class="orhistry2_td2procdtcvr">
						<span class="cursor-pointer">
							<a ui-sref="mainLayout.product({product:cartproduct.product.slug})" title="View Product">
								<img err-pro-src="" ng-src="products/i/200/{{cartproduct.product.imageFiles | getProductThumb}}" alt="" class="img-responsive img-responsive-h" />
							</a>
						</span>

							<div class="checkouter-td-right-text">
								<div class="orhistry2_td2proctext1">{{cartproduct.product.name}}</div>
								<div class="orhistry2_td2proctext2">{{cartproduct.product.shortDescription}}</div>
								<div class="orhistry2_td2proctext1">
									<i>LP {{cartproduct.loyaltyValue.unitPoint}}</i>
									<i ng-if='cartproduct.loyaltyValue.price>0'> + {{cartproduct.loyaltyValue.unitPrice | pricingTxt}}</i>
								</div>
								<div class="orhistry2_td2proctext2">unit Price</div>
							</div> 

						</div>

					</td>
					<td width="131px">

						<div class="prod_chilled" ng-class="{
						notchilled:!cartproduct[type+'Status'] || cart.nonchilled,
						invisible:!cartproduct.product.chilled

						}"
						ng-click="alcoholCart.loyaltyChilledStatus(cartproduct._id,type)">
						<span>Chilled</span>
						<div class="prod_chilled_icon"></div>
						</div>

					</td>
					<td>
						<div class="checkoutmiddlevlauediv">

							<input type="text" ng-model="cartproduct[type]" value="cartproduct[type]" min="0" mquantity="cartproduct[type+'Max']" ng-touch-spin on-increment="updateLoyaltyProduct(cartproduct.product._id,type)" on-decrement="updateLoyaltyProduct(cartproduct.product._id,type)">

						</div>
					</td>
					<td>
						<div class="orderhistry2price">
							<i>LP {{cartproduct.loyaltyValue.unitPoint * cartproduct[type]}}</i>
							<i ng-if='cartproduct.loyaltyValue.price>0'> + {{cartproduct.loyaltyValue.unitPrice * cartproduct[type] | pricingTxt}}</i>
							
						</div>
					</td>
					<td> 
						<a href="javascript:void(0)" class="checkoutmiddletabledeleteimg" ng-click="removeLoyaltyProduct(key,type)"><i class="glyphicon glyphicon-trash"></i></a>
					</td>
				</tr>
				<tr ng-repeat-end></tr>
				<!-- Show loyalty products here Ends -->
				
				<tr ng-repeat="(key,product) in alcoholCart.getLoyaltyCards()" ng-if="product.quantity">

					<td>{{product.value | pricingTxt}} Credit Certificate</td>

					<td></td>
					<td>
						<div class="checkoutmiddlevlauediv">

							<input type="text" ng-model="product.quantity" value="product.quantity" min="0" mquantity="100" ng-touch-spin on-increment="updateLoyaltyCard(key)" on-decrement="updateLoyaltyCard(key)">

						</div>
					</td>

					<td>
						<div class="orderhistry2price">LP {{product.points * product.quantity}}</div>
					</td>
					<td> 
						<a href="javascript:void(0)" class="checkoutmiddletabledeleteimg" ng-click="alcoholCart.removeLoyaltyCard(key)"><i class="glyphicon glyphicon-trash"></i></a>
					</td>
				</tr>

				<tr ng-repeat-start="(key, gift) in alcoholCart.getGifts()"></tr>
				<tr>
					<td width="52%">

						<div class="orhistry2_td2procdtcvr">

							<span>
								<a ui-sref="mainLayout.gift({giftid:gift.getId(),uid:gift.getUniqueId()})">
									<img err-src="asset/i/defaultImage.png" ng-src="{{gift.imageLink}}" alt="gift-pic" class="img-responsive img-responsive-h" />
								</a>
							</span>

							<div class="checkouter-td-right-text">
								<div class="orhistry2_td2proctext1">{{gift.title}}</div>
								<div class="orhistry2_td2proctext2">({{gift.subTitle}})</div>
								<div class="orhistry2_td2proctext2">{{gift.description}}</div>
							</div>
						</div>

						<ul class="list-inline gift-pack-products">								
							<li ng-repeat="(key, giftPro) in gift.getProducts()">
								<span class="qty-tag-hang">X {{giftPro.quantity}}</span>
								<a ui-sref="mainLayout.product({product:giftPro.product.slug})" title="View :: {{giftPro.product.name}}">
									<img err-src="" ng-src="products/i/200/{{giftPro.product.icon }}" alt="" class="img-responsive img-responsive-h" />
								</a>
							</li>
						</ul>
					</td>
					<td></td>
					<td>						
						
					</td>
					<td>
						<div class="orderhistry2price">{{gift.gsPrice() | pricingTxt}}</div>

					</td>
					<td> 
						<a href="javascript:void(0)" class="checkoutmiddletabledeleteimg" ng-click="alcoholCart.removeGift(gift.getUniqueId(),true)"><i class="glyphicon glyphicon-trash"></i></a>
					</td>
				</tr>			
				<tr ng-repeat-end></tr>

				<!-- Show added Promotions here -->
				<tr ng-repeat="(key, promotion) in alcoholCart.getPromotions()" id="promo-{{promotion._price}}">

					<td width="52%">
						<div class="orhistry2_td2procdtcvr">
							<span>
								<a ui-sref="mainLayout.product({product:promotion.product.slug})">
									<img err-pro-src="" ng-src="products/i/200/{{promotion.product._image}}" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=Image" alt="icon" class="img-responsive img-responsive-h" />
								</a>
							</span>

							<div class="checkouter-td-right-text">
								<div class="orhistry2_td2proctext1">{{promotion.product._title}}</div>
								<div class="orhistry2_td2proctext2">{{promotion.product.description}}</div>						
								<div class="orhistry2_td2proctext2">({{promotion._title}})</div>
							</div> 
						</div>
					</td>
					<td width="131px">

						<div class="prod_chilled" ng-class="{
						notchilled:!promotion.chilled || cart.nonchilled,
						invisible:!promotion.product._isChilledAllowed

						}"
						ng-click="alcoholCart.promoChilledStatus(promotion._id)">
						<span>Chilled</span>
						<div class="prod_chilled_icon"></div>
						</div>

					</td>
					<td></td>
					<td>
						<div class="orderhistry2price">
							<span class="strike-txt-only">{{promotion.product.unDiscountedPrice | pricingTxt}}</span>
							{{promotion.product._price | pricingTxt:true}}
						</div>

					</td>
					<td> 
						<a href="javascript:void(0)" class="checkoutmiddletabledeleteimg" ng-click="alcoholCart.removePromotion(promotion._id)"><i class="glyphicon glyphicon-trash"></i></a>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>

<div class="checkboxtotaldiv">
	<div class="checkboxtotaldiv-top">
		<div class="col-md-6">
			<div class="input-group" ng-show="alcoholCart.$coupon.couponInput">
			   <input type="text" class="form-control" name="discountCode" ng-model="discountCode" value="{{alcoholCart.getCouponCode()}}" placeholder="Coupon Code" ng-focus="hideCouponMsg()" >
			   <span class="input-group-btn">
			        <button ng-click="checkCoupon(discountCode)" class="btn btn-success">Apply</button>
			   </span>
			</div>
			
			<div class="input-group" ng-show="alcoholCart.$coupon.couponOutput">
			<span>"{{discountCode}}" Coupon Applied </span>  <button ng-click="removeCoupon()" class="btn btn-success">Remove</button>
			</div>
			<div class="error" ng-hide="alcoholCart.$coupon.invalidCodeMsg">{{alcoholCart.$coupon.invalidCodeMsgTxt}}</div>
		</div>
		<div class="col-md-6">
			<div class="checkboxtotaldiv-title">Subtotal</div>
			<div class="checkboxtotaldiv-text">{{alcoholCart.getSubTotal() | pricingTxt}}</div>
		</div>
	</div>
	<div class="checkboxtotaldiv-middle">
		<!-- <div class="col-sm-6">
			<button class="checkoutergitpackage pull-left m-top-15"  ng-click="giftPopup($event)" >Gift Packaging</button>
		</div> -->
		<div class="col-sm-6 col-sm-offset-6">
			<div class="checkboxtotaldiv-middle-first">
				<div class="checkboxtotaldiv-title">Delivery Charge <span class=""><img src="images/questionimg.png"></span></div>

				<div class="checkboxtotaldiv-text" ng-if="!cart.delivery.charges">Free</div>
				<div class="checkboxtotaldiv-text" ng-if="cart.delivery.charges>0">{{alcoholCart.getDeliveryCharges() | pricingTxt }}</div>

			</div>
			<div class="checkboxtotaldiv-middle-first">
				<div class="checkboxtotaldiv-title">Service Charge <span class=""><img src="images/questionimg.png"></span></div>
				<div class="checkboxtotaldiv-text">{{alcoholCart.getAllServicesCharges() | pricingTxt}}</div>
			</div>
			<div class="checkboxtotaldiv-middle-first">
				
				<div class="checkboxtotaldiv-title">Discount (Non-Chilled) <span class="">
					<img src="images/questionimg.png"></span>
				</div>

				<div class="checkboxtotaldiv-text" ng-class="{txtcross:!cart.nonchilled}">-{{alcoholCart.getDiscount() | pricingTxt}}</div>
			</div>
			<div class="checkboxtotaldiv-middle-first" ng-show="alcoholCart.getCouponDiscount()">
				
				<div class="checkboxtotaldiv-title">Coupon Discount<span class="">
					<img src="images/questionimg.png"></span>
				</div>

				<div class="checkboxtotaldiv-text" ng-class="">-{{alcoholCart.getCouponDiscount() | pricingTxt}}</div>
			</div>
			
			<div class="checkboxtotaldiv-middle-first" ng-if="alcoholCart.$cart.delivery.type==0 && alcoholCart.$cart.service.tempsurcharge">
				
				<div class="checkboxtotaldiv-title">10% PH Surcharge <span class="">
					<img src="images/questionimg.png"></span>
				</div>

				<div class="checkboxtotaldiv-text" ng-class="">{{(alcoholCart.$cart.payment.totalWithoutSur * 10/100) | pricingTxt}}</div>
			
			</div>
			
			

		</div>
	</div>
	<div class="checkboxtotaldiv-buttom">
		<div class="checkboxtotaldiv-title">Total</div>
		<div class="checkboxtotaldiv-text">{{alcoholCart.getCartTotal() | pricingTxt}}</div>
	</div>
</div>

<!-- Promotion view Starts-->
<div ui-view="promotions"></div>
<!-- Promotion view Ends-->

<div class="checkouterwantbuttonouter" ng-if="alcoholCart.deliveryApplicable">
	<div class="checkouterwantfirst">

		<button class="checkouterwantbutton" ng-class="{selected:cart.delivery.type==0}" ng-click="alcoholCart.setDeliveryType(0)">I want this order Now!</button>

		<span>
			<small ng-class="{'strike-txt-only':alcoholCart.expressDisable}">(Standard 1 hour delivery)</small>
			<small ng-if="alcoholCart.expressDisable"><br/>(Standard 2-3 hour delivery)</small>
		</span>

	</div>

	<div class="checkouterexprienceouter pos-realtive hide" ng-show="cart.delivery.type==0" ng-class="{'disabled':alcoholCart.expressDisable}">
		<span id="express-disable-note">Express delivery is not available if cart contain any gift packaging product</span>
		<div class="checkouterexpressdivleft checkbox-gray-top-first">
			<md-switch aria-label="express" ng-model="cart.service.express.status" ng-change="alcoholCart.setExpressStatus(cart.service.express.status)"></md-switch>

		</div>
		<div class="checkouterexpressdiv">
			<div class="checkouterexpresstitle">Express Delivery <span class="checkouterexpresstext">(Guaranteed 30 mins delivery)</span></div>
			
			<div class="checkouterexpresstext">{{cart.service.express.charges | pricingTxt}} surcharge applies. <a ui-sref="cmsLayout.terms-conditions">Terms &amp; Conditions</a> applies.</div>	
		</div>
	</div>

	<div class="checkouterwantfirst m-top-20 m-bottom-50">
		<button class="checkouterwantbutton" ng-class="{selected:cart.delivery.type==1}" ng-click="alcoholCart.setDeliveryType(1)">I want this order Later!</button>
		<span>(Scheduled delivery)</span>
	</div>

</div>

<div class="checkouterlastdiv">
	<div class="checkouterbackouter">
		<a class="checkouterback" ui-sref="mainLayout.index"><span><img src="images/order_history2backpic.png"></span>back to shopping</a>
		<button class="checkoutcheckoutnowbutton" ng-click="checkout($event)">Checkout Now</button>
	</div>
</div>
