<div ng-if="cart.payment.paymentres && cart.payment.paymentres.result!='Paid'" class="alert alert-danger">
  <strong>Payment {{cart.payment.paymentres.result}}</strong> 
</div>
<div class="div_pleas_chose_time_text">Please choose a payment method from below</div>
<div class="cover_creadetcard_cashdiv">
	<div class="cover_cashdiv_left paymenttype" ng-click="payment.method='COD'" ng-class="{active:payment.method=='COD'}">
		<div class="pic_divcash">
			<div class="verticetnter2">
				<img src="images/cashondelivery.png">				
			</div>
		</div>
		<div class="divcash_text">Cash on Delivery</div>
		<img src="images/activepaytype.png" class="hidethumb">
	</div>
	<div class="cover_creadetcard_right paymenttype" id="cardopt" ng-click="payment.method='CARD';" ng-class="{active:payment.method=='CARD'}">
		<div class="pic_creadetcard">
			<div class="verticetnter">
				<img src="images/creaditcardpay.png">
			</div>
		</div>
		<div class="creadetcard_text">Credit Card</div>
		<img src="images/activepaytype.png" class="hidethumb">
	</div>
</div>
<div class="availablecards">
	<div paymentmode="true" payment="payment" creditCard="payment.creditCard" ng-show="payment.method=='CARD'" user-cards></div>
</div>
<div class="checkouterlastdiv">
<div class="checkouterbackouter2"> <a class="checkouterback2" ui-sref="mainLayout.checkout.delivery"><span><img src="images/order_history2backpic.png"></span>back</a>
<button class="checkoutcheckoutnowbutton2" ng-click="proceedReview()">Next<span><img src="images/leftarrowpic.png"></span></button>
</div>
</div>
<!-- <pre>{{payment|json}}</pre> -->