
			<div class="checkoutstep5-mid-top">
			<div class="row">
			 <div class="col-md-7 col-sm-6 col-xs-12 checkoutstep5-mid-left">
				 <div class="checkoutstep5-left-first">
					 <div class="checkoutstep5-left-first-left">
						 <div class="checkoutstep5-left-first-lefttext">Delivery Address</div>
						 <div class="checkoutstep5-left-first-lefttitle">						 							 	
						 	<span ng-bind="address.detail.house"></span> 
						 	<span ng-bind="address.detail.HBRN"></span>, 
						 	<div ng-if="address.detail.FLOOR || address.detail.FLOOR">
								<span ng-if="address.detail.FLOOR">#{{address.detail.FLOOR}} - </span> <span ng-if="address.detail.UNIT">{{address.detail.UNIT}}</span>
							</div>
						 	Singapore - <span ng-bind="address.detail.PostalCode"></span>						 	
						 </div>
					 </div>
					 <a class="checkoutstep5-left-edit" ui-sref="mainLayout.checkout.address"><img src="images/checkoutstep5-editimg.png"></a>
				 </div>
				 <div class="checkoutstep5-left-first" ng-if="cart.delivery.type==1">
					 <div class="checkoutstep5-left-first-left">
						 <div class="checkoutstep5-left-first-lefttext">Delivery Time</div>
						 <div class="checkoutstep5-left-first-lefttitle">{{daySlug}}, between {{slotslug}}</div>
					 </div>
					 <a class="checkoutstep5-left-edit" ui-sref="mainLayout.checkout.delivery"><img src="images/checkoutstep5-editimg.png"></a>
				 </div>
				 <div class="checkoutstep5-left-first">
					 <div class="checkoutstep5-left-first-left">
						 <div class="checkoutstep5-left-first-lefttext">Payment</div>
						 <div class="checkoutstep5-left-first-lefttitle">
							{{(cart.payment.method == 'COD')?'Cash on delivery':''}}
						 </div>

						 <div ng-if="cart.payment.method == 'CARD'" class="orhistry2_td2procdtcvr">
	                        {{selectedcard = cart.payment.creditCard;''}}
	                        <span ng:class="selectedcard.type" class="newcardicons"></span>
	                        <div class="checkouter-td-right-text">
	                            <div class="orhistry2_td2proctext1">{{selectedcard.token_id | creditcard}}</div>
	                            <div class="orhistry2_td2proctext2">{{selectedcard.type}}</div>
	                        </div>  
	                    </div>

					 </div>
					 <a class="checkoutstep5-left-edit" ui-sref="mainLayout.checkout.payment"><img src="images/checkoutstep5-editimg.png"></a>
				 </div>
				 <div class="checkoutstep5-left-first">
					 <div class="checkoutstep5-left-first-left">

						 <div class="checkoutstep5-left-first-lefttext">Delivery mode</div>
						 
						 <div class="checkoutstep5-left-first-lefttitle" ng-if="cart.delivery.type==0">

						 	<span ng-if="cart.service.express.status">Express Delivery</span>
						 	<span ng-if="!cart.service.express.status">Standard 1 hour Delivery</span>

						 	<span class=""><img src="images/questionimg.png"></span>
						 </div>
						 <div class="checkoutstep5-left-first-lefttitle" ng-if="cart.delivery.type==1">Advance Delivery<span class=""><img src="images/questionimg.png"></span></div>

					 </div>
					 <a class="checkoutstep5-left-edit" ui-sref="mainLayout.checkout.cart"><img src="images/checkoutstep5-editimg.png"></a>
				 </div>
			 </div>
				<div class="col-md-5 col-sm-6 col-xs-12 checkoutstep5-mid-right">
					<div class="checkboxtotaldiv">
						<button class="checkoutstep5-mid-button" ng-click="orderConfirm()">Confirm Order <i class="glyphicon glyphicon-menu-right"></i></button>
						<div class="checkoutstep5right-middle ">
							<div class="checkoutstep5right-middle-first">
								<div class="checkoutstep5right-middle-title">Subtotal <span class=""></span></div>
								<div class="checkboxtotaldiv-text-font-size">{{alcoholCart.getSubTotal() | currency:settings.general.currency:2}}</div>
							</div>
							<div class="checkoutstep5right-middle-first">
								<div class="checkoutstep5right-middle-title">Delivery Charge <span class=""><img src="images/questionimg.png"></span></div>
								
								<div class="checkboxtotaldiv-text-font-size" ng-if="!cart.delivery.charges">Free</div>
		<div class="checkboxtotaldiv-text-font-size" ng-if="cart.delivery.charges>0">{{alcoholCart.getDeliveryCharges() | currency:settings.general.currency:2 }}</div>
							</div>
							<div class="checkoutstep5right-middle-first">
								<div class="checkoutstep5right-middle-title">Service Charge <span class=""><img src="images/questionimg.png"></span></div>
								<div class="checkboxtotaldiv-text-font-size">{{alcoholCart.getAllServicesCharges() | currency:settings.general.currency:2}}</div>
							</div>
							<div class="checkoutstep5right-middle-first">
								<div class="checkoutstep5right-middle-title" >Discount (Non-Chilled) <span class=""><img src="images/questionimg.png"></span></div>
								<div class="checkboxtotaldiv-text-font-size" ng-class="{txtcross:!cart.nonchilled}">-{{alcoholCart.getDiscount() | currency:settings.general.currency:2}}</div>
							</div>
						</div>
						<div class="checkoutstep5right-buttom">
							<div class="checkoutstep5right-bottom-title">Total</div>
							<div class="checkboxtotaldiv-text-botm-text">{{alcoholCart.getCartTotal() | currency:settings.general.currency:2}}</div>
						</div>
					</div>
				</div>
			</div> 
		 </div>
				<div class="checkoutmiddletable"> 
				<div class="chekoutstep5-table-title">Items to be Delivered</div>  
                <div class="reviewtable-cover">      
                <div class="table-responsive">  
                
				<!-- <table class="table cart-table">          
					<tbody>
						<tr ng-repeat-start="(key, cartproduct) in alcoholCart.getProducts()"></tr>
						<tr ng-repeat="type in ['qChilled','qNChilled']" ng-if="cartproduct[type]>0">
							
							<td width="52%">
								
								<span ng-if="(cartproduct.onlyForAdvance && cart.delivery.type==0) || cartproduct.isNotAvailable" class="cart-alert">!
								<md-tooltip class="cart-alert-tooltip" md-direction="top" >Sorry! This item is either out of stock, or unavailable for the quantity or delivery time selected.</md-tooltip></span>

								<div class="orhistry2_td2procdtcvr">
									<span ui-sref="mainLayout.product({product:cartproduct.product._id})" class="cursor-pointer"><img err-pro-src="" ng-src="products/i/200/{{cartproduct.product.imageFiles[0].source}}" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=Image" alt="" class="img-responsive" /></span>

									<div class="checkouter-td-right-text">
										<div class="orhistry2_td2proctext1">{{cartproduct.product.name}}</div>
										<div class="orhistry2_td2proctext2">{{cartproduct.product.shortDescription}}</div>
										<div class="orhistry2_td2proctext1">{{settings.general.currency}} {{cartproduct.unitPrice}}</div>
										<div class="orhistry2_td2proctext2">unit Price</div>
								 	</div> 

								</div>

							</td>
							<td width="131px">
								<div class="prod_chilled" ng-class="{
																		notchilled:!cartproduct[type+'Status'],
																		invisible:!cartproduct.product.chilled || cart.nonchilled,
																		
																	}"
																	ng-click="alcoholCart.updateChilledStatus(cartproduct._id,type)">
									<span>Chilled</span>
									<div class="prod_chilled_icon"></div>
								</div>
									
							</td>
							<td>
								<div class="checkoutmiddlevlauediv">
								
									<input type="text" ng-model="cartproduct[type]" value="cartproduct[type]" min="0" mquantity="cartproduct[type+'Max']" ng-touch-spin on-increment="addtocart(cartproduct.product._id,type)" on-decrement="addtocart(cartproduct.product._id,type)">
									
								</div>
							</td>
							<td>
								<div class="orderhistry2price">{{cartproduct.discountedUnitPrice * cartproduct[type] | currency:settings.general.currency:2}}</div>
							</td>
							
						</tr>
						<tr ng-repeat-end></tr>

						<tr ng-repeat="(key, package) in alcoholCart.getPackages()">
						
							<td width="52%">
							
								<div class="orhistry2_td2procdtcvr" ui-sref="mainLayout.packages({type:package.original.type==2?'cocktail':'party'})">
									<span><img err-pro-src="" ng-src="packages/i/{{package.original.coverImage.source}}" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=Image" alt="" class="img-responsive" /></span>


									<div class="checkouter-td-right-text">
										<div class="orhistry2_td2proctext1">{{package._name}}</div>
										<div class="orhistry2_td2proctext2">{{package.original.description}}</div>
										<div class="orhistry2_td2proctext1">{{settings.general.currency}} {{package.original.packagePrice}}</div>
										<div class="orhistry2_td2proctext2">unit Price</div>
								 	</div> 
								</div>
							</td>
							<td>					
							</td>
							<td>

								<div class="checkoutmiddlevlauediv">

									<input type="text" ng-model="package._quantity" value="package._quantity" min="0" mquantity="package._maxquantity" ng-touch-spin on-increment="alcoholCart.addPackage(package._id,package.original)" on-decrement="alcoholCart.addPackage(package._id,package.original)">
									
								</div>
							</td>
							<td>
								<div class="orderhistry2price">{{package._price | currency:settings.general.currency:2}}</div>
							</td>
							<td> 
								<a class="checkoutmiddletabledeleteimg" ng-click="removepackage(package._uniqueId)"><i class="glyphicon glyphicon-trash"></i></a>
							</td>
						</tr>
						
						<tr ng-repeat="(key, giftCard) in alcoholCart.getGiftCards()">

							<td width="52%">

								<div class="orhistry2_td2procdtcvr">
									<span>
										{{giftCard.recipient.price | pricingTxt}}
									</span>

									<div class="checkouter-td-right-text">
										<div class="orhistry2_td2proctext1">{{giftCard.recipient.name}}</div>
										<div class="orhistry2_td2proctext2">{{giftCard.recipient.message}}</div>
										<div class="orhistry2_td2proctext1">{{giftCard.recipient.price | pricingTxt}}</div>
										<div class="orhistry2_td2proctext2">unit Price</div>
									</div> 
								</div>
							</td>
							<td></td>
							<td>

								<div class="checkoutmiddlevlauediv">

									<input type="text" ng-model="giftCard.recipient.quantity" value="giftCard.recipient.quantity" min="0" mquantity="100" ng-touch-spin on-increment="updateGiftCard(giftCard.getUniqueId())" on-decrement="updateGiftCard(giftCard.getUniqueId())">

								</div>
							</td>
							<td>
								<div class="orderhistry2price">{{giftCard.getPrice() | pricingTxt}}</div>
							</td>
						</tr>

						<tr ng-repeat="(key, promotion) in alcoholCart.getPromotions()">
						
							<td width="52%">
							
								<div class="orhistry2_td2procdtcvr">
									<span ui-sref="mainLayout.product({product:promotion.product._id})" class="cursor-pointer"><img err-pro-src="" ng-src="products/i/200/{{promotion.product._image}}" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=Image" alt="" class="img-responsive" /></span>

									<div class="checkouter-td-right-text">
										<div class="orhistry2_td2proctext1">{{promotion.product._title}}</div>
										<div class="orhistry2_td2proctext2">{{promotion.product.description}}</div>						
										<div class="orhistry2_td2proctext2">({{promotion._title}})</div>
								 	</div> 
								</div>
							</td>
							<td></td>
							<td></td>
							<td>
								<div class="orderhistry2price">{{promotion.product._price | pricingTxt:true}}</div>
							</td>
							
						</tr>


						
					</tbody>
				</table>
 -->
                </div>
                </div>
				</div>  



				<div class="checkoutstep5-mid-button-outer">
				
				<a class="checkouterback2" ui-sref="mainLayout.checkout.payment"><span><img src="images/order_history2backpic.png"></span>BACK</a>				
				
				<button class="checkoutstep5-mid-button" ng-click="orderConfirm()">Confirm Order <i class="glyphicon glyphicon-menu-right"></i></button>
				
				</div>
<payment-form></payment-form>		
