
			<div class="checkoutstep5-mid-top">
			<div class="row">
			 <div class="col-md-7 col-sm-6 col-xs-12 checkoutstep5-mid-left">
				 <div class="checkoutstep5-left-first">
					 <div class="checkoutstep5-left-first-left">
						 <div class="checkoutstep5-left-first-lefttext">Delivery Address</div>
						 <div class="checkoutstep5-left-first-lefttitle">
						 	<span ng-if="address.detail.street">{{address.detail.street}},</span>
						 	<span ng-if="address.detail.house">{{address.detail.house}},</span>
						 	<span ng-if="address.detail.postal">{{address.detail.postal}}</span>
						 </div>
					 </div>
					 <a class="checkoutstep5-left-edit" ui-sref="mainLayout.checkout.address"><img src="images/checkoutstep5-editimg.png"></a>
				 </div>
				 <div class="checkoutstep5-left-first" ng-if="cart.delivery.type==1">
					 <div class="checkoutstep5-left-first-left">
						 <div class="checkoutstep5-left-first-lefttext">Delivery Time</div>
						 <div class="checkoutstep5-left-first-lefttitle">{{daySlug}}, between {{slotslug}}</div>
					 </div>
					 <a class="checkoutstep5-left-edit" ui-sref="mainLayout.checkout.delivery"><img src="images/checkoutstep5-editimg.png"></a>
				 </div>
				 <div class="checkoutstep5-left-first">
					 <div class="checkoutstep5-left-first-left">
						 <div class="checkoutstep5-left-first-lefttext">Payment</div>
						 <div class="checkoutstep5-left-first-lefttitle">Cash on Delivery</div>
					 </div>
					 <a class="checkoutstep5-left-edit" ui-sref="mainLayout.checkout.payment"><img src="images/checkoutstep5-editimg.png"></a>
				 </div>
				 <div class="checkoutstep5-left-first">
					 <div class="checkoutstep5-left-first-left">
						 <div class="checkoutstep5-left-first-lefttext">Delivery mode</div>
						 
						 <div class="checkoutstep5-left-first-lefttitle" ng-if="cart.delivery.type==0">Express Delivery<span class=""><img src="images/questionimg.png"></span></div>
						 <div class="checkoutstep5-left-first-lefttitle" ng-if="cart.delivery.type==1">Advance Delivery<span class=""><img src="images/questionimg.png"></span></div>

					 </div>
					 <a class="checkoutstep5-left-edit" ui-sref="mainLayout.checkout.cart"><img src="images/checkoutstep5-editimg.png"></a>
				 </div>
			 </div>
				<div class="col-md-5 col-sm-6 col-xs-12 checkoutstep5-mid-right">
					<div class="checkboxtotaldiv">
						<button class="checkoutstep5-mid-button" ng-click="orderConfirm()">Confirm Order <i class="glyphicon glyphicon-menu-right"></i></button>
						<div class="checkoutstep5right-middle ">
							<div class="checkoutstep5right-middle-first">
								<div class="checkoutstep5right-middle-title">Subtotal <span class=""></span></div>
								<div class="checkboxtotaldiv-text">{{cart.subtotal | currency:settings.general.currency:2}}</div>
							</div>
							<div class="checkoutstep5right-middle-first">
								<div class="checkoutstep5right-middle-title">Delivery Charge <span class=""><img src="images/questionimg.png"></span></div>
								<div class="checkboxtotaldiv-text">FREE</div>
							</div>
							<div class="checkoutstep5right-middle-first">
								<div class="checkoutstep5right-middle-title">Service Charge <span class=""><img src="images/questionimg.png"></span></div>
								<div class="checkboxtotaldiv-text">{{cart.service.total | currency:settings.general.currency:2}}</div>
							</div>
							<div class="checkoutstep5right-middle-first">
								<div class="checkoutstep5right-middle-title" >Discount (Non-Chilled) <span class=""><img src="images/questionimg.png"></span></div>
								<div class="checkboxtotaldiv-text" ng-class="{txtcross:!cart.nonchilled}">-{{services.chilled | currency:settings.general.currency:2}}</div>
							</div>
						</div>
						<div class="checkoutstep5right-buttom">
							<div class="checkoutstep5right-bottom-title">Total</div>
							<div class="checkoutstep5right-bottom-text">{{cart.total | currency:settings.general.currency:2}}</div>
						</div>
					</div>
				</div>
			</div> 
		 </div>
				<div class="checkoutmiddletable"> 
				<div class="chekoutstep5-table-title">Items to be Delivered</div>          
				<table class="table">
				
				
				<tbody>
					<tr ng-repeat="(key, cartproduct) in cart.products">
						<td width="52%"> 
							<div class="orhistry2_td2procdtcvr">
								<span><img err-pro-src="" ng-src="products/i/200/{{cartproduct.product.imageFiles[0].source}}" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=Image" alt="" class="img-responsive" /></span>
								<div class="checkouter-td-right-text">
									<div class="orhistry2_td2proctext1">{{cartproduct.name}}</div>
									<div class="orhistry2_td2proctext2">{{cartproduct.product.shortDescription}}</div>
									<div class="orhistry2_td2proctext1">{{settings.general.currency}} {{cartproduct.product.price}}</div>
									<div class="orhistry2_td2proctext2">unit Price</div>
							 	</div> 
							</div>
						</td>
						<td>
								<div class="prod_chilled" ng-show="!cart.nonchilled" ng-class="{notchilled:!cartproduct.chilled,invisible:!cartproduct.product.chilled}" ng-click="cartproduct.chilled=!cartproduct.chilled">
									<span>Chilled</span>
									<div class="prod_chilled_icon"></div>
								</div>

								<!-- <div class="orderhistrychilcvr">
									<span1><img src="images/product13.png"></span1><span>CHILLED</span>
								</div> -->
						</td>
						<td>						
							<div class="checkoutmiddlevlauediv">

								<input type="text" ng-model="cartproduct.quantity" value="cartproduct.quantity" min="0" max="{{cartproduct.product.quantity}}" ng-touch-spin on-increment="addtocart(cartproduct.product._id)" on-decrement="addtocart(cartproduct.product._id)">
								
							</div>
						</td>
						<td>
							<div class="orderhistry2price">{{cartproduct.finalprice | currency:settings.general.currency:2}}</div>
							
						</td>						
					</tr>
				</tbody>
				</table>
				</div>  



				<div class="checkoutstep5-mid-button-outer">
				
				<a class="checkouterback2" ui-sref="mainLayout.checkout.payment"><span><img src="images/order_history2backpic.png"></span>back</a>				
				
				<button class="checkoutstep5-mid-button" ng-click="orderConfirm()">Confirm Order <i class="glyphicon glyphicon-menu-right"></i></button>
				
				</div>
		