<div class="row" ng-controller="ProductAddController">
	<div class="col-md-12">
		<form role="form" name='productForm' ng-submit="store()" required="false">
		<div class="portlet light">			
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-shopping-cart"></i>{{product._id?'Edit ':'Add New '}}Product
				</div>
				<div class="actions btn-set">
					<a class="btn default" ui-sref="userLayout.products.list"><i class="fa fa-angle-left"></i> Back</a>
					<button ng-disabled="loading" class="btn green" type="submit"><i class="fa fa-check"></i> {{product._id?'Update':'Save'}}</button>					
				</div>
			</div>
			<div class="portlet-body">				
				<tabset active="active">
					<tab>
						<tab-heading>General</tab-heading>

						<div class="form-horizontal">
							<div class="form-group" ng:class="{'has-error':errors.name[0]}">
								<label class="col-md-2 control-label">Name: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="text" class="form-control" ng-model="product.name" placeholder="">
									<span class="help-block" ng-bind="errors.name[0]"></span>
								</div>

							</div>

							<div class="form-group" ng:class="{'has-error':errors.slug[0]}">
								
								<label class="col-md-2 control-label">slug: <span class="required">*</span></label>
								<div class="col-md-10">
									<slug from="product.name" to="product.slug"></slug>
									<input type="text" class="form-control" ng-model="product.slug" placeholder="Slug" disabled="true">
									<span class="help-block" ng-bind="errors.slug[0]"></span>
								</div>

							</div>

							<div class="form-group" ng:class="{'has-error':errors.description[0]}">
								<label class="col-md-2 control-label">Description: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<textarea class="form-control" ng-model="product.description"></textarea>
									<span class="help-block" ng-bind="errors.description[0]"></span>
								</div>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.shortDescription[0]}">
								<label class="col-md-2 control-label">Short Description: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<textarea class="form-control" ng-model="product.shortDescription" style="margin-top: 0px; margin-bottom: 0px; height: 54px;"></textarea>
									<span class="help-block" ng-bind="errors.shortDescription[0]"></span>
								</div>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.categories[0]}">
								<label class="col-md-2 control-label">Categories: <span class="required">
								* </span>
								</label>
								<div class="col-md-10" >
									<!-- {{product.categories}} -->
									<select class="form-control" ng-model="product.categories" ng-options="obj.id as obj.name | ucwords for obj in cd" ng-change="selectCategory()">
										<option value="">Select..</option>
									</select>
									<!-- <div class="form-control height-auto" id="checkable">
										<div class="slimScrollDiv" style="overflow: auto; width: auto; height: 275px;">
											<ul class="list-unstyled" ng-include="'categoryLiTree'"></ul>

										</div>
									</div> 
									<span class="help-block">
									select one or more categories </span>-->
									<span class="help-block" ng-bind="errors.categories[0]"></span>
								</div>
							</div>							
							<div class="form-group" ng:class="{'has-error':errors.sku[0]}">
								<label class="col-md-2 control-label">SKU: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="text" class="form-control" ng-model="product.sku" placeholder="">
									<span class="help-block" ng-bind="errors.sku[0]"></span>
								</div>
							</div>
							
							
							<div class="form-group" ng:class="{'has-error':errors.quantity[0]}">
								<label class="col-md-2 control-label">Quantity: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="number" min="0" class="form-control" ng-model="product.quantity" placeholder="">									
									<span class="help-block">(in stock)</span>
									<span class="help-block" ng-bind="errors.quantity[0]"></span>
								</div>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.status[0]}">
								<label class="col-md-2 control-label">Avail for order : <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<select class="table-group-action-input form-control input-medium" ng-model="product.deliveryType">
										<option value="0">Both</option>
										<option value="1">Express</option>
										<option value="2">Advanced</option>
									</select>
									<span class="help-block" ng-bind="errors.status[0]"></span>
								</div>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.outOfStockType[0]}">
								<label class="col-md-2 control-label">Out of Stock Status: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<select ng-options="data.id as data.label for data in outOfStockType" class="form-control" ng-model="product.outOfStockType">
									</select>									
									<span class="help-block">(status shown when a product is out of stock)</span>
									<span class="help-block" ng-bind="errors.outOfStockType[0]"></span>
								</div>
							</div>

							<div ng-show="product.outOfStockType==2" class="form-group" >
								<label class="col-md-2 control-label">Set Availability: <span class="required">
								* </span>
								</label>
								<div class="col-md-2" ng:class="{'has-error':errors.availabilityDays[0]}">
									<input type="number" min="1" class="form-control" ng-model="product.availabilityDays" placeholder="Days">
									<span class="help-block">Days</span>
									<span class="help-block" ng-bind="errors.availabilityDays[0]"></span>
								</div>
								<div class="col-md-2">
									<select ng-options="fop.opVal as fop.opTag for fop in getTimeOptions()" class="form-control" ng-model="product.availabilityTime">
									</select>	
									<span class="help-block">Time</span>
									<span class="help-block" ng-bind="errors.availabilityTime[0]"></span>
								</div>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.threshold[0]}">
								<label class="col-md-2 control-label">Re-order threshold: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="number" min="1" class="form-control" ng-model="product.threshold" placeholder="">									
									<span class="help-block" ng-bind="errors.threshold[0]"></span>
								</div>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.maxQuantity[0]}">
								<label class="col-md-2 control-label">Maximum Quantity: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="number" min="1" class="form-control" ng-model="product.maxQuantity" placeholder="">									
									<span class="help-block">(in stock)</span>
									<span class="help-block" ng-bind="errors.maxQuantity[0]"></span>
								</div>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.dealers[0]}">
								<label class="col-md-2 control-label">Select Dealer: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<select ng-options="d._id as d.title for d in dealerlist" class="form-control" ng-model="product.dealers" multiple="">
									</select>							
									<span class="help-block">(in stock)</span>
									<span class="help-block" ng-bind="errors.dealers[0]"></span>
								</div>
							</div>							

							

							<div class="form-group">
								<label class="control-label col-md-2">Chilled/Non-chilled <span class="required" aria-required="true">
								* </span></label>
								<div class="col-md-4">
								
								<div class="radio-list">
									<label class="radio-inline">
									<input plugin-uniform ng-model="product.chilled" type="radio" value="1" name="chilled"> Yes </label>
									<label class="radio-inline">
									<input plugin-uniform ng-model="product.chilled" type="radio" value="0" name="chilled"> No </label>
								</div>

								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-md-2">Is Featured<span class="required" aria-required="true">
								* </span></label>
								<div class="col-md-4">
								
									<div class="radio-list">
										<label class="radio-inline">
										<input plugin-uniform ng-model="product.isFeatured" type="radio" value="1" name="isFeatured"> Yes </label>
										<label class="radio-inline">
										<input plugin-uniform ng-model="product.isFeatured" type="radio" value="0" name="isFeatured"> No </label>
									</div>

								</div>
							</div>

							

							<div class="form-group" ng:class="{'has-error':errors.status[0]}">
								<label class="col-md-2 control-label">Status: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<select class="table-group-action-input form-control input-medium" ng-model="product.status">
										<option value="">Select...</option>
										<option value="1">Published</option>
										<option value="0">Not Published</option>
									</select>
									<span class="help-block" ng-bind="errors.status[0]"></span>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-2">Is Loyalty Product<span class="required" aria-required="true">
								* </span></label>
								<div class="col-md-4">
								
									<div class="radio-list">
										<label class="radio-inline">
										<input plugin-uniform ng-model="product.isLoyalty" type="radio" value="1"> Yes </label>
										<label class="radio-inline">
										<input plugin-uniform ng-model="product.isLoyalty" type="radio" value="0"> No </label>
									</div>

								</div>
							</div>


							<div class="form-group" ng:class="{'has-error':errors.loyaltyValueType[0]}" ng-show="product.isLoyalty==1">

								<label class="col-md-2 control-label">Loyalty Points Type:<span class="required">*</span>
								</label>
								<div class="col-md-10">
									<div class="row">
																		
									<div class="col-sm-10">
										<div class="row">
											<div class="col-sm-8">
											<select class="form-control" ng-model="product.loyaltyValueType">
												<option value="">----Select Type----</option>
												<option value="0">fixed Points</option>
												<option value="1">Partial (point + $)</option>
											</select>
											</div>
										</div>

										<div class="row" ng-show="product.loyaltyValueType">
										<br>
											<div class="col-sm-4" ng:class="{'has-error':errors.loyaltyValuePoint[0]}">
												<span class="help-block">Points</span>
												<input type="number" min="0" class="form-control" ng-model="product.loyaltyValuePoint" placeholder="loyalty points">
												<span class="help-block" ng-bind="errors.loyalty[0]"></span>
											</div>
										
											<div class="col-sm-4" ng-show="product.loyaltyValueType == 1">
											<span id="loyaltyValuePriceAdd">+</span>
												<span class="help-block">price</span>
												<input type="number" min="0" class="form-control" ng-model="product.loyaltyValuePrice" placeholder="amount">
											</div>

										</div>
									</div>

									</div>
									<div class="row">
									<div class="col-sm-12">
										<span class="help-block">Loyalty points or price or both required to purhcase product</span>	
										<span class="help-block" ng-bind="errors.loyaltyValueType[0]"></span>									
									</div>
									</div>
									
								</div>
							</div>
							

							<div class="form-group" ng:class="{'has-error':errors.loyalty[0]}">

								<label class="col-md-2 control-label">Loyalty Value:<span class="required">*</span>
								</label>
								<div class="col-md-10">
									<div class="row">
									<div class="col-sm-2">
										<input type="number" min="0" class="form-control" ng-model="product.loyalty" placeholder="loyalty points">
									</div>
									
									<div class="col-sm-2">
									<div class="row">
										<select class="form-control" ng-model="product.loyaltyType">
											<option value="0">% of price</option>
											<option value="1">Points</option>
										</select>
									</div>
									</div>

									</div>
									<div class="row">
									<div class="col-sm-12">
										<span class="help-block">Loyalty points to be given on product purhcase</span>
										<span class="help-block" ng-bind="errors.loyalty[0]"></span>
									</div>
									</div>
									
								</div>
							</div>
						</div>

					</tab>
					<tab>
						<tab-heading>Pricing</tab-heading>
						<div class="form-horizontal">
							<table class="table table-bordered">
						        <thead>
						            <tr>	
						            	<td class="control-label">
						            		<label class="control-label">Cost Price: <span class="required"> * </span></label>
						            	</td>					            	
						            	<td ng:class="{'has-error':errors.price[0]}" colspan="6">
						            		<div class="col-md-5">
							            		<div class="input-group">
													<input min="0" type="number" step="any" class="form-control" ng-model="product.price" placeholder="">									
													<span class="input-group-addon">
														Per Unit
													</span>
												</div>												
												<span class="help-block" ng-bind="errors.price[0]"></span>
											</div>
						            	</td>
						            </tr>
						            <tr role="row" class="heading">                        						                
						                <th width="14%">
						                     Name
						                </th>
						                <th width="14%">
						                     Markup Type
						                </th>                                   
						                <th width="14%">
						                     Value
						                </th>
						                <th width="14%">
						                     From Qty
						                </th>
						                <th width="14%">
						                     To Qty
						                     <br><small>Use 99999 for last range</small>
						                </th>
						                <th width="14%">
						                     Calculated	
						                     <br><small>(Per Unit)</small>
						                </th>
						                <th width="14%">
						                	Action
						                </th>
						            </tr>
						        </thead>
						        <tbody>					            
						            <tr><td colspan="7"><h4>Single Purchase</h4></td></tr>
						            <tr ng-if="price.category == 'pricing' && kp!='gift_packaging'" ng-repeat="(kp, price) in pricing.settings">						                
						                <td class="control-label"> 
						                	<label class="control-label">
						                		{{price.label}}: <span class="required"> * </span>
						                	</label>
						                </td>
						                <td>

						                	<label ng-if="product[kp] | isEmpty" class="control-label">

						                		{{ price.type==0 ? 'Fix Amount':'% of Amount' }}
						                	</label>						                	
						                	<select ng-if="!(product[kp] | isEmpty)" class="form-control" ng-model="product[kp].type">            
						                        <option value="0">Fix Amount</option>
						                        <option value="1">% of Amount</option>
						                    </select>							                
						                </td>
						                <td>
						                	<label ng-if="product[kp] | isEmpty" class="control-label">
						                		{{ price.value }}
						                	</label>
						                    <div ng-if="!(product[kp] | isEmpty)" ng:class="{'has-error':errors[kp+'.value'][0]}">
						                    	<input min="0" type="number" step="any" class="form-control" ng-model="product[kp].value" placeholder="">						                    
						                    	<span class="help-block" ng-bind="errors[kp+'.value'][0]"></span>
						                    </div>
						                </td>						                
						                <td colspan="2" align="center">
						                	<label class="control-label">N/A</label>
						                </td>
						                <td>
						                	<label ng-if="!(product[kp] | isEmpty)" class="control-label">
						                		{{ product[kp].type == 0 ? formatNumber(product.price+product[kp].value) : formatNumber(product.price+(product.price/100*product[kp].value)) }}
						                	</label>
						                    <label ng-if="product[kp] | isEmpty" class="control-label">
												{{ price.type==0 ? formatNumber(product.price+price.value) : formatNumber(product.price+(product.price/100*price.value)) }}
											</label>																							
						                </td>
						                <td> 
						                	<a class="btn btn-xs default" ng-if="product[kp] | isEmpty" href="javascript:void();" ng-click="edittier(kp,price,1)">Custom</a>
						                	<a class="btn btn-xs default" ng-if="!(product[kp] | isEmpty)" href="javascript:void();" ng-click="edittier(kp,price,0)">Default</a>
						                </td>
						            </tr>
						            <tr>
						            	<td colspan="7">
						            		<h4>Bulk Purchase
						            			<label class="pull-right control-label">
								            		 Disable bulk : <input plugin-uniform type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="product.bulkDisable"> 
								            	</label>
						            		</h4>
							            	
							            </td>
							        </tr>							        
						            <tr ng-if="price.category == 'bulk_pricing'" ng-repeat-start="(kp, price) in pricing.settings"></tr>
						           	
						            <tr ng-if="(product[kp] | isEmpty)" ng-hide="product.bulkDisable == 1" ng-repeat="(bk, slots) in price.bulk">                            
						                <td class="control-label" rowspan="{{price.bulk.length}}" ng-if="$index == 0">
						                	<label class="control-label">{{price.label}}: <span class="required"> * </span></label>
						                </td>
						                <td>
						                	<label class="control-label">
						                		{{ slots.type == 0 ? 'Fix Amount':'% of Amount' }}
						                	</label>						                	
						                </td>
						                <td>
						                    <label class="control-label">
						                		{{ slots.value }}
						                	</label>						                    
						                </td>
						                <td>
						                    <label class="control-label">
						                		{{ slots.from_qty }}
						                	</label>						                    
						                </td>
						                <td>
						                    <label class="control-label">
						                		{{ slots.to_qty }}
						                	</label>						                    
						                </td>
						                <td>	
						                	<label class="control-label">
						                		{{ slots.type==0 ? formatNumber(product.price+slots.value) : formatNumber(product.price+(product.price/100*slots.value)) }}
						                	</label>					                    						                    
						                </td>
						                <td>
						                	<a class="btn btn-xs default" ng-if="$index == 0" href="javascript:void();" ng-click="edittier(kp,price,1)">Custom</a>						                	
						                </td>
						            </tr>						            						            
						            
						            <tr ng-if="!(product[kp] | isEmpty)" ng-hide="product.bulkDisable == 1" ng-repeat="(bk, slots) in product[kp].bulk">                            
						                <td class="control-label" rowspan="{{product[kp].bulk.length}}" ng-if="$index == 0">
						                	<label class="control-label">{{product[kp].label}}: <span class="required"> * </span></label>
						                </td>
						                <td ng:class="{'has-error':errors[kp+'.bulk.'+bk+'.type'][0]}">						                							                	
						                	<select empty="false" class="form-control" ng-model="slots.type">            
						                        <option value="0">Fix Amount</option>
						                        <option value="1">% of Amount</option>
						                    </select>
						                    <span class="help-block" ng-bind="errors[kp+'.bulk.'+bk+'.type'][0]"></span>
						                </td>
						                <td ng:class="{'has-error':errors[kp+'.bulk.'+bk+'.value'][0]}">						                    
						                    <input min="1" type="number" step="any" class="form-control" ng-model="slots.value" placeholder="">
						                    <span class="help-block" ng-bind="errors[kp+'.bulk.'+bk+'.value'][0]"></span>
						                </td>
						                <td ng:class="{'has-error':errors[kp+'.bulk.'+bk+'.from_qty'][0]}">						                    
						                    <input min="1" type="number" class="form-control" ng-model="slots.from_qty" placeholder="From Qty">						                    
						                    <span class="help-block" ng-bind="errors[kp+'.bulk.'+bk+'.from_qty'][0]"></span>
						                </td>
						                <td ng:class="{'has-error':errors[kp+'.bulk.'+bk+'.to_qty'][0]}">						                   
						                    <input min="1" type="number" class="form-control" ng-model="slots.to_qty" placeholder="To Qty" max="99999">						                    
						                    <span class="help-block" ng-bind="errors[kp+'.bulk.'+bk+'.to_qty'][0]"></span>
						                </td>
						                <td>
						                    <label ng-if="!(product[kp] | isEmpty)" class="control-label">
												{{ slots.type == 0 ? formatNumber(product.price+slots.value) : formatNumber(product.price+(product.price/100*slots.value)) }}
											</label>																							
						                </td>
						                <td>						                	
						                	<a class="btn btn-xs default" ng-if="$index == 0" href="javascript:void();" ng-click="edittier(kp,price,0)">Default</a>
						                	<a class="btn btn-xs default" ng-if="product[kp].bulk.length < 4 && $index == 0" href="javascript:void();" ng-click="product[kp].bulk.push({type:0,value:null,from_qty:null,to_qty:null})">+</a>
						                	<a class="btn btn-xs default" ng-if="$index > 0" href="javascript:void();" ng-click="product[kp].bulk.splice($index,1)">Remove</a>
						                </td>
						            </tr>
						            
						            <tr ng-repeat-end ng-if="price.category == 'bulk_pricing'"></tr>

						        </tbody>
						    </table>						    
						</div>
					</tab>						
					<tab>
						<tab-heading>Meta</tab-heading>
						
						<div class="form-horizontal">
							<div class="form-group" ng:class="{'has-error':errors.metaTitle[0]}">
								<label class="col-md-2 control-label">Meta Title:</label>
								<div class="col-md-10">
									<input type="text" class="form-control maxlength-handler" ng-model="product.metaTitle" maxlength="100" placeholder="">
									<span class="help-block">
									max 100 chars </span>
									<span class="help-block" ng-bind="errors.metaTitle[0]"></span>
								</div>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.metaKeywords[0]}">
								<label class="col-md-2 control-label">Meta Keywords:</label>
								<div class="col-md-10">
									<textarea class="form-control maxlength-handler" rows="8" ng-model="product.metaKeywords" maxlength="1000"></textarea>
									<span class="help-block">
									max 1000 chars </span>
									<span class="help-block" ng-bind="errors.metaKeywords[0]"></span>
								</div>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.metaDescription[0]}">
								<label class="col-md-2 control-label">Meta Description:</label>
								<div class="col-md-10">
									<textarea class="form-control maxlength-handler" rows="8" ng-model="product.metaDescription" maxlength="255"></textarea>
									<span class="help-block">
									max 255 chars </span>
									<span class="help-block" ng-bind="errors.metaDescription[0]"></span>
								</div>
							</div>
						</div>
					</tab>
						
					<tab>
						<tab-heading>Images</tab-heading>

						<div ng-show="errors.imageFiles[0]" class="alert alert-danger fade in">
							<i class="fa-lg fa fa-warning"></i>
							{{ errors.imageFiles[0] }}
						</div>
						<div id="tab_images_uploader_container" class="text-align-reverse margin-bottom-10">
							<a id="tab_images_uploader_pickfiles" href="#" ng-click="product.imageFiles.push({})" class="btn yellow">
								<i class="fa fa-plus"></i> Add Images 
							</a>							
						</div>
						<div class="row">
							<div id="tab_images_uploader_filelist" class="col-md-6 col-sm-12">
							</div>
						</div>
						<table class="table table-bordered table-hover">
							<thead>
								<tr role="row" class="heading">
									<th width="8%">
										 Image
									</th>
									<th width="25%">
										 Label
									</th>
									<th width="8%">
										 Sort Order
									</th>
									<th width="10%">
										 Cover Image
									</th>									
									<th width="10%">
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="f in product.imageFiles">
									<td ng:class="{'has-error':errors['imageFiles.'+$index+'.thumb'][0]}">

										<div class="fileinput fileinput-new" data-provides="fileinput">
											<div class="fileinput-new thumbnail" style="max-width: 200px; max-height: 150px;">
												<img err-src="asset/i/defaultImage.png" 
												ng-src="products/i/200/{{f.source}}" src="asset/i/defaultImage.png" alt=""/>

											</div>
											<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
											</div>
											<div>
												<span class="btn default btn-file">
													<span class="fileinput-new">{{ f.source ? 'Change':'Select' }}</span>
													<span class="fileinput-exists">Change</span>
													<input type="file" placeholder="thumbnail" class="form-control" file-model="f.thumb"/>
												</span>	
											</div>
										</div>
										<span class="help-block" ng-bind="errors['imageFiles.'+$index+'.thumb'][0]"></span>
										
									</td>
									<td ng:class="{'has-error':errors['imageFiles.'+$index+'.label'][0]}">
										<input type="text" class="form-control" ng-model="f.label">
										<span class="help-block" ng-bind="errors['imageFiles.'+$index+'.label'][0]"></span>
									</td>
									<td ng:class="{'has-error':errors['imageFiles.'+$index+'.order'][0]}">
										<input type="text" class="form-control" ng-model="f.order">
										<span class="help-block" ng-bind="errors['imageFiles.'+$index+'.order'][0]"></span>
									</td>
									<td>
										<label>
											<input plugin-uniform type="radio" ng-model="f.coverimage" value="1" name="coverimage">
										</label>
									</td>									
									<td>
										<a href="#" class="btn default btn-sm" ng-click="imageRemove($index)">
										<i class="fa fa-times"></i> Remove </a>
									</td>
								</tr>
							</tbody>
						</table>
					</tab>
				</tabset>				
			</div>			
		</div>
		</form>
	</div>
</div>

<!-- <script type="text/ng-template" id="categoryLiTree">
	<li ng-repeat="c in childOf	(categories, parent)">
		<label><input type="checkbox" ng-model="c.selected" my-change="{{c._id}}">{{c.cat_title}}</label>
		<ul class="list-unstyled" ng-init="parent=c._id" ng-include="'categoryLiTree'"></ul>
	</li>	
</script> -->



<!-- <pre>{{ product|json }}</pre> -->
<!-- <pre>{{ cd|json }}</pre> -->

<!-- <pre>{{ pricing|json }}</pre>

<pre>{{ globalPricing|json }}</pre>
 -->

