<div class="row" ng-controller="ProductAddController">
	<div class="col-md-12">
		<form role="form" name='productForm' ng-submit="store()" required="false">
		<div class="portlet light">			
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-shopping-cart"></i>{{product._id?'Edit ':'Add New '}}Product
				</div>
				<div class="actions btn-set">
					<a class="btn default" ui-sref="userLayout.products.list"><i class="fa fa-angle-left"></i> Back</a>
					<button ng-disabled="loading" class="btn green" type="submit"><i class="fa fa-check"></i> {{product._id?'Update':'Save'}}</button>					
				</div>
			</div>
			<div class="portlet-body">				
				<tabset active="active">
					<tab>
						<tab-heading>General <span class="badge badge-danger" ng-if="taberr[0]">!</span></tab-heading>

						<div class="form-horizontal">
							<div class="form-group" ng:class="{'has-error':errors.name[0]}">
								<label class="col-md-2 control-label">Name: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="text" class="form-control" ng-model="product.name" placeholder="">
									<span class="help-block" ng-bind="errors.name[0]"></span>
								</div>

							</div>

							<div class="form-group hide" ng:class="{'has-error':errors.slug[0]}">
								
								<label class="col-md-2 control-label">Slug: <span class="required">*</span></label>
								<div class="col-md-10">
									<slug from="product.name" to="product.slug"></slug>
									<input type="text" class="form-control" ng-model="product.slug" placeholder="Slug" disabled="true">
									<span class="help-block" ng-bind="errors.slug[0]"></span>
								</div>

							</div>

							<div class="form-group" ng:class="{'has-error':errors.shortDescription[0]}">
								<label class="col-md-2 control-label">Short Description: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<textarea class="form-control" ng-model="product.shortDescription" style="margin-top: 0px; margin-bottom: 0px; height: 54px;"></textarea>
									<span class="help-block" ng-bind="errors.shortDescription[0]"></span>
								</div>
							</div>
							
							<div class="form-group" ng:class="{'has-error':errors.description[0]}">
								<label class="col-md-2 control-label">Description: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<textarea class="form-control" ng-model="product.description"></textarea>
									<span class="help-block" ng-bind="errors.description[0]"></span>
								</div>
							</div>
							
							
							<div class="form-group" ng:class="{'has-error':errors.categories[0]}">
								<label class="col-md-2 control-label">Categories: <span class="required">
								* </span>
								</label>
								<div class="col-md-10" >
									<!-- {{product.categories}} -->
									<select class="form-control" ng-model="product.categories" ng-options="obj.id as obj.name | ucwords for obj in cd" ng-change="selectCategory()">
										<option value="">Select..</option>
									</select>
									<!-- <div class="form-control height-auto" id="checkable">
										<div class="slimScrollDiv" style="overflow: auto; width: auto; height: 275px;">
											<ul class="list-unstyled" ng-include="'categoryLiTree'"></ul>

										</div>
									</div> 
									<span class="help-block">
									select one or more categories </span>-->
									<span class="help-block" ng-bind="errors.categories[0]"></span>
								</div>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.groupId[0]}">
								<label class="col-md-2 control-label">Group:
								</label>
								<div class="col-md-10" >									
									<select class="form-control" ng-model="product.groupId" ng-options="grpobj._id as grpobj.name | ucwords for grpobj in grouplist">
										<option value="">Select Group</option>
									</select>									
									<span class="help-block" ng-bind="errors.groupId[0]"></span>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-md-2">Chilled/Non-chilled <span class="required" aria-required="true">
								* </span></label>
								<div class="col-md-4">
								
								<div class="radio-list">
									<label class="radio-inline">
									<input plugin-uniform ng-model="product.chilled" type="radio" value="1" name="chilled"> Yes </label>
									<label class="radio-inline">
									<input plugin-uniform ng-model="product.chilled" type="radio" value="0" name="chilled"> No </label>
								</div>

								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-md-2">Is Featured<span class="required" aria-required="true">
								* </span></label>
								<div class="col-md-4">
								
									<div class="radio-list">
										<label class="radio-inline">
										<input plugin-uniform ng-model="product.isFeatured" type="radio" value="1" name="isFeatured"> Yes </label>
										<label class="radio-inline">
										<input plugin-uniform ng-model="product.isFeatured" type="radio" value="0" name="isFeatured"> No </label>
									</div>

								</div>
							</div>

							

							

							<div class="form-group">
								<label class="control-label col-md-2">Is Loyalty Product<span class="required" aria-required="true">
								* </span></label>
								<div class="col-md-4">
								
									<div class="radio-list">
										<label class="radio-inline">
										<input plugin-uniform ng-model="product.isLoyalty" type="radio" value="1"> Yes </label>
										<label class="radio-inline">
										<input plugin-uniform ng-model="product.isLoyalty" type="radio" value="0"> No </label>
									</div>

								</div>
							</div>


							<div class="form-group" ng:class="{'has-error':errors.loyaltyValueType[0]}" ng-show="product.isLoyalty==1">

								<label class="col-md-2 control-label">Loyalty Points Type:<span class="required">*</span>
								</label>
								<div class="col-md-10">
									<div class="row">
																		
									<div class="col-sm-10">
										<div class="row">
											<div class="col-sm-8">
											<select class="form-control" ng-model="product.loyaltyValueType">
												<option value="-1">----Select Type----</option>
												<option value="0">Fixed Points</option>
												<option value="1">Partial (point + $)</option>
											</select>
											</div>
										</div>

										<div class="row" ng-show="product.loyaltyValueType == 0  || product.loyaltyValueType == 1">
											<br>
											<div class="col-sm-4" ng:class="{'has-error':errors.loyaltyValuePoint[0]}">
												<span class="help-block">Points</span>
												<input type="number" min="0" class="form-control" ng-model="product.loyaltyValuePoint" placeholder="loyalty points">
												<span class="help-block" ng-bind="errors.loyaltyValuePoint[0]"></span>
											</div>
										
											<div class="col-sm-4" ng-show="product.loyaltyValueType == 1" ng:class="{'has-error':errors.loyaltyValuePrice[0]}">
												<span id="loyaltyValuePriceAdd">+</span>
												<span class="help-block">price</span>
												<input type="number" min="0" step="any" class="form-control" ng-model="product.loyaltyValuePrice" placeholder="amount">
												<span class="help-block" ng-bind="errors.loyaltyValuePrice[0]"></span>
											</div>

										</div>
									</div>

									</div>
									<div class="row">
									<div class="col-sm-12">
										<span class="help-block">Loyalty points or price or both required to purhcase product</span>	
										<span class="help-block" ng-bind="errors.loyaltyValueType[0]"></span>									
									</div>
									</div>
									
								</div>
							</div>
							

							<div class="form-group" ng:class="{'has-error':errors.loyalty[0]}">

								<label class="col-md-2 control-label">Loyalty Value:<span class="required">*</span>
								</label>
								<div class="col-md-10">
									<div class="row">
									<div class="col-sm-2">
										<input type="number" step=".1" min="0" class="form-control" ng-model="product.loyalty" placeholder="loyalty points">
									</div>
									
									<div class="col-sm-2">
									<div class="row">
										<select class="form-control" ng-model="product.loyaltyType">
											<option value="0">% of price</option>
											<option value="1">Points</option>
										</select>
									</div>
									</div>

									</div>
									<div class="row">
									<div class="col-sm-12">
										<span class="help-block">Loyalty points to be given on product purhcase</span>
										<span class="help-block" ng-bind="errors.loyalty[0]"></span>
									</div>
									</div>
									
								</div>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.status[0]}">
								<label class="col-md-2 control-label">Status: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<select class="table-group-action-input form-control input-medium" ng-model="product.status">
										<option value="">Select...</option>
										<option value="1">Published</option>
										<option value="0">Not Published</option>
									</select>
									<span class="help-block" ng-bind="errors.status[0]"></span>
								</div>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.newTagDuration[0]}">
								<label class="col-md-2 control-label">New Tag Duration: <span class="required"> * </span></label>
								<div class="col-md-10">
									<input type="number" class="form-control input-medium" ng-model="product.newTagDuration" placeholder="(In Days)">
									<span class="help-block" ng-bind="errors.newTagDuration[0]"></span>
								</div>
							</div>

						</div>

					</tab>
					<tab>
					<tab-heading>Stock <span class="badge badge-danger" ng-if="taberr[1]">!</span></tab-heading>
						<div class="form-horizontal">
							
							<div class="form-group" ng:class="{'has-error':errors.sku[0]}">
								<label class="col-md-2 control-label">SKU: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="text" class="form-control  input-medium" ng-model="product.sku" placeholder="">
									<span class="help-block" ng-bind="errors.sku[0]"></span>
								</div>
							</div>					

							<div class="form-group" ng:class="{'has-error':errors['store.quantity'][0]}">
								<label class="col-md-2 control-label">Quantity: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="number" min="0" class="form-control input-medium" ng-model="product.store.quantity" placeholder="">									
									<span class="help-block">(in stock)</span>
									<span class="help-block" ng-bind="errors['store.quantity'][0]"></span>
								</div>
							</div>

							

							<div class="form-group" ng:class="{'has-error':errors['store.threshold'][0]}">
								<label class="col-md-2 control-label">Re-order threshold: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="number" min="1" class="form-control input-medium" ng-model="product.store.threshold" placeholder="">									
									<span class="help-block" ng-bind="errors['store.threshold'][0]"></span>
								</div>
							</div>

							<div class="form-group" ng:class="{'has-error':errors['store.maxQuantity'][0]}">
								<label class="col-md-2 control-label">Maximum Quantity: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<input type="number" min="1" class="form-control input-medium" ng-model="product.store.maxQuantity" placeholder="">									
									<span class="help-block" ng-bind="errors['store.maxQuantity'][0]"></span>
								</div>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.status[0]}">
								<label class="col-md-2 control-label">Available for order : <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<select class="table-group-action-input form-control input-medium" ng-model="product.deliveryType">
										<option value="0">Both</option>
										<option value="1">Express</option>
										<option value="2">Advanced</option>
									</select>
									<span class="help-block" ng-bind="errors.status[0]"></span>
								</div>
							</div>

							<div class="form-group" ng:class="{'has-error':errors.outOfStockType[0]}">
								<label class="col-md-2 control-label">Out of Stock Status: <span class="required">
								* </span>
								</label>
								<div class="col-md-4">
									<select ng-options="data.id as data.label for data in outOfStockType" class="form-control" ng-model="product.outOfStockType">
									</select>									
									<span class="help-block">(status shown when a product is out of stock)</span>
									<span class="help-block" ng-bind="errors.outOfStockType[0]"></span>
								</div>
							</div>

							<div ng-show="product.outOfStockType==2" class="form-group" >
								<label class="col-md-2 control-label">Set Availability: <span class="required">
								* </span>
								</label>
								<div class="col-md-2" ng:class="{'has-error':errors.availabilityDays[0]}">
									<input type="number" min="1" class="form-control" ng-model="product.availabilityDays" placeholder="Days">
									<span class="help-block">Days</span>
									<span class="help-block" ng-bind="errors.availabilityDays[0]"></span>
								</div>
								<div class="col-md-2">
									<select ng-options="fop.opVal as fop.opTag for fop in getTimeOptions()" class="form-control" ng-model="product.availabilityTime">
									</select>	
									<span class="help-block">Time</span>
									<span class="help-block" ng-bind="errors.availabilityTime[0]"></span>
								</div>
							</div>
							
						</div>		
					</tab>	
					<tab>
						<tab-heading>Dealers <span class="badge badge-danger" ng-if="taberr[2]">!</span></tab-heading>
						
						<div class="text-align-reverse margin-bottom-10">
							<a ng-click="product.dealerData.push({})" class="btn yellow">
								<i class="fa fa-plus"></i> Add Dealer 
							</a>							
						</div>
						<div ng-if="errors.dealerData[0]" class="alert alert-danger fade in">
							<i class="fa-lg fa fa-warning"></i>
							{{ errors.dealerData[0] }}
						</div>
						<div ng-if="errors['store.defaultDealerId'][0]" class="alert alert-danger fade in">
							<i class="fa-lg fa fa-warning"></i>
							{{ errors['store.defaultDealerId'][0] }}
						</div>
						<div ng-if="errors.repeated[0]" class="alert alert-danger fade in">
							<i class="fa-lg fa fa-warning"></i>
							{{ errors.repeated[0] }}
						</div>						
						<table class="table table-bordered table-hover">
							<thead>
								<tr role="row" class="heading">
									<th width="5%">
										 Sr.
									</th>
									<th width="20%">
										 Dealer
									</th>	
									<th width="20%">
										Trade deal(optional)
									</th>
									<th width="10%">
										Default
									</th>																	
									<th width="10%">
										Action
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="d in product.dealerData">
									<td>{{$index+1}}</td>
									<td ng:class="{'has-error':errors['dealerData.'+$index+'.dealerId'][0] || errors.repeated[0]}">										
										<select ng-options="d._id as d.title for d in dealerlist" class="form-control" ng-model="d.dealerId">
										</select>										
										<span class="help-block" ng-bind="errors['dealerData.'+$index+'.dealerId'][0]"></span>
									</td>
									<td>
										<div class="col-md-12">
											<div class="input-group" ng:class="{'has-error':errors['dealerData.'+$index+'.tradeQuantity'][0] || errors['dealerData.'+$index+'.tradeValue'][0]}">												
												<input type="number" step="1" min="1" class="form-control" ng-model="d.tradeQuantity">																									
												<span class="input-group-addon">
												<i class="fa fa-plus"></i>
												</span>												
												<input type="number" step="1" min="0" class="form-control" ng-model="d.tradeValue">																																					
											</div>											
											<span class="help-block">Purchase Qty + Free Qty</span>
											<span class="help-block" ng-bind="errors['dealerData.'+$index+'.tradeQuantity'][0]"></span>
											<span class="help-block" ng-bind="errors['dealerData.'+$index+'.tradeValue'][0]"></span>
										</div>										
									</td>
									<td>
										<a ng-class="(d.dealerId && product.store.defaultDealerId == d.dealerId)?'btn-success':''" class="btn btn-sm" ng-click="setDefault(d.dealerId)">
											Default
										</a>
									</td>
									<td>
										<a href="#" class="btn default btn-sm" ng-click="removeDealer($index,d.dealerId)">
										<i class="fa fa-times"></i> Remove </a>
									</td>
								</tr>
							</tbody>
						</table>

						<!-- <div class="form-horizontal">
							<div class="form-group" ng:class="{'has-error':errors.dealers[0]}">
								<label class="col-md-2 control-label">Select Dealer: <span class="required">
								* </span>
								</label>
								<div class="col-md-10">
									<select ng-options="d._id as d.title for d in dealerlist" class="form-control" ng-model="product.dealers" multiple="">
									</select>							
									<span class="help-block">(in stock)</span>
									<span class="help-block" ng-bind="errors.dealers[0]"></span>
								</div>
							</div>
						</div> -->
					</tab>	
					<tab>
						<tab-heading >Pricing <span class="badge badge-danger" ng-if="taberr[3]">!</span></tab-heading>
						<div class="form-horizontal">
							<table class="table table-bordered">
						        <thead>
						            <tr>	
						            	<td class="control-label">
						            		<label class="control-label">Cost Price: <span class="required"> * </span></label>
						            	</td>					            	
						            	<td ng:class="{'has-error':errors.price[0]}" colspan="6">
						            		<div class="col-md-5">
							            		<div class="input-group">
													<input min="0" type="number" step="any" class="form-control" ng-model="product.price" placeholder="">									
													<span class="input-group-addon">
														Per Unit
													</span>
												</div>												
												<span class="help-block" ng-bind="errors.price[0]"></span>
											</div>
						            	</td>
						            </tr>
						            <tr role="row" class="heading">                        						                
						                <th width="14%">
						                     Name
						                </th>
						                <th width="14%">
						                     Markup Type
						                </th>                                   
						                <th width="14%">
						                     Value
						                </th>
						                <th width="14%">
						                     From Qty
						                </th>
						                <th width="14%">
						                     To Qty
						                     <br><small>Use 99999 for last range</small>
						                </th>
						                <th width="14%">
						                     Calculated	
						                     <br><small>(Per Unit)</small>
						                </th>
						                <th width="14%">
						                	Action
						                </th>
						            </tr>
						        </thead>
						        <tbody>					            
						            <tr><td colspan="7"><h4>Single Purchase</h4></td></tr>
						            <tr ng-if="price.category == 'pricing' && kp!='gift_packaging'" ng-repeat="(kp, price) in pricing.settings">						                
						                <td class="control-label"> 
						                	<label class="control-label">
						                		{{price.label}}: <span class="required"> * </span>
						                	</label>
						                </td>
						                <td>

						                	<label ng-if="product[kp] | isEmpty" class="control-label">

						                		{{ price.type==0 ? 'Fix Amount':'% of Amount' }}
						                	</label>						                	
						                	<select ng-if="!(product[kp] | isEmpty)" class="form-control" ng-model="product[kp].type">            
						                        <option value="0">Fix Amount</option>
						                        <option value="1">% of Amount</option>
						                    </select>							                
						                </td>
						                <td>
						                	<label ng-if="product[kp] | isEmpty" class="control-label">
						                		{{ price.value }}
						                	</label>
						                    <div ng-if="!(product[kp] | isEmpty)" ng:class="{'has-error':errors[kp+'.value'][0]}">
						                    	<input min="0" type="number" step="any" class="form-control" ng-model="product[kp].value" placeholder="">						                    
						                    	<span class="help-block" ng-bind="errors[kp+'.value'][0]"></span>
						                    </div>
						                </td>						                
						                <td colspan="2" align="center">
						                	<label class="control-label">N/A</label>
						                </td>
						                <td>
						                	<label ng-if="!(product[kp] | isEmpty)" class="control-label">
						                		{{ product[kp].type == 0 ? formatNumber(product.price+product[kp].value) : formatNumber(product.price+(product.price/100*product[kp].value)) }}
						                	</label>
						                    <label ng-if="product[kp] | isEmpty" class="control-label">
												{{ price.type==0 ? formatNumber(product.price+price.value) : formatNumber(product.price+(product.price/100*price.value)) }}
											</label>																							
						                </td>
						                <td> 
						                	<a class="btn btn-xs default" ng-if="product[kp] | isEmpty" href="javascript:void();" ng-click="edittier(kp,price,1)">Custom</a>
						                	<a class="btn btn-xs default" ng-if="!(product[kp] | isEmpty)" href="javascript:void();" ng-click="edittier(kp,price,0)">Default</a>
						                </td>
						            </tr>
						            <tr>
						            	<td colspan="7">
						            		<h4>Bulk Purchase
						            			<label class="pull-right control-label">
								            		 Disable bulk : <input plugin-uniform type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="product.bulkDisable"> 
								            	</label>
						            		</h4>
							            	
							            </td>
							        </tr>							        
						            <tr ng-if="price.category == 'bulk_pricing'" ng-repeat-start="(kp, price) in pricing.settings"></tr>
						           	
						            <tr ng-if="(product[kp] | isEmpty)" ng-hide="product.bulkDisable == 1" ng-repeat="(bk, slots) in price.bulk">                            
						                <td class="control-label" rowspan="{{price.bulk.length}}" ng-if="$index == 0">
						                	<label class="control-label">{{price.label}}: <span class="required"> * </span></label>
						                </td>
						                <td>
						                	<label class="control-label">
						                		{{ slots.type == 0 ? 'Fix Amount':'% of Amount' }}
						                	</label>						                	
						                </td>
						                <td>
						                    <label class="control-label">
						                		{{ slots.value }}
						                	</label>						                    
						                </td>
						                <td>
						                    <label class="control-label">
						                		{{ slots.from_qty }}
						                	</label>						                    
						                </td>
						                <td>
						                    <label class="control-label">
						                		{{ slots.to_qty }}
						                	</label>						                    
						                </td>
						                <td>	
						                	<label class="control-label">
						                		{{ slots.type==0 ? formatNumber(product.price+slots.value) : formatNumber(product.price+(product.price/100*slots.value)) }}
						                	</label>					                    						                    
						                </td>
						                <td>
						                	<a class="btn btn-xs default" ng-if="$index == 0" href="javascript:void();" ng-click="edittier(kp,price,1)">Custom</a>						                	
						                </td>
						            </tr>						            						            
						            
						            <tr ng-if="!(product[kp] | isEmpty)" ng-hide="product.bulkDisable == 1" ng-repeat="(bk, slots) in product[kp].bulk">                            
						                <td class="control-label" rowspan="{{product[kp].bulk.length}}" ng-if="$index == 0">
						                	<label class="control-label">{{product[kp].label}}: <span class="required"> * </span></label>
						                </td>
						                <td ng:class="{'has-error':errors[kp+'.bulk.'+bk+'.type'][0]}">						                							                	
						                	<select empty="false" class="form-control" ng-model="slots.type">            
						                        <option value="0">Fix Amount</option>
						                        <option value="1">% of Amount</option>
						                    </select>
						                    <span class="help-block" ng-bind="errors[kp+'.bulk.'+bk+'.type'][0]"></span>
						                </td>
						                <td ng:class="{'has-error':errors[kp+'.bulk.'+bk+'.value'][0]}">						                    
						                    <input min="0" type="number" step="any" class="form-control" ng-model="slots.value" placeholder="">
						                    <span class="help-block" ng-bind="errors[kp+'.bulk.'+bk+'.value'][0]"></span>
						                </td>
						                <td ng:class="{'has-error':errors[kp+'.bulk.'+bk+'.from_qty'][0]}">						                    
						                    <input min="0" type="number" class="form-control" ng-model="slots.from_qty" placeholder="From Qty">						                    
						                    <span class="help-block" ng-bind="errors[kp+'.bulk.'+bk+'.from_qty'][0]"></span>
						                </td>
						                <td ng:class="{'has-error':errors[kp+'.bulk.'+bk+'.to_qty'][0]}">						                   
						                    <input min="0" type="number" class="form-control" ng-model="slots.to_qty" placeholder="To Qty" max="99999">						                    
						                    <span class="help-block" ng-bind="errors[kp+'.bulk.'+bk+'.to_qty'][0]"></span>
						                </td>
						                <td>
						                    <label ng-if="!(product[kp] | isEmpty)" class="control-label">
												{{ slots.type == 0 ? formatNumber(product.price+slots.value) : formatNumber(product.price+(product.price/100*slots.value)) }}
											</label>																							
						                </td>
						                <td>						                	
						                	<a class="btn btn-xs default" ng-if="$index == 0" href="javascript:void();" ng-click="edittier(kp,price,0)">Default</a>
						                	<a class="btn btn-xs default" ng-if="product[kp].bulk.length < 4 && $index == 0" href="javascript:void();" ng-click="product[kp].bulk.push({type:0,value:null,from_qty:null,to_qty:null})">+</a>
						                	<a class="btn btn-xs default" ng-if="$index > 0" href="javascript:void();" ng-click="product[kp].bulk.splice($index,1)">Remove</a>
						                </td>
						            </tr>
						            
						            <tr ng-repeat-end ng-if="price.category == 'bulk_pricing'"></tr>

						        </tbody>
						    </table>						    
						</div>
					</tab>						
					<tab>
						<tab-heading>Meta <span class="badge badge-danger" ng-if="taberr[4]">!</span></tab-heading>
						
						<div class="form-horizontal">
							<div class="form-group" ng:class="{'has-error':errors.metaTitle[0]}">
								<label class="col-md-2 control-label">Meta Title:</label>
								<div class="col-md-10">
									<input type="text" class="form-control maxlength-handler" ng-model="product.metaTitle" maxlength="100" placeholder="">
									<span class="help-block">
									max 100 chars </span>
									<span class="help-block" ng-bind="errors.metaTitle[0]"></span>
								</div>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.metaKeywords[0]}">
								<label class="col-md-2 control-label">Meta Keywords:</label>
								<div class="col-md-10">
									<textarea class="form-control maxlength-handler" rows="5" ng-model="product.metaKeywords" maxlength="200"></textarea>
									<span class="help-block">
									max 200 chars </span>
									<span class="help-block" ng-bind="errors.metaKeywords[0]"></span>
								</div>
							</div>
							<div class="form-group" ng:class="{'has-error':errors.metaDescription[0]}">
								<label class="col-md-2 control-label">Meta Description:</label>
								<div class="col-md-10">
									<textarea class="form-control maxlength-handler" rows="5" ng-model="product.metaDescription" maxlength="200"></textarea>
									<span class="help-block">
									max 200 chars </span>
									<span class="help-block" ng-bind="errors.metaDescription[0]"></span>
								</div>
							</div>
						</div>
					</tab>
						
					<tab>
						<tab-heading>Images <span class="badge badge-danger" ng-if="taberr[5]">!</span></tab-heading>

						<div ng-if="errors.imageFiles[0]" class="alert alert-danger fade in">
							<i class="fa-lg fa fa-warning"></i>
							{{ errors.imageFiles[0] }}
						</div>
						<div id="tab_images_uploader_container" class="text-align-reverse margin-bottom-10">
							<a id="tab_images_uploader_pickfiles" href="#" ng-click="product.imageFiles.push({})" class="btn yellow">
								<i class="fa fa-plus"></i> Add Images 
							</a>							
						</div>
						<div class="row">
							<div id="tab_images_uploader_filelist" class="col-md-6 col-sm-12">
							</div>
						</div>
						<table class="table table-bordered table-hover">
							<thead>
								<tr role="row" class="heading">
									<th width="8%">
										 Image
									</th>
									<th width="25%">
										 Label
									</th>
									<th width="8%">
										 Sort Order
									</th>
									<th width="10%">
										 Cover Image
									</th>									
									<th width="10%">
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="f in product.imageFiles">
									<td ng:class="{'has-error':errors['imageFiles.'+$index+'.thumb'][0]}">

										<div class="fileinput fileinput-new" data-provides="fileinput">
											<div class="fileinput-new thumbnail" style="max-width: 200px; max-height: 150px;">
												<img err-src="asset/i/defaultImage.png" 
												ng-src="products/i/200/{{f.source}}" src="asset/i/defaultImage.png" alt=""/>

											</div>
											<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
											</div>
											<div>
												<span class="btn default btn-file">
													<span class="fileinput-new">{{ f.source ? 'Change':'Select' }}</span>
													<span class="fileinput-exists">Change</span>
													<input type="file" placeholder="thumbnail" class="form-control" file-model="f.thumb"/>
												</span>	
											</div>
										</div>
										<span class="help-block" ng-bind="errors['imageFiles.'+$index+'.thumb'][0]"></span>
										
									</td>
									<td ng:class="{'has-error':errors['imageFiles.'+$index+'.label'][0]}">
										<input type="text" class="form-control" ng-model="f.label">
										<span class="help-block" ng-bind="errors['imageFiles.'+$index+'.label'][0]"></span>
									</td>
									<td ng:class="{'has-error':errors['imageFiles.'+$index+'.order'][0]}">
										<input type="text" class="form-control" ng-model="f.order">
										<span class="help-block" ng-bind="errors['imageFiles.'+$index+'.order'][0]"></span>
									</td>
									<td>
										<label>
											<input plugin-uniform type="radio" ng-model="f.coverimage" value="1" name="coverimage" ng-click="setCover($index)">
										</label>
									</td>									
									<td>
										<a href="#" class="btn default btn-sm" ng-click="imageRemove($index)">
										<i class="fa fa-times"></i> Remove </a>
									</td>
								</tr>
							</tbody>
						</table>
					</tab>

					<tab>
						<tab-heading>Suggestion <span class="badge badge-danger" ng-if="taberr[6]">!</span></tab-heading>
						
						<div class="form-group row">
							<label class="col-md-2 control-label">Products:</label>
							<div class="col-md-10">
								<a class="btn green" ng-click="clearSearch()" data-target='#static' data-toggle="modal"><i class="fa fa-lg fa-plus"></i>
									Add Product
								</a>								
							</div>
						</div>

					
						<div class="row">
							<div class="col-md-2" ng-repeat="pro in product.suggestions">
								<div class="thumbnail">
									<img width="100" err-src="asset/i/defaultImage.png" ng-src="products/i/200/{{pro.imageFiles[0].source}}">	
									<div class="caption">
										<h5 ng-bind="pro.name"></h5>
										<a class="btn btn-default" ng-click="removeProduct($index)"><i class="fa fa-trash"></i> Remove</a>
									</div>
								</div>										
							</div>
						</div>
					</tab>
				</tabset>				
			</div>			
		</div>
		</form>
	</div>
	<!-- <pre>{{cd|json}}</pre> -->
	<!-- <pre>{{product|json}}</pre> -->
</div>

<div data-replace="true" tabindex="-1" class="modal fade modal-scroll" id="static" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" data-dismiss="modal" class="close" type="button"></button>
				<h4 class="modal-title">Select Suggested Items</h4>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					
					<input ng-model="searchbox" type="search" ng:class="{'spinner':searching}" ng-keyup="searchItem($event)" class="form-control" placeholder="Search items to add in suggestion">						
					
					<table class="table table-striped table-hover" id="orderlist">
						<tbody>
							<tr ng-repeat="p in checkItem()">
								<td width="100" valign="middle">
									<img width="100" err-src="asset/i/defaultImage.png" ng-src="products/i/200/{{p.imageFiles[0].source}}">
								</td>
								<td valign="middle">									
									{{p.name}}
									<div><b>${{p.sprice}}</b></div>
								</td>
								<td valign="middle">
									<a ng-if="!p.added" ng-click="addItem(p)" class="pull-right btn btn-default btn-xs green-stripe additem"><i class="fa fa-plus"></i> Add</a>
									<span ng-if="p.added" class="pull-right"><i class="fa fa-check"></i> Added</span>
								</td>
							</tr>							
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">				
				<button class="btn green" data-dismiss="modal" type="button">Done</button>
			</div>
		</div>
	</div>
	
</div>