<md-toast class="notify bottom">
	
	<h4 ng-click="closeToast()">&times;</h4>
	
	<div class="dependencypopuptext">
		<div class="dependencypopuptext-title"><i class="fa fa-clock-o" aria-hidden="true"></i>Our operational hours are from {{from}} - {{to}}.</div>
		<div class="dependencypopuptext-text">Place an order within these hours to get your orders in 1 HOUR! Or you can also place an advance order right now to be delivered at your desired date and time by selecting the "I want it later" option</div>
	</div>
</md-toast>